start at July, 5th end at July,5th
- update issue manage >> it doesn't need to care

In [10]:
import pandas as pd
import pymysql

In [11]:
kospi = pd.read_csv('kospi(18.07.05).csv')
kosdaq = pd.read_csv('kosdaq(18.07.05).csv', error_bad_lines=False)
konex = pd.read_csv('konex(18.07.05).csv', error_bad_lines=False)

b'Skipping line 797: expected 12 fields, saw 14\n'
b'Skipping line 123: expected 13 fields, saw 16\n'

In [12]:
# MySQL Connection 연결 (DB 연결)
def setting_db():
    conn = pymysql.connect(host="localhost", 
                       port=3306, user="root", 
                       passwd="qlqtmajrwk",
                       db="yejinyDB",
                       charset="utf8")
    cursor = conn.cursor(pymysql.cursors.DictCursor) # 리스트로 받기(tuple은 conn.cursor())
    return conn, cursor

In [59]:
# Corp table 만들기
conn, cursor = setting_db()
# 종목코드 crp_cd 법인구분 crp_cls 기업명 crp_nm 업종코드 mrk_cd 업종명 mrk_nm
# 상장주식수 listed(stocks) 자본금 capital 액면가 par(value) 통화 currency 주소 addr
sql = '''CREATE TABLE Corp (crp_cd nvarchar(45) NOT NULL,
                            crp_cls nvarchar(5) NOT NULL,
                            crp_nm nvarchar(150) NOT NULL,
                            mrk_cd nvarchar(45) NOT NULL,
                            mrk_nm nvarchar(150) NOT NULL,
                            listed bigint,
                            capital bigint,
                            par int,
                            currency nvarchar(20),
                            addr nvarchar(100),
                            PRIMARY KEY(crp_cd)
                            );
                            '''
cursor.execute(sql)
conn.commit()
conn.close()

In [15]:
kospi

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소,총카운트
0,1,095570,AJ네트웍스,147603.0,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)",779.0
1,2,068400,AJ렌터카,147601.0,운송장비 임대업,"22,146,300","11,073,150,000",500,원(KRW),1544-1600,서울특별시 구로구 서부샛길 822,779.0
2,3,006840,AK홀딩스,116409.0,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-6923-2921,서울특별시 구로구 구로중앙로 152(구로동),779.0
3,4,027410,BGF,74701.0,종합 소매업,"95,369,179","95,369,179,000","1,000",NaN,1577-3663,서울특별시 강남구 테헤란로 405,779.0
4,5,282330,BGF리테일,74701.0,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW),1577-3663,서울특별시 강남구 테헤란로 405 BGF사옥,779.0
5,6,138930,BNK금융지주,116409.0,기타 금융업,"325,935,246","1,629,676,230,000","5,000",원(KRW),051-620-3022,부산광역시 남구 문현금융로 30(문현동),779.0
6,7,001460,BYC,31401.0,봉제의복 제조업,"624,615","4,200,000,000","5,000",원(KRW),02-840-3175,서울특별시 영등포구 도림천로21길 3,779.0
7,8,001040,CJ,116409.0,기타 금융업,"29,176,998","157,914,810,000","5,000",원(KRW),02-726-8114,"서울특별시 중구 동호로 330 쌍림동, 씨제이제일제당센터",779.0
8,9,079160,CJ CGV,105901.0,"영화, 비디오물, 방송프로그램 제작 및 배급업","21,161,313","10,580,656,500",500,원(KRW),02-371-6660,서울특별시 용산구 한강대로23길 55 아이파크몰 6층(한강로동),779.0
9,10,000120,CJ대한통운,84903.0,도로 화물 운송업,"22,812,344","114,061,720,000","5,000",원(KRW),02-3782-0114,서울특별시 중구 세종대로9길 53,779.0
10,11,011150,CJ씨푸드,31007.0,기타 식품 제조업,"35,930,773","18,065,386,500",500,원(KRW),031-730-9114,경기도 성남시 중원구 둔촌대로388번길 32 (상대원동),779.0
11,12,097950,CJ제일제당,31007.0,기타 식품 제조업,"15,053,186","81,903,095,000","5,000",원(KRW),726-8114,서울특별시 중구 동호로 330,779.0
12,13,037560,CJ헬로,106002.0,텔레비전 방송업,"77,446,865","193,617,162,500","2,500",원(KRW),02-1855-1000,"서울특별시 마포구 월드컵북로56길 19 6층(상암동, 드림타워)",779.0
13,14,000590,CS홀딩스,116409.0,기타 금융업,"1,154,482","5,772,410,000","5,000",원(KRW),02-3459-9363,경상북도 포항시 남구 괴동로 43 (장흥동),779.0
14,15,012030,DB,106201.0,"컴퓨터 프로그래밍, 시스템 통합 및 관리업","201,173,933","100,586,966,500",500,원(KRW),02-2136-6000,서울특별시 강남구 삼성로96길 23 7층,779.0
15,16,016610,DB금융투자,116601.0,금융 지원 서비스업,"42,446,389","212,231,945,000","5,000",원(KRW),02-369-3000,서울특별시 영등포구 국제금융로8길 32 동부증권빌딩,779.0
16,17,005830,DB손해보험,116501.0,보험업,"70,800,000","35,400,000,000",500,원(KRW),02-1588-0100,서울특별시 강남구 테헤란로 432,779.0
17,18,000990,DB하이텍,32601.0,반도체 제조업,"44,398,588","222,554,520,000","5,000",원(KRW),02-3484-2888,서울특별시 강남구 테헤란로 432 (주)동부하이텍,779.0
18,19,139130,DGB금융지주,116409.0,기타 금융업,"169,145,833","845,729,165,000","5,000",원(KRW),0537407900,대구광역시 북구 옥산로 111 대구은행 제2본점 9층,779.0
19,20,004840,DRB동일,116409.0,기타 금융업,"19,480,000","9,740,000,000",500,원(KRW),051-520-9000,부산광역시 금정구 공단동로55번길 28,779.0
20,21,155660,DSR,32402.0,1차 비철금속 제조업,"16,000,000","8,000,000,000",500,원(KRW),02-3420-3591,부산광역시 강서구 녹산산업중로192번길 7,779.0
21,22,069730,DSR제강,32401.0,1차 철강 제조업,"14,400,000","7,200,000,000",500,원(KRW),061-752-0121,전라남도 순천시 서면 산단1길 15,779.0
22,23,017940,E1,74607.0,기타 전문 도매업,"6,860,000","34,300,000,000","5,000",원(KRW),02-3441-4114,"서울특별시 강남구 영동대로 517 아셈타워 13,14층",779.0
23,24,007700,F&F,31401.0,봉제의복 제조업,"15,400,000","7,700,000,000",500,원(KRW),02-520-0001,"서울특별시 강남구 언주로 541(역삼동,외 에프앤에프빌딩)",779.0
24,25,114090,GKL,189102.0,유원지 및 기타 오락관련 서비스업,"61,855,670","30,927,835,000",500,원(KRW),3466-6209,서울특별시 강남구 삼성로 610 삼성동,779.0
25,26,078930,GS,116409.0,기타 금융업,"92,915,378","473,501,020,000","5,000",원(KRW),-,서울특별시 강남구 논현로 508,779.0
26,27,006360,GS건설,64101.0,건물 건설업,"74,183,027","370,915,135,000","5,000",원(KRW),02-2154-1112,서울특별시 종로구 종로 33 그랑서울,779.0
27,28,001250,GS글로벌,74608.0,상품 종합 도매업,"82,533,764","206,334,410,000","2,500",원(KRW),02-2270-8114,서울특별시 강남구 논현로 508 GS강남타워,779.0
28,29,007070,GS리테일,74701.0,종합 소매업,"77,000,000","77,000,000,000","1,000",원(KRW),02-2005-1114,서울특별시 강남구 논현로 508GS타워(역삼동 679),779.0
29,30,012630,HDC,64101.0,건물 건설업,"31,445,960","157,229,800,000","5,000",원(KRW),02-2008-9114,서울특별시 강남구 영동대로 520 아이파크타워,779.0
...,...,...,...,...,...,...,...,...,...,...,...,...
751,750,009540,현대중공업,33101.0,선박 및 보트 건조업,"69,165,426","345,827,130,000","5,000",원(KRW),052-202-2114,울산광역시 동구 방어진순환도로 1000 현대중공업,779.0
752,751,267250,현대중공업지주,116409.0,기타 금융업,"16,286,617","81,433,085,000","5,000",원(KRW),053-670-7114,대구광역시 달성군 유가면 테크노순환로3길 50,779.0
753,752,001500,현대차투자증권,116601.0,금융 지원 서비스업,"29,337,111","146,685,555,000","5,000",원(KRW),02-3787-2114,서울특별시 영등포구 국제금융로2길 32,779.0
754,753,227840,현대코퍼레이션홀딩스,74603.0,음·식료품 및 담배 도매업,"9,100,836","45,504,180,000","5,000",원(KRW),02-390-1568,서울특별시 종로구 율곡로2길 25,779.0
755,754,001450,현대해상,116501.0,보험업,"89,400,000","44,700,000,000",500,원(KRW),02-1588-5656,서울 종로구 세종로 현대해상화재보험빌딩,779.0
756,755,057050,현대홈쇼핑,74709.0,무점포 소매업,"12,000,000","60,000,000,000","5,000",원(KRW),02-2143-2000,서울특별시 강동구 올림픽로70길 34,779.0
757,756,093240,형지엘리트,31401.0,봉제의복 제조업,"19,154,798","9,577,399,000",500,원(KRW),02-3279-8015,서울특별시 강남구 테헤란로38길 12 디앤와이빌딩,779.0
758,757,003010,혜인,74605.0,기계장비 및 관련 물품 도매업,"12,712,747","6,356,373,500",500,원(KRW),02-3498-4500,서울특별시 서초구 동산로 86 혜인빌딩,779.0
759,758,111110,호전실업,31401.0,봉제의복 제조업,"8,000,000","4,657,880,000",500,원(KRW),02-706-6613,"서울특별시 마포구 마포대로 19 신화빌딩, 11층, 12층",779.0
760,759,008770,호텔신라,74708.0,기타 상품 전문 소매업,"39,248,121","200,000,000,000","5,000",원(KRW),02-2233-3131,서울특별시 중구 동호로 249 (주) 호텔신라,779.0
761,760,002460,화성산업,64101.0,건물 건설업,"12,450,800","62,254,000,000","5,000",원(KRW),053-767-2111,대구광역시 수성구 동대구로 111,779.0
762,761,013520,화승알앤에이,33003.0,자동차 신품 부품 제조업,"64,561,210","32,280,605,000",500,원(KRW),055-370-3331-4,경상남도 양산시 충렬로 61,779.0
763,762,241590,화승엔터프라이즈,116409.0,기타 금융업,"60,536,670","30,268,335,000",500,원(KRW),02-588-8042,"부산광역시 연제구 중앙대로 1079 장천빌딩 6층 (연산동, 장천빌딩)",779.0
764,763,006060,화승인더스트리,32202.0,플라스틱제품 제조업,"55,320,000","27,660,000,000",500,원(KRW),051-311-0081,부산광역시 연제구 중앙대로 1079 장천빌딩 6층,779.0
765,764,010690,화신,33003.0,자동차 신품 부품 제조업,"34,920,410","17,460,205,000",500,원(KRW),054-330-5400,경상북도 영천시 도남공단길 94-2,779.0
766,765,133820,화인베스틸,32401.0,1차 철강 제조업,"29,550,000","16,050,000,000",500,원(KRW),055-259-2000,경상남도 창녕군 창녕읍 창밀로 259-33,779.0
767,766,010660,화천기계,32902.0,특수 목적용 기계 제조업,"2,200,000","11,000,000,000","5,000",원(KRW),02-523-7766,서울특별시 서초구 방배로 46,779.0
768,767,000850,화천기공,32902.0,특수 목적용 기계 제조업,"2,200,000","11,000,000,000","5,000",원(KRW),062-951-5111,광주광역시 광산구 하남산단4번로 123-17 (장덕동) 화천기공(주),779.0
769,768,016580,환인제약,32102.0,의약품 제조업,"18,600,070","9,700,035,000",500,원(KRW),02-405-3000,"서울특별시 송파구 법원로6길 11 (문정동, 환인빌딩)",779.0
770,769,032560,황금에스티,32402.0,1차 비철금속 제조업,"14,000,000","7,000,000,000",500,원(KRW),031-363-8000,경기도 안산시 단원구 엠티브이1로 25 (주)황금에스티,779.0
771,770,004800,효성,32005.0,화학섬유 제조업,"35,117,455","175,587,275,000","5,000",원(KRW),02-707-7000,서울특별시 마포구 마포대로 119 (공덕동),779.0
772,771,094280,효성 ITX,147509.0,기타 사업지원 서비스업,"11,558,200","5,779,100,000",500,원(KRW),02-2102-8400,서울특별시 영등포구 선유동2로 57 이레빌딩 15층,779.0
773,772,093370,후성,32001.0,기초 화학물질 제조업,"92,606,819","46,303,409,500",500,원(KRW),02-553-0097,경기도 화성시 팔탄면 현대기아로 72-37,779.0
774,773,081660,휠라코리아,74604.0,생활용품 도매업,"61,115,070","61,674,420,000","1,000",원(KRW),02-523-6100,"서울특별시 서초구 명달로 6 (서초동, 11호)",779.0
775,774,005870,휴니드테크놀러지스,32604.0,통신 및 방송 장비 제조업,"14,116,015","70,580,075,000","5,000",원(KRW),032-457-6000,인천광역시 연수구 벤처로 87,779.0
776,775,079980,휴비스,32005.0,화학섬유 제조업,"34,500,000","172,500,000,000","5,000",원(KRW),02-2189-4567,서울특별시 강남구 학동로 343,779.0
777,776,005010,휴스틸,32401.0,1차 철강 제조업,"7,534,848","37,674,240,000","5,000",원(KRW),02-828-9000,"서울특별시 강남구 테헤란로 512 (대치동, 신안빌딩 14층)",779.0
778,777,069260,휴켐스,32004.0,기타 화학제품 제조업,"40,878,588","40,878,588,000","1,000",원(KRW),02-2262-0600,서울특별시 중구 퇴계로 173 19층,779.0
779,778,000540,흥국화재,116501.0,보험업,"64,242,645","325,821,225,000","5,000",원(KRW),02-2002-6000,서울특별시 종로구 새문안로 68,779.0
780,779,003280,흥아해운,85001.0,해상 운송업,"175,643,430","87,821,715,000",500,원(KRW),02-3449-3000,서울특별시 송파구 새말로5길 21 흥아해운 빌딩,NaN

In [45]:
type(kospi)

pandas.core.frame.DataFrame

In [33]:
len(kospi)

781

In [40]:
conn, cursor = setting_db()

In [36]:
conn.commit()

In [26]:
kospi.loc[4]

번호                                 5
종목코드                          282330
기업명                           BGF리테일
업종코드                           74701
업종                            종합 소매업
상장주식수(주)                  17,283,906
자본금(원)                17,283,906,000
액면가(원)                         1,000
통화구분                          원(KRW)
대표전화                       1577-3663
주소          서울특별시 강남구 테헤란로 405 BGF사옥
총카운트                             779
Name: 4, dtype: object

In [55]:
conn.close()

In [70]:
i

316

In [67]:
kospi.loc[137]

번호               (수표동
종목코드         시그니쳐타워)
기업명               779
업종코드              NaN
업종                NaN
상장주식수(주)          NaN
자본금(원)            NaN
액면가(원)            NaN
통화구분              NaN
대표전화              NaN
주소                NaN
총카운트              NaN
Name: 137, dtype: object

In [71]:
#kospi
conn, cursor = setting_db()
for i in range(0, len(kospi)):
    
    try:
        k = kospi.loc[i]
        crp_cd = str(k[1])
        crp_cls = 'Y'
        crp_nm = str(k[2])

        mrk_cd = str(int(k[3]))
        mrk_nm = str(k[4])
        listed = str(k[5]).replace(",","")
        capital = str(k[6]).replace(",","")
        par = str(k[7]).replace(",","")
    #    listed = int(k[5].replace(",","")) #int
    #    capital = float(k[6].replace(",","")) #decimal
    #    par = int(k[7].replace(",","")) #int
        currency = str(k[8])
        addr = str(k[9])
        sql = "insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"+crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '"+mrk_cd+"', '"+mrk_nm+"', "+listed+", "+capital+", "+par+", '"+currency+"', '"+addr+"';"
        print(sql)
        cursor.execute(sql)
    except:
        pass

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '095570', 'Y', 'AJ네트웍스', '147603', '산업용 기계 및 장비 임대업', 46822295, 46822295000, 1000, '원(KRW)', '02-6363-9999';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068400', 'Y', 'AJ렌터카', '147601', '운송장비 임대업', 22146300, 11073150000, 500, '원(KRW)', '1544-1600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006840', 'Y', 'AK홀딩스', '116409', '기타 금융업', 13247561, 66237805000, 5000, '원(KRW)', '02-6923-2921';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '027410', 'Y', 'BGF', '74701', '종합 소매업', 95369179, 95369179000, 1000, 'nan', '1577-3663';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '282330', 'Y', 'BGF리테일', '74701', '종합 소매업', 17283906, 17283906000, 1000, '원(KRW)', '1577-3663';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '138930', 'Y', 'BNK금융지주', '116409', '기타 금융업', 325935246, 1629676230000, 5000, '원(KRW)', '051-620-3022';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001460', 'Y', 'BYC', '31401', '봉제의복 제조업', 624615, 4200000000, 5000, '원(KRW)', '02-840-3175';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001040', 'Y', 'CJ', '116409', '기타 금융업', 29176998, 157914810000, 5000, '원(KRW)', '02-726-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079160', 'Y', 'CJ CGV', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 21161313, 10580656500, 500, '원(KRW)', '02-371-6660';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000120', 'Y', 'CJ대한통운', '84903', '도로 화물 운송업', 22812344, 114061720000, 5000, '원(KRW)', '02-3782-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011150', 'Y', 'CJ씨푸드', '31007', '기타 식품 제조업', 35930773, 18065386500, 500, '원(KRW)', '031-730-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '097950', 'Y', 'CJ제일제당', '31007', '기타 식품 제조업', 15053186, 81903095000, 5000, '원(KRW)', '726-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037560', 'Y', 'CJ헬로', '106002', '텔레비전 방송업', 77446865, 193617162500, 2500, '원(KRW)', '02-1855-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000590', 'Y', 'CS홀딩스', '116409', '기타 금융업', 1154482, 5772410000, 5000, '원(KRW)', '02-3459-9363';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012030', 'Y', 'DB', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 201173933, 100586966500, 500, '원(KRW)', '02-2136-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016610', 'Y', 'DB금융투자', '116601', '금융 지원 서비스업', 42446389, 212231945000, 5000, '원(KRW)', '02-369-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005830', 'Y', 'DB손해보험', '116501', '보험업', 70800000, 35400000000, 500, '원(KRW)', '02-1588-0100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000990', 'Y', 'DB하이텍', '32601', '반도체 제조업', 44398588, 222554520000, 5000, '원(KRW)', '02-3484-2888';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '139130', 'Y', 'DGB금융지주', '116409', '기타 금융업', 169145833, 845729165000, 5000, '원(KRW)', '0537407900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004840', 'Y', 'DRB동일', '116409', '기타 금융업', 19480000, 9740000000, 500, '원(KRW)', '051-520-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '155660', 'Y', 'DSR', '32402', '1차 비철금속 제조업', 16000000, 8000000000, 500, '원(KRW)', '02-3420-3591';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '069730', 'Y', 'DSR제강', '32401', '1차 철강 제조업', 14400000, 7200000000, 500, '원(KRW)', '061-752-0121';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017940', 'Y', 'E1', '74607', '기타 전문 도매업', 6860000, 34300000000, 5000, '원(KRW)', '02-3441-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007700', 'Y', 'F&F', '31401', '봉제의복 제조업', 15400000, 7700000000, 500, '원(KRW)', '02-520-0001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '114090', 'Y', 'GKL', '189102', '유원지 및 기타 오락관련 서비스업', 61855670, 30927835000, 500, '원(KRW)', '3466-6209';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078930', 'Y', 'GS', '116409', '기타 금융업', 92915378, 473501020000, 5000, '원(KRW)', '-';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006360', 'Y', 'GS건설', '64101', '건물 건설업', 74183027, 370915135000, 5000, '원(KRW)', '02-2154-1112';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001250', 'Y', 'GS글로벌', '74608', '상품 종합 도매업', 82533764, 206334410000, 2500, '원(KRW)', '02-2270-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007070', 'Y', 'GS리테일', '74701', '종합 소매업', 77000000, 77000000000, 1000, '원(KRW)', '02-2005-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012630', 'Y', 'HDC', '64101', '건물 건설업', 31445960, 157229800000, 5000, '원(KRW)', '02-2008-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039570', 'Y', 'HDC아이콘트롤스', '64203', '전기 및 통신 공사업', 16460000, 8230000000, 500, '원(KRW)', '031-785-1711';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '089470', 'Y', 'HDC현대EP', '32004', '기타 화학제품 제조업', 31900000, 17200000000, 500, '원(KRW)', '041-350-0500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '294870', 'Y', 'HDC현대산업개발', '64101', '건물 건설업', 43938220, 219691100000, 5000, '원(KRW)', '02-2008-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '082740', 'Y', 'HSD엔진', '32901', '일반 목적용 기계 제조업', 32947142, 32947142000, 1000, '원(KRW)', '055-260-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '175330', 'Y', 'JB금융지주', '116409', '기타 금융업', 155439423, 777197115000, 5000, '원(KRW)', '02-2128-2727';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '234080', 'Y', 'JW생명과학', '32102', '의약품 제조업', 15834554, 39586385000, 2500, '원(KRW)', '041-351-7600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001060', 'Y', 'JW중외제약', '32102', '의약품 제조업', 19709034, 49898107500, 2500, '원(KRW)', '02-840-6777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096760', 'Y', 'JW홀딩스', '116409', '기타 금융업', 63258557, 31629278500, 500, '원(KRW)', '02-840-6777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '105560', 'Y', 'KB금융', '116409', '기타 금융업', 418111537, 2090557685000, 5000, '원(KRW)', '02-2073-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009440', 'Y', 'KC그린홀딩스', '116409', '기타 금융업', 22434980, 11217490000, 500, '원(KRW)', '02-320-6311';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '119650', 'Y', 'KC코트렐', '32901', '일반 목적용 기계 제조업', 13000000, 6500000000, 500, '원(KRW)', '02-3206-311';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092220', 'Y', 'KEC', '32601', '반도체 제조업', 112451621, 56225810500, 500, '원(KRW)', '02-2025-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001390', 'Y', 'KG케미칼', '32001', '기초 화학물질 제조업', 12440434, 64510415000, 5000, '원(KRW)', '052-231-1842';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001940', 'Y', 'KISCO홀딩스', '116409', '기타 금융업', 18476380, 18476380000, 1000, '원(KRW)', '055-260-0500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025000', 'Y', 'KPX케미칼', '32001', '기초 화학물질 제조업', 4840000, 24200000000, 5000, '원(KRW)', '02-2014-4000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092230', 'Y', 'KPX홀딩스', '116409', '기타 금융업', 4224646, 21123230000, 5000, '원(KRW)', '02-2014-4150';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000040', 'Y', 'KR모터스', '33109', '그외 기타 운송장비 제조업', 119759667, 59879833500, 500, '원(KRW)', '055-282-7011';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '044450', 'Y', 'KSS해운', '85001', '해상 운송업', 23185880, 11592940000, 500, '원(KRW)', '3702-2700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030210', 'Y', 'KTB투자증권', '116601', '금융 지원 서비스업', 60314092, 301570460000, 5000, '원(KRW)', '02-2184-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058850', 'Y', 'KTcs', '106309', '기타 정보 서비스업', 42685000, 23842500000, 500, '원(KRW)', '042-604-5138';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '093050', 'Y', 'LF', '31401', '봉제의복 제조업', 29240000, 146200000000, 5000, '원(KRW)', '02-3441-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003550', 'Y', 'LG', '116409', '기타 금융업', 172557131, 879359040000, 5000, '원(KRW)', '02-3773-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034220', 'Y', 'LG디스플레이', '32602', '전자부품 제조업', 357815700, 1789078500000, 5000, '원(KRW)', '02-3777-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001120', 'Y', 'LG상사', '74601', '상품 중개업', 38760000, 193800000000, 5000, '원(KRW)', '02-3773-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051900', 'Y', 'LG생활건강', '32004', '기타 화학제품 제조업', 15618197, 88589470000, 5000, '원(KRW)', '02-3773-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032640', 'Y', 'LG유플러스', '106102', '전기 통신업', 436611361, 2573969175000, 5000, '원(KRW)', '02-3773-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011070', 'Y', 'LG이노텍', '32602', '전자부품 제조업', 23667107, 118335535000, 5000, '원(KRW)', '02-3777-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066570', 'Y', 'LG전자', '32604', '통신 및 방송 장비 제조업', 163647814, 904169030000, 5000, '원(KRW)', '02-3777-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '108670', 'Y', 'LG하우시스', '32202', '플라스틱제품 제조업', 8967670, 50000000000, 5000, '원(KRW)', '3777-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051910', 'Y', 'LG화학', '32001', '기초 화학물질 제조업', 70592343, 391405715000, 5000, '원(KRW)', '02-3777-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079550', 'Y', 'LIG넥스원', '32502', '무기 및 총포탄 제조업', 22000000, 110000000000, 5000, '원(KRW)', '1644 - 2005';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006260', 'Y', 'LS', '116409', '기타 금융업', 32200000, 161000000000, 5000, '원(KRW)', '02-2189-9988';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000680', 'Y', 'LS네트웍스', '74608', '상품 종합 도매업', 78803016, 394015080000, 5000, '원(KRW)', '02-799-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010120', 'Y', 'LS산전', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 30000000, 150000000000, 5000, '원(KRW)', '02-2034-4237';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '229640', 'Y', 'LS전선아시아', '116409', '기타 금융업', 30624879, 15312439500, 500, '원(KRW)', '031-428-0288';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023150', 'Y', 'MH에탄올', '31101', '알코올음료 제조업', 7378526, 4596763000, 500, '원(KRW)', '055-231-0701';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035420', 'Y', 'NAVER', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 32962679, 16481339500, 500, '원(KRW)', '1588-3830';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '181710', 'Y', 'NHN엔터테인먼트', '105802', '소프트웨어 개발 및 공급업', 19565025, 9782512500, 500, '원(KRW)', '1544-6859';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005940', 'Y', 'NH투자증권', '116601', '금융 지원 서비스업', 281408887, 1531275030000, 5000, '원(KRW)', '02-768-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034310', 'Y', 'NICE', '137105', '회사 본부 및 경영 컨설팅 서비스업', 37882300, 18941150000, 500, '원(KRW)', '02-2122-4000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008260', 'Y', 'NI스틸', '32401', '1차 철강 제조업', 28491825, 14245912500, 500, '원(KRW)', '02-758-6789';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010060', 'Y', 'OCI', '32001', '기초 화학물질 제조업', 23849371, 127246855000, 5000, '원(KRW)', '02-727-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '100840', 'Y', 'S&TC', '32901', '일반 목적용 기계 제조업', 7297150, 3648575000, 500, '원(KRW)', '055-212-6500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064960', 'Y', 'S&T모티브', '33003', '자동차 신품 부품 제조업', 14623136, 73115680000, 5000, '원(KRW)', '051-509-2114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003570', 'Y', 'S&T중공업', '33003', '자동차 신품 부품 제조업', 32473439, 83683597500, 2500, '원(KRW)', '055-280-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036530', 'Y', 'S&T홀딩스', '116409', '기타 금융업', 16303886, 8351943000, 500, '원(KRW)', '02-3279-5010';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010950', 'Y', 'S-Oil', '31902', '석유 정제품 제조업', 112582792, 291511797500, 2500, '원(KRW)', '02-3772-5151';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034120', 'Y', 'SBS', '106002', '텔레비전 방송업', 18252582, 91262910000, 5000, '원(KRW)', '02-2061-0006';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101060', 'Y', 'SBS미디어홀딩스', '116409', '기타 금융업', 139896190, 69948095000, 500, '원(KRW)', '02-2113-5599';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004060', 'Y', 'SG세계물산', '74608', '상품 종합 도매업', 202424960, 101212480000, 500, '원(KRW)', '02-850-5191';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001380', 'Y', 'SG충방', '33003', '자동차 신품 부품 제조업', 44964143, 22482071500, 500, '원(KRW)', '070-5038-5498';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002360', 'Y', 'SH에너지화학', '32001', '기초 화학물질 제조업', 111133730, 55566865000, 500, '원(KRW)', '063-469-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009160', 'Y', 'SIMPAC', '32902', '특수 목적용 기계 제조업', 29084925, 14542462500, 500, '원(KRW)', '032-510-0044';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034730', 'Y', 'SK', '116409', '기타 금융업', 70360297, 15385286400, 200, '원(KRW)', '02-2121-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011790', 'Y', 'SKC', '32004', '기타 화학제품 제조업', 37534555, 187672775000, 5000, '원(KRW)', '031-250-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018670', 'Y', 'SK가스', '74607', '기타 전문 도매업', 9054167, 45270835000, 5000, '원(KRW)', '02-6200-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001740', 'Y', 'SK네트웍스', '74607', '기타 전문 도매업', 248187647, 620753237500, 2500, '원(KRW)', '02-2221-2114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006120', 'Y', 'SK디스커버리', '116409', '기타 금융업', 19037855, 111677150000, 5000, '원(KRW)', '02-2008-2008';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '210980', 'Y', 'SK디앤디', '126801', '부동산 임대 및 공급업', 16155000, 16155000000, 1000, '원(KRW)', '02-398-4700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096770', 'Y', 'SK이노베이션', '116409', '기타 금융업', 92465564, 468569950000, 5000, '원(KRW)', '02-2121-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001510', 'Y', 'SK증권', '116601', '금융 지원 서비스업', 320117171, 162014842500, 500, '원(KRW)', '02-3773-8245';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '285130', 'Y', 'SK케미칼', '32002', '합성고무 및 플라스틱 물질 제조업', 11579852, 65192610000, 5000, '원(KRW)', '02-2008-2726';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017670', 'Y', 'SK텔레콤', '106102', '전기 통신업', 80745711, 44639473000, 500, '원(KRW)', '02-6100-2114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000660', 'Y', 'SK하이닉스', '32601', '반도체 제조업', 728002365, 3657652050000, 5000, '원(KRW)', '031-630-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005610', 'Y', 'SPC삼립', '31007', '기타 식품 제조업', 8629009, 43145045000, 5000, '원(KRW)', '02-2276-5061';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011810', 'Y', 'STX', '74608', '상품 종합 도매업', 17862430, 44656075000, 2500, '원(KRW)', '02-316-9600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '077970', 'Y', 'STX엔진', '32901', '일반 목적용 기계 제조업', 23008904, 57522260000, 2500, '원(KRW)', '-';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001130', 'Y', '대한제분', '31006', '곡물가공품, 전분 및 전분제품 제조업', 1690000, 8450000000, 5000, '원(KRW)', '02-3455-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003490', 'Y', '대한항공', '85101', '항공 여객 운송업', 94844634, 479777140000, 5000, '원(KRW)', '02-2656-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005880', 'Y', '대한해운', '85001', '해상 운송업', 24426504, 122132520000, 5000, '원(KRW)', '02-3701-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003830', 'Y', '대한화섬', '32005', '화학섬유 제조업', 1328000, 6640000000, 5000, '원(KRW)', '02-3406-0300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016090', 'Y', '대현', '31401', '봉제의복 제조업', 45282310, 26906155000, 500, '원(KRW)', '02-3485-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '069460', 'Y', '대호에이엘', '32402', '1차 비철금속 제조업', 27134839, 13567419500, 500, '원(KRW)', '053-610-5400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012510', 'Y', '더존비즈온', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 29672700, 14836350000, 500, '원(KRW)', '02-6233-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004830', 'Y', '덕성', '32202', '플라스틱제품 제조업', 15680000, 8536000000, 500, '원(KRW)', '031-204-0781';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024900', 'Y', '덕양산업', '33003', '자동차 신품 부품 제조업', 32564980, 16282490000, 500, '원(KRW)', '052-219-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '145720', 'Y', '덴티움', '32701', '의료용 기기 제조업', 11068830, 6184415000, 500, '원(KRW)', '070-7098-9158';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002150', 'Y', '도화엔지니어링', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 33720000, 16860000000, 500, '원(KRW)', '02-6323-3032';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001620', 'Y', '동국실업', '33003', '자동차 신품 부품 제조업', 53312072, 26656036000, 500, '원(KRW)', '02-754-2961';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001230', 'Y', '동국제강', '32401', '1차 철강 제조업', 95432737, 589228035000, 5000, '원(KRW)', '02-317-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023450', 'Y', '동남합성', '32001', '기초 화학물질 제조업', 1314953, 7889435000, 5000, '원(KRW)', '041-840-3100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004140', 'Y', '동방', '84903', '도로 화물 운송업', 32523970, 32523970000, 1000, '원(KRW)', '02-2190-8100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007590', 'Y', '동방아그로', '32003', '비료, 농약 및 살균, 살충제 제조업', 13617577, 6808788500, 500, '원(KRW)', '02-580-3600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005960', 'Y', '동부건설', '64102', '토목 건설업', 20861033, 105433825000, 5000, '원(KRW)', '02-3484-2114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016380', 'Y', '동부제철', '32401', '1차 철강 제조업', 27233424, 136967900000, 5000, '원(KRW)', '02-3450-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '083370', 'Y', '동북아12호선박투자', '147601', '운송장비 임대업', 1585660, 7928300000, 5000, '원(KRW)', '02-590-1400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '083380', 'Y', '동북아13호선박투자', '147601', '운송장비 임대업', 1585660, 7928300000, 5000, '원(KRW)', '02-590-1400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '026960', 'Y', '동서', '74603', '음·식료품 및 담배 도매업', 99700000, 49850000000, 500, '원(KRW)', '02-701-5050';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002210', 'Y', '동성제약', '32102', '의약품 제조업', 24756574, 24756574000, 1000, '원(KRW)', '02-6911-3600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '102260', 'Y', '동성코퍼레이션', '137105', '회사 본부 및 경영 컨설팅 서비스업', 45444970, 45444970000, 1000, '원(KRW)', '02-2136-4300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005190', 'Y', '동성화학', '32001', '기초 화학물질 제조업', 5335564, 5531244000, 1000, '원(KRW)', '051-200-4500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000640', 'Y', '동아쏘시오홀딩스', '116409', '기타 금융업', 6138294, 30691470000, 5000, '원(KRW)', '02-920-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '170900', 'Y', '동아에스티', '32102', '의약품 제조업', 8443868, 42219340000, 5000, '원(KRW)', '02-920-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '028100', 'Y', '동아지질', '64201', '기반조성 및 시설물 축조관련 전문공사업', 11500000, 5750000000, 500, '원(KRW)', '051-580-5550';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '282690', 'Y', '동아타이어', '32201', '고무제품 제조업', 13733015, 6866507500, 500, '원(KRW)', '055-389-0011';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001520', 'Y', '동양', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 238684063, 119850042500, 500, '원(KRW)', '02-6150-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '084670', 'Y', '동양고속', '84902', '육상 여객 운송업', 3099345, 16959295000, 5000, '원(KRW)', '02-535-3111';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030790', 'Y', '동양네트웍스', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 94336452, 47168226000, 500, '원(KRW)', '02-6923-0000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002900', 'Y', '동양물산기업', '32902', '특수 목적용 기계 제조업', 65388900, 32694450000, 500, '원(KRW)', '02-3014-2742';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '082640', 'Y', '동양생명', '116501', '보험업', 161358585, 806792925000, 5000, '원(KRW)', '02-1577-1004';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008970', 'Y', '동양철관', '32401', '1차 철강 제조업', 88885290, 44442645000, 500, '원(KRW)', '02-6903-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092780', 'Y', '동양피스톤', '33001', '자동차용 엔진 및 자동차 제조업', 13168460, 6584230000, 500, '원(KRW)', '031-489-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003580', 'Y', '동원', '20702', '기타 비금속광물 광업', 19308650, 9654325000, 500, '원(KRW)', '02-6925-4450';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049770', 'Y', '동원F&B', '31007', '기타 식품 제조업', 3859124, 19295620000, 5000, '원(KRW)', '02-589-3000-1';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018500', 'Y', '동원금속', '33003', '자동차 신품 부품 제조업', 46754933, 23377466500, 500, '원(KRW)', '053-859-2311';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006040', 'Y', '동원산업', '10301', '어로 어업', 3363200, 16816000000, 5000, '원(KRW)', '02-589-3333';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030720', 'Y', '동원수산', '10301', '어로 어업', 4630036, 23150180000, 5000, '원(KRW)', '02-528-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014820', 'Y', '동원시스템즈', '32202', '플라스틱제품 제조업', 25618511, 129419345000, 5000, '원(KRW)', '02-589-4700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '163560', 'Y', '동일고무벨트', '32201', '고무제품 제조업', 13000000, 6500000000, 500, '원(KRW)', '051-520-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001530', 'Y', '동일방직', '31301', '방적 및 가공사 제조업', 2378309, 11891545000, 5000, '원(KRW)', '02-2222-3071';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004890', 'Y', '동일산업', '32401', '1차 철강 제조업', 2425215, 12126075000, 5000, '원(KRW)', '054-288-7500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002690', 'Y', '동일제강', '32401', '1차 철강 제조업', 15000000, 7500000000, 500, '원(KRW)', '031-677-1234';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000020', 'Y', '동화약품', '32102', '의약품 제조업', 27931470, 27931470000, 1000, '원(KRW)', '02-2021-9300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000150', 'Y', '두산', '137105', '회사 본부 및 경영 컨설팅 서비스업', 19198003, 134845735000, 5000, '원(KRW)', '02-3398-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011160', 'Y', '두산건설', '64101', '건물 건설업', 73326089, 46663044500, 500, '원(KRW)', '02-510-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '241560', 'Y', '두산밥캣', '116409', '기타 금융업', 100249166, 50124583000, 500, '원(KRW)', '02-3398-0993';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042670', 'Y', '두산인프라코어', '32902', '특수 목적용 기계 제조업', 208153053, 1040765265000, 5000, '원(KRW)', '032-211-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034020', 'Y', '두산중공업', '32901', '일반 목적용 기계 제조업', 117146232, 585731160000, 5000, '원(KRW)', '055-278-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016740', 'Y', '두올', '33003', '자동차 신품 부품 제조업', 18235986, 45589965000, 2500, '원(KRW)', '02-6922-7132';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024090', 'Y', '디씨엠', '32401', '1차 철강 제조업', 11700000, 6000000000, 500, '원(KRW)', '055-366-9991';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003160', 'Y', '디아이', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 31496785, 17248392500, 500, '원(KRW)', '02-546-5501';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092200', 'Y', '디아이씨', '33003', '자동차 신품 부품 제조업', 22467410, 11233705000, 500, '원(KRW)', '052-255-0500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013570', 'Y', '디와이', '116409', '기타 금융업', 26319633, 13159816500, 500, '원(KRW)', '032-810-4100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '210540', 'Y', '디와이파워', '32902', '특수 목적용 기계 제조업', 11041708, 5520854000, 500, '원(KRW)', '055-278-0800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007340', 'Y', '디티알오토모티브', '32802', '일차전지 및 축전지 제조업', 9994005, 4997002500, 500, '원(KRW)', '055-380-5800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '026890', 'Y', '디피씨', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 41678175, 20839087500, 500, '원(KRW)', '031-599-0100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115390', 'Y', '락앤락', '32202', '플라스틱제품 제조업', 55000000, 27500000000, 500, '원(KRW)', '02-520-9539';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032350', 'Y', '롯데관광개발', '147502', '여행사 및 기타 여행보조 서비스업', 45395023, 22697511500, 500, '원(KRW)', '1577-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000400', 'Y', '롯데손해보험', '116501', '보험업', 134280000, 134280000000, 1000, '원(KRW)', '02-1588-3344';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023530', 'Y', '롯데쇼핑', '74701', '종합 소매업', 28122047, 140610235000, 5000, '원(KRW)', '02-771-2500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004000', 'Y', '롯데정밀화학', '32001', '기초 화학물질 제조업', 25800000, 129000000000, 5000, '원(KRW)', '052-270-6112-4';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '280360', 'Y', '롯데제과', '31007', '기타 식품 제조업', 4209102, 2104551000, 500, '원(KRW)', '02-2670-6302';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004990', 'Y', '롯데지주', '116409', '기타 금융업', 116566237, 23510772000, 200, '원(KRW)', '02-750-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005300', 'Y', '롯데칠성음료', '31102', '비알코올음료 및 얼음 제조업', 799346, 4384385000, 5000, '원(KRW)', '02-3479-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011170', 'Y', '롯데케미칼', '32001', '기초 화학물질 제조업', 34275419, 171377095000, 5000, '원(KRW)', '02-829-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002270', 'Y', '롯데푸드', '31005', '낙농제품 및 식용빙과류 제조업', 1131870, 5659350000, 5000, '원(KRW)', '02-2629-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '071840', 'Y', '롯데하이마트', '74703', '가전제품 및 정보통신장비 소매업', 23607712, 118038560000, 5000, '원(KRW)', '02-2050-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '027740', 'Y', '마니커', '31001', '도축, 육류 가공 및 저장 처리업', 116725477, 58362738500, 500, '원(KRW)', '031-281-5300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '204320', 'Y', '만도', '33003', '자동차 신품 부품 제조업', 46957120, 46957120000, 1000, '원(KRW)', '031-680-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001080', 'Y', '만호제강', '32401', '1차 철강 제조업', 4150000, 4150000000, 1000, '원(KRW)', '051-601-0351';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '088980', 'Y', '맥쿼리인프라', '116402', '신탁업 및 집합투자업', 349044336, 1815614802841, 0, '원(KRW)', '02-3705-8565';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094800', 'Y', '맵스리얼티1', '116402', '신탁업 및 집합투자업', 92834331, 464171655000, 0, '원(KRW)', '02-769-7892';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '015540', 'Y', '메디플란트', '147509', '기타 사업지원 서비스업', 5181360, 2590680000, 500, '원(KRW)', '02-3404-3222';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '138040', 'Y', '메리츠금융지주', '116409', '기타 금융업', 140224314, 71442909000, 500, '원(KRW)', '02-2018-6824';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008560', 'Y', '메리츠종금증권', '116601', '금융 지원 서비스업', 605641072, 605641072000, 1000, '원(KRW)', '02-785-6611';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000060', 'Y', '메리츠화재', '116501', '보험업', 110338000, 55169000000, 500, '원(KRW)', '02-1566-7711';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '090370', 'Y', '메타랩스', '31401', '봉제의복 제조업', 44549789, 22274894500, 500, '원(KRW)', '02-2189-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017180', 'Y', '명문제약', '32102', '의약품 제조업', 24540000, 12270000000, 500, '원(KRW)', '031-350-4000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012690', 'Y', '모나리자', '31709', '기타 종이 및 판지 제품 제조업', 36571255, 18885627500, 500, '원(KRW)', '02-829-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005360', 'Y', '모나미', '74604', '생활용품 도매업', 18897307, 18897307000, 1000, '원(KRW)', '031-216-0153';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '204210', 'Y', '모두투어리츠', '126801', '부동산 임대 및 공급업', 7826815, 39134075000, 5000, '원(KRW)', '02-6253-5911';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009680', 'Y', '모토닉', '33003', '자동차 신품 부품 제조업', 33000000, 16500000000, 500, '원(KRW)', '053-589-6262';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009580', 'Y', '무림P&P', '31701', '펄프, 종이 및 판지 제조업', 62368324, 155920810000, 2500, '원(KRW)', '052-231-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009200', 'Y', '무림페이퍼', '31701', '펄프, 종이 및 판지 제조업', 41609310, 104023275000, 2500, '원(KRW)', '055-751-1234';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033920', 'Y', '무학', '31101', '알코올음료 제조업', 28500000, 5700000000, 200, '원(KRW)', '1588-2226';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008420', 'Y', '문배철강', '32401', '1차 철강 제조업', 20503505, 10251752500, 500, '원(KRW)', '02-758-6640';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025560', 'Y', '미래산업', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 631818400, 63181840000, 100, '원(KRW)', '041-621-5070';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007120', 'Y', '미래아이앤지', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 103587319, 51793659500, 500, '원(KRW)', '02-3470-4400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006800', 'Y', '미래에셋대우', '116601', '금융 지원 서비스업', 658316408, 4101960790000, 5000, '원(KRW)', '02-768-3355';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '085620', 'Y', '미래에셋생명', '116501', '보험업', 177016189, 885080945000, 5000, '원(KRW)', '02-1588-0220';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002840', 'Y', '미원상사', '32004', '기타 화학제품 제조업', 792938, 7968720000, 5000, '원(KRW)', '031-472-9120';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '268280', 'Y', '미원에스씨', '32001', '기초 화학물질 제조업', 5179111, 2589555500, 500, '원(KRW)', '063-260-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '107590', 'Y', '미원홀딩스', '116409', '기타 금융업', 2331774, 1315887000, 500, '원(KRW)', '031-479-9313';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '134380', 'Y', '미원화학', '32004', '기타 화학제품 제조업', 2185180, 2389992000, 1000, '원(KRW)', '031-479-9200';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006660', 'Y', '삼성공조', '33003', '자동차 신품 부품 제조업', 8126314, 4063157000, 500, '원(KRW)', '055-280-2733';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '028260', 'Y', '삼성물산', '74607', '기타 전문 도매업', 189690043, 19131748300, 100, '원(KRW)', '02-2145-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '207940', 'Y', '삼성바이오로직스', '32101', '기초 의약물질 및 생물학적 제제 제조업', 66165000, 165412500000, 2500, '원(KRW)', '032-455-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032830', 'Y', '삼성생명', '116501', '보험업', 200000000, 100000000000, 500, '원(KRW)', '02-751-8157';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018260', 'Y', '삼성에스디에스', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 77377800, 38688900000, 500, '원(KRW)', '02-6155-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '028050', 'Y', '삼성엔지니어링', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 196000000, 980000000000, 5000, '원(KRW)', '02-2053-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009150', 'Y', '삼성전기', '32602', '전자부품 제조업', 74693696, 388003400000, 5000, '원(KRW)', '031-210-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005930', 'Y', '삼성전자', '32604', '통신 및 방송 장비 제조업', 6419324700, 897513820000, 100, '원(KRW)', '031-200-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001360', 'Y', '삼성제약', '32102', '의약품 제조업', 58135743, 29067871500, 500, '원(KRW)', '031-353-6681';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010140', 'Y', '삼성중공업', '33101', '선박 및 보트 건조업', 630000000, 3150574225000, 5000, '원(KRW)', '031-5171-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016360', 'Y', '삼성증권', '116601', '금융 지원 서비스업', 89300000, 458478080000, 5000, '원(KRW)', '02-2020-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068290', 'Y', '삼성출판사', '105801', '서적, 잡지 및 기타 인쇄물 출판업', 10000000, 5000000000, 500, '원(KRW)', '02-3470-6800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '029780', 'Y', '삼성카드', '116409', '기타 금융업', 115858891, 614794455000, 5000, '원(KRW)', '02-1588-8700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000810', 'Y', '삼성화재해상보험', '116501', '보험업', 47374837, 26473418500, 500, '원(KRW)', '02-1588-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006110', 'Y', '삼아알미늄', '32402', '1차 비철금속 제조업', 11000000, 5500000000, 500, '원(KRW)', '031-467-6800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '145990', 'Y', '삼양사', '31007', '기타 식품 제조업', 10289803, 53299365000, 5000, '원(KRW)', '02-740-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003230', 'Y', '삼양식품', '31007', '기타 식품 제조업', 7533015, 37665075000, 5000, '원(KRW)', '02-940-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002170', 'Y', '삼양통상', '31501', '가죽, 가방 및 유사제품 제조업', 3000000, 15000000000, 5000, '원(KRW)', '02-3453-3961';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '272550', 'Y', '삼양패키징', '32202', '플라스틱제품 제조업', 14209804, 71049020000, 5000, '원(KRW)', '02-740-7827';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000070', 'Y', '삼양홀딩스', '116409', '기타 금융업', 8564271, 44341645000, 5000, '원(KRW)', '02-740-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002810', 'Y', '삼영무역', '74607', '기타 전문 도매업', 16466623, 8233311500, 500, '원(KRW)', '02-320-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005680', 'Y', '삼영전자공업', '32602', '전자부품 제조업', 20000000, 10000000000, 500, '원(KRW)', '031-743-6701';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003720', 'Y', '삼영화학공업', '32202', '플라스틱제품 제조업', 34000000, 17000000000, 500, '원(KRW)', '02-757-2291-3';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023000', 'Y', '삼원강재', '33003', '자동차 신품 부품 제조업', 40000000, 20000000000, 500, '원(KRW)', '054-278-1983-8';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004380', 'Y', '삼익THK', '32901', '일반 목적용 기계 제조업', 21000000, 10500000000, 500, '원(KRW)', '053-665-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002450', 'Y', '삼익악기', '33302', '악기 제조업', 90530915, 45265457500, 500, '원(KRW)', '043-1688-3151';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000520', 'Y', '삼일제약', '32102', '의약품 제조업', 5500000, 5500000000, 1000, '원(KRW)', '02-520-0300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009770', 'Y', '삼정펄프', '31701', '펄프, 종이 및 판지 제조업', 2499971, 12499855000, 5000, '원(KRW)', '02-743-7071';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005500', 'Y', '삼진제약', '32102', '의약품 제조업', 13900000, 13900000000, 1000, '원(KRW)', '02-3140-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004690', 'Y', '삼천리', '43502', '연료용 가스 제조 및 배관공급업', 4055025, 20275125000, 5000, '원(KRW)', '02-368-3300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001880', 'Y', '삼호', '64101', '건물 건설업', 15179766, 75898830000, 5000, '원(KRW)', '032-518-3535';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010960', 'Y', '삼호개발', '64201', '기반조성 및 시설물 축조관련 전문공사업', 25000000, 12500000000, 500, '원(KRW)', '02-2046-7722';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004450', 'Y', '삼화왕관', '32509', '기타 금속 가공제품 제조업', 2154379, 10771895000, 5000, '원(KRW)', '031-490-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009470', 'Y', '삼화전기', '32602', '전자부품 제조업', 6613820, 6613820000, 1000, '원(KRW)', '043-261-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011230', 'Y', '삼화전자공업', '32605', '영상 및 음향기기 제조업', 10457940, 10457940000, 1000, '원(KRW)', '031-374-5501';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001820', 'Y', '삼화콘덴서공업', '32602', '전자부품 제조업', 10395000, 10395000000, 1000, '원(KRW)', '031-332-6441';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000390', 'Y', '삼화페인트공업', '32004', '기타 화학제품 제조업', 26438751, 13219375500, 500, '원(KRW)', '031-499-0394-6';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '041650', 'Y', '상신브레이크', '33003', '자동차 신품 부품 제조업', 21471450, 10735725000, 500, '원(KRW)', '053-616-9555';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '075180', 'Y', '새론오토모티브', '33003', '자동차 신품 부품 제조업', 19200000, 9600000000, 500, '원(KRW)', '041-560-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007540', 'Y', '샘표', '116409', '기타 금융업', 2875800, 2875800000, 1000, '원(KRW)', '02-3393-5500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '248170', 'Y', '샘표식품', '31007', '기타 식품 제조업', 4568286, 2284143000, 500, '원(KRW)', '02-3393-5500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007860', 'Y', '서연', '116409', '기타 금융업', 23479844, 11739922000, 500, '원(KRW)', '031-420-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '200880', 'Y', '서연이화', '33003', '자동차 신품 부품 제조업', 27028437, 13514218500, 500, '원(KRW)', '02-3484-4100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017390', 'Y', '서울도시가스', '43502', '연료용 가스 제조 및 배관공급업', 5000000, 35000000000, 5000, '원(KRW)', '02-810-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004410', 'Y', '서울식품공업', '31007', '기타 식품 제조업', 337410000, 33963450000, 100, '원(KRW)', '043-720-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '021050', 'Y', '서원', '32403', '금속 주조업', 47474590, 23737295000, 500, '원(KRW)', '031-365-8700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008490', 'Y', '서흥', '32004', '기타 화학제품 제조업', 11569113, 6084556500, 500, '원(KRW)', '043-249-4100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007610', 'Y', '선도전기', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 18000000, 9000000000, 500, '원(KRW)', '031-491-2284';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '136490', 'Y', '선진', '31008', '동물용 사료 및 조제식품 제조업', 23779604, 11889802000, 500, '원(KRW)', '031-637-1180';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002820', 'Y', '선창산업', '31602', '나무제품 제조업', 12607989, 12607989000, 1000, '원(KRW)', '032-770-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014910', 'Y', '성문전자', '32602', '전자부품 제조업', 19486857, 10043428500, 500, '원(KRW)', '031-650-2800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003080', 'Y', '성보화학', '32003', '비료, 농약 및 살균, 살충제 제조업', 20020000, 10010000000, 500, '원(KRW)', '02-3789-3800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004980', 'Y', '성신양회', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 24008482, 128508590000, 5000, '원(KRW)', '02-3782-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011300', 'Y', '성안', '31302', '직물직조 및 직물제품 제조업', 56857860, 28428930000, 500, '원(KRW)', '053-382-4772';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005980', 'Y', '성지건설', '64102', '토목 건설업', 14045010, 70225050000, 5000, '원(KRW)', '031-272-0972';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000180', 'Y', '성창기업지주', '137105', '회사 본부 및 경영 컨설팅 서비스업', 69751600, 36000000000, 500, '원(KRW)', '051-260-3333';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002420', 'Y', '세기상사', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 407592, 2037960000, 5000, '원(KRW)', '02-3393-3500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004360', 'Y', '세방', '84903', '도로 화물 운송업', 19308690, 11498970000, 500, '원(KRW)', '051-630-5300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004490', 'Y', '세방전지', '32802', '일차전지 및 축전지 제조업', 14000000, 7000000000, 500, '원(KRW)', '02-3451-6201';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001430', 'Y', '세아베스틸', '32401', '1차 철강 제조업', 35862119, 219310595000, 5000, '원(KRW)', '02-6970-2021';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003030', 'Y', '세아제강', '32401', '1차 철강 제조업', 6000000, 30000000000, 5000, '원(KRW)', '02-6970-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019440', 'Y', '세아특수강', '32401', '1차 철강 제조업', 8570000, 42850000000, 5000, '원(KRW)', '054-285-4771';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058650', 'Y', '세아홀딩스', '116409', '기타 금융업', 4000000, 20000000000, 5000, '원(KRW)', '02-6970-0110';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013000', 'Y', '세우글로벌', '74607', '기타 전문 도매업', 23690705, 11845352500, 500, '원(KRW)', '032-868-1100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '091090', 'Y', '세원셀론텍', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 60990792, 30495396000, 500, '원(KRW)', '02-2167-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '021820', 'Y', '세원정공', '33003', '자동차 신품 부품 제조업', 10000000, 5000000000, 500, '원(KRW)', '053-582-5161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067830', 'Y', '세이브존I&C', '74701', '종합 소매업', 41040895, 41040895000, 1000, '원(KRW)', '032-320-9032';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033530', 'Y', '세종공업', '33003', '자동차 신품 부품 제조업', 20054430, 10027215000, 500, '원(KRW)', '052-219-1699';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '075580', 'Y', '세진중공업', '33101', '선박 및 보트 건조업', 38372720, 21986360000, 500, '원(KRW)', '052-231-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '027970', 'Y', '세하', '31701', '펄프, 종이 및 판지 제조업', 29562997, 29562997000, 1000, '원(KRW)', '02-2056-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '145210', 'Y', '세화아이엠씨', '32902', '특수 목적용 기계 제조업', 29402067, 14701033500, 500, '원(KRW)', '062-944-6161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068270', 'Y', '셀트리온', '32101', '기초 의약물질 및 생물학적 제제 제조업', 125395903, 125395903000, 1000, '원(KRW)', '032-850-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004430', 'Y', '송원산업', '32004', '기타 화학제품 제조업', 24000000, 12000000000, 500, '원(KRW)', '052-273-9841';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017550', 'Y', '수산중공업', '32902', '특수 목적용 기계 제조업', 53985163, 26992581500, 500, '원(KRW)', '031-352-7733';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '134790', 'Y', '시디즈', '33201', '가구 제조업', 2000000, 1000000000, 500, '원(KRW)', '02-3400-6339';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016590', 'Y', '신대양제지', '31702', '골판지, 종이 상자 및 종이용기 제조업', 4029782, 20148910000, 5000, '원(KRW)', '031-494-7911';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '029530', 'Y', '신도리코', '32603', '컴퓨터 및 주변장치 제조업', 10080029, 50400145000, 5000, '원(KRW)', '02-460-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004970', 'Y', '신라교역', '10301', '어로 어업', 16000000, 8000000000, 500, '원(KRW)', '02-3434-9900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011930', 'Y', '신성이엔지', '32601', '반도체 제조업', 172993713, 86606856500, 500, '원(KRW)', '031-788-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005390', 'Y', '신성통상', '74607', '기타 전문 도매업', 143708390, 71854195000, 500, '원(KRW)', '02-3709-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004170', 'Y', '신세계', '74701', '종합 소매업', 9845181, 49225905000, 5000, '원(KRW)', '02-727-1234';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035510', 'Y', '신세계I&C', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 1720000, 8600000000, 5000, '원(KRW)', '02-3397-1234';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034300', 'Y', '신세계건설', '64101', '건물 건설업', 4000000, 20000000000, 5000, '원(KRW)', '02-3406-6620';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '031430', 'Y', '신세계인터내셔날', '74704', '섬유, 의복, 신발 및 가죽제품 소매업', 7140000, 35700000000, 5000, '원(KRW)', '02-6979-1234';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '031440', 'Y', '신세계푸드', '95601', '음식점업', 3872480, 19362400000, 5000, '원(KRW)', '02-3397-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006880', 'Y', '신송홀딩스', '116409', '기타 금융업', 11828858, 5914429000, 500, '원(KRW)', '027801400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005800', 'Y', '신영와코루', '31401', '봉제의복 제조업', 900000, 4500000000, 5000, '원(KRW)', '02-818-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001720', 'Y', '신영증권', '116601', '금융 지원 서비스업', 9386237, 82200000000, 5000, '원(KRW)', '02-2004-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009270', 'Y', '신원', '31401', '봉제의복 제조업', 76738152, 38414446000, 500, '원(KRW)', '02-3274-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002700', 'Y', '신일산업', '74605', '기계장비 및 관련 물품 도매업', 71047521, 35523760500, 500, '원(KRW)', '02-6309-7800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019170', 'Y', '신풍제약', '32102', '의약품 제조업', 52984990, 27592495000, 500, '원(KRW)', '031-491-6191';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002870', 'Y', '신풍제지', '31701', '펄프, 종이 및 판지 제조업', 34958700, 17479350000, 500, '원(KRW)', '02-2156-7521';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005450', 'Y', '신한', '64101', '건물 건설업', 7022839, 35114195000, 5000, '원(KRW)', '02-369-0001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '055550', 'Y', '신한지주', '116409', '기타 금융업', 474199587, 2370997935000, 5000, '원(KRW)', '02-6360-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001770', 'Y', '신화실업', '32401', '1차 철강 제조업', 1214878, 6074390000, 5000, '원(KRW)', '031-499-9922';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004080', 'Y', '신흥', '74605', '기계장비 및 관련 물품 도매업', 9600000, 6733070000, 500, '원(KRW)', '02-6366-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '102280', 'Y', '쌍방울', '31401', '봉제의복 제조업', 129124213, 64562106500, 500, '원(KRW)', '02-3485-6000';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014830', 'Y', '유니드', '32001', '기초 화학물질 제조업', 8889843, 44449215000, 5000, '원(KRW)', '02-3709-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000910', 'Y', '유니온', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 15611619, 7805809500, 500, '원(KRW)', '02-3455-8793';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047400', 'Y', '유니온머티리얼', '32302', '내화, 비내화 요업제품 제조업', 42000000, 21000000000, 500, '원(KRW)', '055-580-4135';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011330', 'Y', '유니켐', '31501', '가죽, 가방 및 유사제품 제조업', 54955905, 27477952500, 500, '원(KRW)', '031-491-3751';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '077500', 'Y', '유니퀘스트', '74605', '기계장비 및 관련 물품 도매업', 27147791, 13573895500, 500, '원(KRW)', '031-708-9988';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002920', 'Y', '유성기업', '33003', '자동차 신품 부품 제조업', 25947500, 12973750000, 500, '원(KRW)', '02-564-2351';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000700', 'Y', '유수홀딩스', '137105', '회사 본부 및 경영 컨설팅 서비스업', 26041812, 65104530000, 2500, '원(KRW)', '02-3770-6868';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003470', 'Y', '유안타증권', '116601', '금융 지원 서비스업', 199596576, 1062543940000, 5000, '원(KRW)', '02-3770-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011690', 'Y', '유양디앤유', '32601', '반도체 제조업', 55792109, 27896054500, 500, '원(KRW)', '031-350-7437';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '072130', 'Y', '유엔젤', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 13195454, 6597727000, 500, '원(KRW)', '031-710-6200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000220', 'Y', '유유제약', '32102', '의약품 제조업', 6368587, 8042972000, 1000, '원(KRW)', '043-652-7981';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001200', 'Y', '유진증권', '116601', '금융 지원 서비스업', 96866418, 537592090000, 5000, '원(KRW)', '02-368-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000100', 'Y', '유한양행', '32102', '의약품 제조업', 12209354, 62227710000, 5000, '원(KRW)', '02-828-0181';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003460', 'Y', '유화증권', '116601', '금융 지원 서비스업', 11340483, 74178840000, 5000, '원(KRW)', '02-3770-0100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008730', 'Y', '율촌화학', '32202', '플라스틱제품 제조업', 24800000, 14776380000, 500, '원(KRW)', '02-822-0022';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008250', 'Y', '이건산업', '31602', '나무제품 제조업', 9373525, 46867625000, 5000, '원(KRW)', '032-760-0800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025820', 'Y', '이구산업', '32402', '1차 비철금속 제조업', 33442000, 16721000000, 500, '원(KRW)', '031-494-2929';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214320', 'Y', '이노션', '137103', '광고업', 20000000, 10000000000, 500, '원(KRW)', '02-2016-2300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '088260', 'Y', '이리츠코크렙', '126801', '부동산 임대 및 공급업', 63341590, 31670795000, 500, '원(KRW)', '02-787-0000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '139480', 'Y', '이마트', '74701', '종합 소매업', 27875819, 139379095000, 5000, '원(KRW)', '02-380-5678';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007660', 'Y', '이수페타시스', '32602', '전자부품 제조업', 41268398, 41268398000, 1000, '원(KRW)', '053-610-0300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005950', 'Y', '이수화학', '32001', '기초 화학물질 제조업', 15278000, 76390000000, 5000, '원(KRW)', '02-590-6600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '015020', 'Y', '이스타코', '126801', '부동산 임대 및 공급업', 42851600, 21425800000, 500, '원(KRW)', '02-2643-7922';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '093230', 'Y', '이아이디', '74607', '기타 전문 도매업', 152188696, 30437739200, 200, '원(KRW)', '031-8027-8855';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '102460', 'Y', '이연제약', '32102', '의약품 제조업', 16770000, 8385000000, 500, '원(KRW)', '02-3407-5218';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '084680', 'Y', '이월드', '189102', '유원지 및 기타 오락관련 서비스업', 90509897, 90509897000, 1000, '원(KRW)', '053-620-0001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000760', 'Y', '이화산업', '74607', '기타 전문 도매업', 2800000, 14000000000, 5000, '원(KRW)', '02-2007-5555';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014990', 'Y', '인디에프', '31401', '봉제의복 제조업', 58932995, 29466497500, 500, '원(KRW)', '02-3456-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006490', 'Y', '인스코비', '106102', '전기 통신업', 89473464, 44736732000, 500, '원(KRW)', '070-7510-3448';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023800', 'Y', '인지컨트롤스', '33003', '자동차 신품 부품 제조업', 15160128, 7580064000, 500, '원(KRW)', '031-496-1725';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034590', 'Y', '인천도시가스', '43502', '연료용 가스 제조 및 배관공급업', 4374754, 21873770000, 5000, '원(KRW)', '-1600-0002';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '129260', 'Y', '인터지스', '84903', '도로 화물 운송업', 29747874, 14873937000, 500, '원(KRW)', '051-604-3333';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023810', 'Y', '인팩', '33003', '자동차 신품 부품 제조업', 10000000, 5000000000, 500, '원(KRW)', '02-3432-3333';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '249420', 'Y', '일동제약', '32102', '의약품 제조업', 21591413, 21591413000, 1000, '원(KRW)', '025263114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000230', 'Y', '일동홀딩스', '116409', '기타 금융업', 10490296, 10490296000, 1000, '원(KRW)', '02-526-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013360', 'Y', '일성건설', '64102', '토목 건설업', 54024880, 27012440000, 500, '원(KRW)', '032-429-3270';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003120', 'Y', '일성신약', '32102', '의약품 제조업', 2660000, 13300000000, 5000, '원(KRW)', '02-3271-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003200', 'Y', '일신방직', '31301', '방적 및 가공사 제조업', 2400000, 12000000000, 5000, '원(KRW)', '02-3774-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007110', 'Y', '일신석재', '74606', '건축자재, 철물 및 난방장치 도매업', 77456610, 38728305000, 500, '원(KRW)', '02-487-9009';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007570', 'Y', '일양약품', '32102', '의약품 제조업', 19045984, 48727660000, 2500, '원(KRW)', '02-570-3700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008500', 'Y', '일정실업', '31303', '편조원단 제조업', 1200000, 6000000000, 5000, '원(KRW)', '031-493-0031-5';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '081000', 'Y', '일진다이아', '32004', '기타 화학제품 제조업', 11277975, 11277975000, 1000, '원(KRW)', '02-707-9076';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '020760', 'Y', '일진디스플', '32601', '반도체 제조업', 28314440, 14157220000, 500, '원(KRW)', '031-680-0212';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '020150', 'Y', '일진머티리얼즈', '32602', '전자부품 제조업', 46110835, 23055417500, 500, '원(KRW)', '02-707-9060';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '103590', 'Y', '일진전기', '32803', '절연선 및 케이블 제조업', 37080390, 37080390000, 1000, '원(KRW)', '02-707-9781';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '015860', 'Y', '일진홀딩스', '116409', '기타 금융업', 49347483, 49852615000, 1000, '원(KRW)', '031-220-0500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '226320', 'Y', '잇츠한불', '32004', '기타 화학제품 제조업', 21929315, 10964657500, 500, '원(KRW)', '02-3450-0343';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033240', 'Y', '자화전자', '32602', '전자부품 제조업', 17900000, 8950000000, 500, '원(KRW)', '043-210-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000950', 'Y', '전방', '31301', '방적 및 가공사 제조업', 1680000, 8400000000, 5000, '원(KRW)', '02-2122-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '194370', 'Y', '제이에스코퍼레이션', '31501', '가죽, 가방 및 유사제품 제조업', 13335601, 1333560100, 100, '원(KRW)', '02-2040-3400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025620', 'Y', '제이준코스메틱', '32004', '기타 화학제품 제조업', 26512400, 13256200000, 500, '원(KRW)', '02-2193-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030000', 'Y', '제일기획', '137103', '광고업', 115041225, 23008245000, 200, '원(KRW)', '02-3780-2114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '271980', 'Y', '제일약품', '32102', '의약품 제조업', 14704872, 7352436000, 500, '원(KRW)', '02-549-7451';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001560', 'Y', '제일연마', '32309', '기타 비금속 광물제품 제조업', 10000000, 5000000000, 500, '원(KRW)', '054-285-8401';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002620', 'Y', '제일파마홀딩스', '137105', '회사 본부 및 경영 컨설팅 서비스업', 4345507, 2172753500, 500, '원(KRW)', '02-549-7451';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006220', 'Y', '제주은행', '116401', '은행 및 저축기관', 22128774, 110643870000, 5000, '원(KRW)', '064-720-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '089590', 'Y', '제주항공', '85101', '항공 여객 운송업', 26356758, 131783790000, 5000, '원(KRW)', '070-7420-1986';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004910', 'Y', '조광페인트', '32004', '기타 화학제품 제조업', 12800000, 6400000000, 500, '원(KRW)', '051-304-7701-5';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004700', 'Y', '조광피혁', '31501', '가죽, 가방 및 유사제품 제조업', 6649138, 34245690000, 5000, '원(KRW)', '043-270-5311-3';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001550', 'Y', '조비', '32003', '비료, 농약 및 살균, 살충제 제조업', 5192239, 25961195000, 5000, '원(KRW)', '02-3488-5853';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000480', 'Y', '조선내화', '32302', '내화, 비내화 요업제품 제조업', 4000000, 20000000000, 5000, '원(KRW)', '061-798-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '120030', 'Y', '조선선재', '32509', '기타 금속 가공제품 제조업', 1257651, 628825500, 500, '원(KRW)', '054-289-8200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018470', 'Y', '조일알미늄', '32402', '1차 비철금속 제조업', 69600000, 34800000000, 500, '원(KRW)', '053-856-5252';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002600', 'Y', '조흥', '31007', '기타 식품 제조업', 600000, 3000000000, 5000, '원(KRW)', '031-433-3883';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '185750', 'Y', '종근당', '32102', '의약품 제조업', 9879236, 24698090000, 2500, '원(KRW)', '02-2194-0300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '063160', 'Y', '종근당바이오', '32102', '의약품 제조업', 5229489, 13073722500, 2500, '원(KRW)', '02-2194-0555';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001630', 'Y', '종근당홀딩스', '116409', '기타 금융업', 5009861, 12524652500, 2500, '원(KRW)', '02-6373-0600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '044380', 'Y', '주연테크', '32603', '컴퓨터 및 주변장치 제조업', 98773270, 9877327000, 100, '원(KRW)', '02-2122-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013870', 'Y', '지엠비코리아', '33003', '자동차 신품 부품 제조업', 19072280, 9536140000, 500, '원(KRW)', '055-263-2131';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '071320', 'Y', '지역난방공사', '43503', '증기, 냉·온수 및 공기조절 공급업', 11578744, 57893720000, 5000, '원(KRW)', '031-780-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010580', 'Y', '지코', '33003', '자동차 신품 부품 제조업', 50521414, 25260707000, 500, '원(KRW)', '041-529-7714';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035000', 'Y', '지투알', '137105', '회사 본부 및 경영 컨설팅 서비스업', 16567409, 17571493000, 1000, '원(KRW)', '02-705-2173';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '088790', 'Y', '진도', '74607', '기타 전문 도매업', 12447744, 6223872000, 500, '원(KRW)', '02-850-8270';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003780', 'Y', '진양산업', '32202', '플라스틱제품 제조업', 13000000, 6500000000, 500, '원(KRW)', '055-382-8981';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010640', 'Y', '진양폴리우레탄', '32001', '기초 화학물질 제조업', 10000000, 5000000000, 500, '원(KRW)', '031-657-2545';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '100250', 'Y', '진양홀딩스', '116409', '기타 금융업', 55895292, 27947646000, 500, '원(KRW)', '051-809-8813';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051630', 'Y', '진양화학', '32202', '플라스틱제품 제조업', 12000000, 6000000000, 500, '원(KRW)', '052-278-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '272450', 'Y', '진에어', '85101', '항공 여객 운송업', 30000000, 30000000000, 1000, '원(KRW)', '1600-6200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011000', 'Y', '진원생명과학', '32102', '의약품 제조업', 21174063, 21174063000, 1000, '원(KRW)', '02-527-0600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002780', 'Y', '진흥기업', '64102', '토목 건설업', 145353082, 73252554000, 500, '원(KRW)', '02-772-1200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009310', 'Y', '참엔지니어링', '32902', '특수 목적용 기계 제조업', 49189958, 25019977500, 500, '원(KRW)', '031-330-8500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000650', 'Y', '천일고속', '84902', '육상 여객 운송업', 1429220, 7146100000, 5000, '원(KRW)', '051-254-9111';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012600', 'Y', '청호컴넷', '32901', '일반 목적용 기계 제조업', 8376352, 41881760000, 5000, '원(KRW)', '02-3670-7700-2';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033250', 'Y', '체시스', '33003', '자동차 신품 부품 제조업', 24000000, 12000000000, 500, '원(KRW)', '053-851-8511';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035720', 'Y', '카카오', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 76285622, 38192811000, 500, '원(KRW)', '02-6718-1082';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006380', 'Y', '카프로', '32001', '기초 화학물질 제조업', 40000000, 20000000000, 500, '원(KRW)', '02-399-1200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '109070', 'Y', '컨버즈', '31702', '골판지, 종이 상자 및 종이용기 제조업', 11581418, 5790709000, 500, '원(KRW)', '070-4858-4652';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '029460', 'Y', '케이씨', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 13554044, 6777022000, 500, '원(KRW)', '031-670-8900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002380', 'Y', '케이씨씨', '32004', '기타 화학제품 제조업', 10556513, 56434870000, 5000, '원(KRW)', '02-3480-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '281820', 'Y', '케이씨텍', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 19839340, 9919670000, 500, '원(KRW)', '031-670-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009070', 'Y', '케이씨티시', '84903', '도로 화물 운송업', 30000000, 15000000000, 500, '원(KRW)', '02-310-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '145270', 'Y', '케이탑리츠', '126801', '부동산 임대 및 공급업', 44212673, 44212673000, 1000, '원(KRW)', '02-783-5858';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030200', 'Y', '케이티', '106102', '전기 통신업', 261111808, 1564498835000, 5000, '원(KRW)', '031-727-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058860', 'Y', '케이티스', '106309', '기타 정보 서비스업', 34802000, 17401000000, 500, '원(KRW)', '02-3215-2054';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053210', 'Y', '케이티스카이라이프', '106002', '텔레비전 방송업', 47821966, 119554915000, 2500, '원(KRW)', '02-2003-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033780', 'Y', '케이티앤지', '31201', '담배 제조업', 137292497, 954959485000, 5000, '원(KRW)', '042-939-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007810', 'Y', '코리아써키트', '32602', '전자부품 제조업', 23620751, 13684570000, 500, '원(KRW)', '031-491-3061';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007980', 'Y', '태평양물산', '31401', '봉제의복 제조업', 49911742, 24955871000, 500, '원(KRW)', '02-850-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '055490', 'Y', '테이팩스', '32202', '플라스틱제품 제조업', 4717650, 3771825000, 500, '원(KRW)', '031-8047-4100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078000', 'Y', '텔코웨어', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 9702706, 5026353000, 500, '원(KRW)', '02 -2105-9800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214420', 'Y', '토니모리', '32004', '기타 화학제품 제조업', 17640000, 3528000000, 200, '원(KRW)', '02-591-3191';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '140890', 'Y', '트러스제7호', '126801', '부동산 임대 및 공급업', 9686000, 48430000000, 5000, '원(KRW)', '02-785-8920';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '084870', 'Y', '티비에이치글로벌', '31401', '봉제의복 제조업', 20856819, 10428409500, 500, '원(KRW)', '02-2058-3800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019180', 'Y', '티에이치엔', '32809', '기타 전기장비 제조업', 18000000, 9000000000, 500, '원(KRW)', '053-583-3001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004870', 'Y', '티웨이홀딩스', '32601', '반도체 제조업', 70959464, 35479732000, 500, '원(KRW)', '02-2056-9800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005690', 'Y', '파미셀', '32101', '기초 의약물질 및 생물학적 제제 제조업', 59858950, 29929475000, 500, '원(KRW)', '02-3496-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036580', 'Y', '팜스코', '31006', '곡물가공품, 전분 및 전분제품 제조업', 36727943, 18363971500, 500, '원(KRW)', '031-7207-114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '028670', 'Y', '팬오션', '85001', '해상 운송업', 534545414, 534545414000, 1000, '원(KRW)', '02-316-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010820', 'Y', '퍼스텍', '32502', '무기 및 총포탄 제조업', 46764840, 23382420000, 500, '원(KRW)', '055-212-1606';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016800', 'Y', '퍼시스', '33201', '가구 제조업', 11500000, 14300000000, 1000, '원(KRW)', '02-3400-6386';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001020', 'Y', '페이퍼코리아', '31701', '펄프, 종이 및 판지 제조업', 54216966, 27108483000, 500, '원(KRW)', '063-440-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '090080', 'Y', '평화산업', '33003', '자동차 신품 부품 제조업', 37403844, 18701922000, 500, '원(KRW)', '053-610-7027';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010770', 'Y', '평화홀딩스', '116409', '기타 금융업', 14625466, 7312733000, 500, '원(KRW)', '053-610-8500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005490', 'Y', '포스코', '32401', '1차 철강 제조업', 87186835, 482403125000, 5000, '원(KRW)', '054-220-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058430', 'Y', '포스코강판', '32401', '1차 철강 제조업', 6000000, 30000000000, 5000, '원(KRW)', '054-280-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047050', 'Y', '포스코대우', '74601', '상품 중개업', 123375149, 616875745000, 5000, '원(KRW)', '02-759-2114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007630', 'Y', '폴루스바이오팜', '32604', '통신 및 방송 장비 제조업', 31634965, 15817482500, 500, '원(KRW)', '02-554-3377';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017810', 'Y', '풀무원', '116409', '기타 금융업', 3809095, 19045475000, 5000, '원(KRW)', '043-879-4500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '103140', 'Y', '풍산', '32402', '1차 비철금속 제조업', 28024278, 140121390000, 5000, '원(KRW)', '02-3406-5846';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005810', 'Y', '풍산홀딩스', '116409', '기타 금융업', 7835167, 45175835000, 5000, '원(KRW)', '02-2278-6700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033180', 'Y', '필룩스', '32602', '전자부품 제조업', 53603932, 26951966000, 500, '원(KRW)', '070-7780-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086790', 'Y', '하나금융지주', '116409', '기타 금융업', 300242062, 1501210310000, 5000, '원(KRW)', '02-2002-1110';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099340', 'Y', '하나니켈1호', '116402', '신탁업 및 집합투자업', 22756200, 113781000000, 0, '원(KRW)', '02-3771-9870';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099350', 'Y', '하나니켈2호', '116402', '신탁업 및 집합투자업', 3284000, 16420000000, 0, '원(KRW)', '02-3771-9834';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039130', 'Y', '하나투어', '147502', '여행사 및 기타 여행보조 서비스업', 11616185, 5808092500, 500, '원(KRW)', '02-2127-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '172580', 'Y', '하이골드12호', '147601', '운송장비 임대업', 13044500, 65222500000, 5000, '원(KRW)', '02-2090-4625';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '153360', 'Y', '하이골드3호', '147601', '운송장비 임대업', 16149790, 80748950000, 5000, '원(KRW)', '02-2090-4624';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '159650', 'Y', '하이골드8호', '147601', '운송장비 임대업', 14905929, 74529645000, 5000, '원(KRW)', '02-2090-4600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '071090', 'Y', '하이스틸', '32401', '1차 철강 제조업', 1999944, 9999720000, 5000, '원(KRW)', '02-2273-2140';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019490', 'Y', '하이트론씨스템즈', '32605', '영상 및 음향기기 제조업', 5530735, 13826837500, 2500, '원(KRW)', '031-670-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000080', 'Y', '하이트진로', '31101', '알코올음료 제조업', 70133611, 368818745000, 5000, '원(KRW)', '02-3219-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000140', 'Y', '하이트진로홀딩스', '116409', '기타 금융업', 23206765, 118387875000, 5000, '원(KRW)', '02-520-3112';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '152550', 'Y', '한국ANKOR유전', '116402', '신탁업 및 집합투자업', 70020000, 350100000000, 0, '원(KRW)', '2180-0493';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036460', 'Y', '한국가스공사', '43502', '연료용 가스 제조 및 배관공급업', 92313000, 461565000000, 5000, '원(KRW)', '053-670-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005430', 'Y', '한국공항', '85209', '기타 운송관련 서비스업', 3166355, 15831775000, 5000, '원(KRW)', '02-2660-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '071050', 'Y', '한국금융지주', '116409', '기타 금융업', 55725992, 307921215000, 5000, '원(KRW)', '02-3276-6400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010040', 'Y', '한국내화', '32302', '내화, 비내화 요업제품 제조업', 22863632, 11431816000, 500, '원(KRW)', '041-359-2200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025540', 'Y', '한국단자공업', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 10415000, 5207500000, 500, '원(KRW)', '032-814-9981';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004090', 'Y', '한국석유공업', '32309', '기타 비금속 광물제품 제조업', 655200, 3276000000, 5000, '원(KRW)', '02-799-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002200', 'Y', '한국수출포장공업', '31702', '골판지, 종이 상자 및 종이용기 제조업', 4000000, 20000000000, 5000, '원(KRW)', '02-525-2981-9';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002960', 'Y', '한국쉘석유', '31902', '석유 정제품 제조업', 1300000, 7000000000, 5000, '원(KRW)', '051-620-5133';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002000', 'Y', '한국유리공업', '32301', '유리 및 유리제품 제조업', 10079660, 69882185000, 5000, '원(KRW)', '02-3706-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123890', 'Y', '한국자산신탁', '116402', '신탁업 및 집합투자업', 102739889, 51369944500, 500, '원(KRW)', '02-2112-6300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '015760', 'Y', '한국전력공사', '43501', '전기업', 641964077, 3209820385000, 5000, '원(KRW)', '061-345-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006200', 'Y', '한국전자홀딩스', '116409', '기타 금융업', 46803136, 23401568000, 500, '원(KRW)', '02-3497-5535';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002300', 'Y', '한국제지', '31701', '펄프, 종이 및 판지 제조업', 5004949, 25024745000, 5000, '원(KRW)', '02-3475-7200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023350', 'Y', '한국종합기술', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 10950000, 5475000000, 500, '원(KRW)', '02-2049-2517';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025890', 'Y', '한국주강', '32902', '특수 목적용 기계 제조업', 11309259, 5654629500, 500, '원(KRW)', '055-585-7251';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000970', 'Y', '한국주철관공업', '32401', '1차 철강 제조업', 22800500, 12000000000, 500, '원(KRW)', '051-291-5481-5';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '104700', 'Y', '한국철강', '32401', '1차 철강 제조업', 46050000, 46050000000, 1000, '원(KRW)', '055-260-0500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017960', 'Y', '한국카본', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 43960757, 21980378500, 500, '원(KRW)', '055-350-8888';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '161890', 'Y', '한국콜마', '32004', '기타 화학제품 제조업', 21104461, 10552230500, 500, '원(KRW)', '02-3485-0332';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024720', 'Y', '한국콜마홀딩스', '116409', '기타 금융업', 17938966, 8969483000, 500, '원(KRW)', '041-862-1057';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '161390', 'Y', '한국타이어', '32201', '고무제품 제조업', 123875069, 61937534500, 500, '원(KRW)', '02-2222-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000240', 'Y', '한국타이어월드와이드', '116409', '기타 금융업', 93020173, 46510086500, 500, '원(KRW)', '02-2222-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034830', 'Y', '한국토지신탁', '116402', '신탁업 및 집합투자업', 252489230, 252489230000, 1000, '원(KRW)', '0234511181';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007280', 'Y', '한국특수형강', '32401', '1차 철강 제조업', 18020878, 9010439000, 500, '원(KRW)', '051-323-2611';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '168490', 'Y', '한국패러랠', '116402', '신탁업 및 집합투자업', 80020000, 400100000000, 0, '원(KRW)', '02-3276-4815';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010100', 'Y', '한국프랜지공업', '33003', '자동차 신품 부품 제조업', 30450420, 30450420000, 1000, '원(KRW)', '052-233-5511';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047810', 'Y', '한국항공우주', '33103', '항공기,우주선 및 부품 제조업', 97475107, 487375535000, 5000, '원(KRW)', '055-851-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123690', 'Y', '한국화장품', '74604', '생활용품 도매업', 16068000, 8034000000, 500, '원(KRW)', '02-724-3281';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003350', 'Y', '한국화장품제조', '32004', '기타 화학제품 제조업', 4532000, 2266000000, 500, '원(KRW)', '02-724-3710';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011500', 'Y', '한농화성', '32004', '기타 화학제품 제조업', 15637042, 7818521000, 500, '원(KRW)', '063-462-2455';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002390', 'Y', '한독', '32102', '의약품 제조업', 13763533, 6881766500, 500, '원(KRW)', '02-527-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014790', 'Y', '한라', '64102', '토목 건설업', 38074942, 190374710000, 5000, '원(KRW)', '02-3434-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060980', 'Y', '한라홀딩스', '116409', '기타 금융업', 10802691, 55086180000, 5000, '원(KRW)', '02-3434-6363';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053690', 'Y', '한미글로벌', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 10957550, 5478775000, 500, '원(KRW)', '02-3429-6300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042700', 'Y', '한미반도체', '32902', '특수 목적용 기계 제조업', 63582100, 12716420500, 200, '원(KRW)', '032-571-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008930', 'Y', '한미사이언스', '116409', '기타 금융업', 63499267, 31749633500, 500, '원(KRW)', '02-410-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '128940', 'Y', '한미약품', '32102', '의약품 제조업', 11385691, 28464227500, 2500, '원(KRW)', '031-356-3311';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009240', 'Y', '한샘', '74604', '생활용품 도매업', 23533928, 23533928000, 1000, '원(KRW)', '02-6470-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '020000', 'Y', '한섬', '31401', '봉제의복 제조업', 24630000, 12315000000, 500, '원(KRW)', '02-3416-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003680', 'Y', '한성기업', '31002', '수산물 가공 및 저장 처리업', 5477951, 27389755000, 5000, '원(KRW)', '051-410-7100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '105630', 'Y', '한세실업', '31401', '봉제의복 제조업', 40000000, 20000000000, 500, '원(KRW)', '02-3779-0779';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '069640', 'Y', '한세엠케이', '74704', '섬유, 의복, 신발 및 가죽제품 소매업', 12909322, 6454661000, 500, '원(KRW)', '02-2142-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016450', 'Y', '한세예스24홀딩스', '116409', '기타 금융업', 40000000, 20000000000, 500, '원(KRW)', '02-3779-0800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009180', 'Y', '한솔로지스틱스', '85209', '기타 운송관련 서비스업', 16477425, 8840941000, 500, '원(KRW)', '02-3287-7400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '213500', 'Y', '한솔제지', '31701', '펄프, 종이 및 판지 제조업', 23800576, 119002880000, 5000, '원(KRW)', '02-3287-6040';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014680', 'Y', '한솔케미칼', '32001', '기초 화학물질 제조업', 11295195, 56475975000, 5000, '원(KRW)', '02-2152-2326';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004710', 'Y', '한솔테크닉스', '32602', '전자부품 제조업', 22109878, 110549390000, 5000, '원(KRW)', '02-3287-7902';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010420', 'Y', '한솔피엔에스', '74607', '기타 전문 도매업', 20493012, 10246506000, 500, '원(KRW)', '02-6005-4534';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004150', 'Y', '한솔홀딩스', '116409', '기타 금융업', 46359871, 231799355000, 5000, '원(KRW)', '02-3287-6875';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025750', 'Y', '한솔홈데코', '31601', '제재 및 목재 가공업', 80565149, 83765149000, 1000, '원(KRW)', '02-3284-3881';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004960', 'Y', '한신공영', '64101', '건물 건설업', 11570702, 57853510000, 5000, '원(KRW)', '02-3393-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011700', 'Y', '한신기계공업', '32901', '일반 목적용 기계 제조업', 32446151, 16223075500, 500, '원(KRW)', '031-491-3911';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001750', 'Y', '한양증권', '116601', '금융 지원 서비스업', 12728534, 66267670000, 5000, '원(KRW)', '02-3770-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018880', 'Y', '한온시스템', '32901', '일반 목적용 기계 제조업', 533800000, 53380000000, 100, '원(KRW)', '042-930-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009420', 'Y', '한올바이오파마', '32102', '의약품 제조업', 52240638, 26120319000, 500, '원(KRW)', '042-932-5997';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014130', 'Y', '한익스프레스', '84903', '도로 화물 운송업', 12000000, 6000000000, 500, '원(KRW)', '02-3400-5474';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003300', 'Y', '한일시멘트', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 7545313, 37726565000, 5000, '원(KRW)', '02-531-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002220', 'Y', '한일철강', '32401', '1차 철강 제조업', 2144851, 10724255000, 5000, '원(KRW)', '02-2267-6161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051600', 'Y', '한전KPS', '64203', '전기 및 통신 공사업', 45000000, 9000000000, 200, '원(KRW)', '061-345-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052690', 'Y', '한전기술', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 38220000, 7644000000, 200, '원(KRW)', '031-289-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '130660', 'Y', '한전산업', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 32600000, 16300000000, 500, '원(KRW)', '02-2250-2700';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '069260', 'Y', '휴켐스', '32004', '기타 화학제품 제조업', 40878588, 40878588000, 1000, '원(KRW)', '02-2262-0600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000540', 'Y', '흥국화재', '116501', '보험업', 64242645, 325821225000, 5000, '원(KRW)', '02-2002-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003280', 'Y', '흥아해운', '85001', '해상 운송업', 175643430, 87821715000, 500, '원(KRW)', '02-3449-3000';

In [74]:
conn.commit()

In [29]:
k = kospi.loc[780] #각각 str
k

번호                                  779
종목코드                             003280
기업명                                흥아해운
업종코드                              85001
업종                               해상 운송업
상장주식수(주)                    175,643,430
자본금(원)                   87,821,715,000
액면가(원)                              500
통화구분                             원(KRW)
대표전화                       02-3449-3000
주소          서울특별시 송파구  새말로5길 21 흥아해운 빌딩
총카운트                                NaN
Name: 780, dtype: object

In [101]:
crp_cd = k[1]
crp_cls = 'Y'
crp_nm = k[2]
mrk_cd = k[3]
mrk_nm = k[4]
listed = k[5]
capital = k[6]
par = k[7]
currency = k[8]
addr = k[9]
print(addr+par)

02-3449-3000500

In [117]:
print(mrk_cd)
print(str(mrk_cd))

147603.0
147603.0

In [118]:
print(type(currency))

<class 'str'>

In [109]:
print("insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"
      +crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '")

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003280', 'Y', '흥아해운', '

In [100]:
print("insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"+crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '"+mrk_cd+"', '"+mrk_nm+"', '"+listed+"', '"+capital+"', '"+par+"', '"+currency+"', '"+addr+"';")

TypeError: Can't convert 'numpy.float64' object to str implicitly

In [73]:
#kosdaq
conn, cursor = setting_db()
for i in range(0, len(kosdaq)):
    
    try:
        k = kosdaq.loc[i]
        crp_cd = str(k[1])
        crp_cls = 'K'
        crp_nm = str(k[2])
        mrk_cd = str(int(k[3]))
        mrk_nm = str(k[4])
        listed = str(k[5]).replace(",","")
        capital = str(k[6]).replace(",","")
        par = str(k[7]).replace(",","")
    #    listed = int(k[5].replace(",","")) #int
    #    capital = float(k[6].replace(",","")) #decimal
    #    par = int(k[7].replace(",","")) #int
        currency = str(k[8])
        addr = str(k[9])
        sql = "insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"+crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '"+mrk_cd+"', '"+mrk_nm+"', "+listed+", "+capital+", "+par+", '"+currency+"', '"+addr+"';"
        print(sql)
        cursor.execute(sql)
    except:
        pass
conn.commit()

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060310', 'K', '3S', '32902', '특수 목적용 기계 제조업', 44395878, 22197939000, 500, '원(KRW)', '02-896-9474';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054620', 'K', 'APS홀딩스', '116409', '기타 금융업', 20394221, 10197110500, 500, '원(KRW)', '031-776-1800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '265520', 'K', 'AP시스템', '32902', '특수 목적용 기계 제조업', 13899212, 6949606000, 500, '원(KRW)', '031-379-2700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '211270', 'K', 'AP위성', '32604', '통신 및 방송 장비 제조업', 15014804, 7507402000, 500, '원(KRW)', '02-2026-7800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032040', 'K', 'C&S자산관리', '147509', '기타 사업지원 서비스업', 7348534, 18371335000, 2500, '원(KRW)', '02  -732 -9676';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '130960', 'K', 'CJ E&M', '106002', '텔레비전 방송업', 38732089, 193660445000, 5000, '원(KRW)', '02-371-5501';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035760', 'K', 'CJ오쇼핑', '106002', '텔레비전 방송업', 6029198, 31077590000, 5000, '원(KRW)', '02-2107-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051500', 'K', 'CJ프레시웨이', '74603', '음·식료품 및 담배 도매업', 11871586, 11871586000, 1000, '원(KRW)', '02-2149-6007';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058820', 'K', 'CMG제약', '32102', '의약품 제조업', 108887244, 54443622000, 500, '원(KRW)', '02-3453-8816';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023460', 'K', 'CNH', '116402', '신탁업 및 집합투자업', 37200000, 93000000000, 2500, '원(KRW)', '02-3287-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065770', 'K', 'CS', '32604', '통신 및 방송 장비 제조업', 18835150, 9417575000, 500, '원(KRW)', '031-622-3200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '083660', 'K', 'CSA 코스믹', '32202', '플라스틱제품 제조업', 19747641, 9873820500, 500, '원(KRW)', '02-483-0077';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '045890', 'K', 'DB라이텍', '32804', '전구 및 조명장치 제조업', 26586229, 13293114500, 500, '원(KRW)', '032-670-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068790', 'K', 'DMS', '32902', '특수 목적용 기계 제조업', 23012487, 11506243500, 500, '원(KRW)', '031-8031-1133';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '241520', 'K', 'DSC인베스트먼트', '116402', '신탁업 및 집합투자업', 17500000, 8750000000, 500, '원(KRW)', '02-3453-3190';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '245620', 'K', 'EDGC', '137001', '자연과학 및 공학 연구개발업', 35898940, 3589894000, 100, '원(KRW)', '0327132140';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037370', 'K', 'EG', '74607', '기타 전문 도매업', 7500000, 7500000000, 1000, '원(KRW)', '041 -750 -7777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079190', 'K', 'EMW', '32604', '통신 및 방송 장비 제조업', 31784197, 15892098500, 500, '원(KRW)', '02-2107-5500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '130500', 'K', 'GH신소재', '31309', '기타 섬유제품 제조업', 11000000, 5500000000, 500, '원(KRW)', '054-460-8100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032860', 'K', 'GMR 머티리얼즈', '53803', '해체, 선별 및 원료 재생업', 67558840, 33779420000, 500, '원(KRW)', '02-3452-8449';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900290', 'K', 'GRT', '116409', '기타 금융업', 67375000, 770089223, 0, '중국위안(CNY)', '85236458129';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '083450', 'K', 'GST', '32902', '특수 목적용 기계 제조업', 9317745, 4658872500, 500, '원(KRW)', '031-371-2200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '028150', 'K', 'GS홈쇼핑', '106002', '텔레비전 방송업', 6562500, 32812500000, 5000, '원(KRW)', '02-2007-4153';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078150', 'K', 'HB테크놀러지', '32902', '특수 목적용 기계 제조업', 78990426, 39495213000, 500, '원(KRW)', '031-332-0060';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036640', 'K', 'HRS', '32002', '합성고무 및 플라스틱 물질 제조업', 16354800, 8177400000, 500, '원(KRW)', '02  -780 -6156';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '225430', 'K', 'IBKS제3호스팩', '116601', '금융 지원 서비스업', 4500000, 450000000, 100, '원(KRW)', '02-6915-5342';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '254120', 'K', 'IBKS제5호스팩', '116601', '금융 지원 서비스업', 4500000, 450000000, 100, '원(KRW)', '02-6915-5361';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '264850', 'K', 'IBKS제6호스팩', '116601', '금융 지원 서비스업', 4315000, 431500000, 100, '원(KRW)', '02-6915-5357';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '276920', 'K', 'IBKS제7호스팩', '116601', '금융 지원 서비스업', 3650000, 365000000, 100, '원(KRW)', '02-6915-5333';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '277410', 'K', 'IBKS제8호스팩', '116601', '금융 지원 서비스업', 2210000, 221000000, 100, '원(KRW)', '02-6915-5342';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '095340', 'K', 'ISC', '32602', '전자부품 제조업', 13869854, 6934927000, 500, '원(KRW)', '031-777-7675';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099520', 'K', 'ITX엠투엠', '32605', '영상 및 음향기기 제조업', 16466131, 8233065500, 500, '원(KRW)', '02-2082-8379';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '950170', 'K', 'JTC', '74701', '종합 소매업', 35005517, 0, 0, '일본엔(JPY)', '+81-92-260-8364';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067290', 'K', 'JW신약', '32102', '의약품 제조업', 41521606, 20760803000, 500, '원(KRW)', '02-840-6111';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035900', 'K', 'JYP Ent.', '105902', '오디오물 출판 및 원판 녹음업', 34763903, 17381951500, 500, '원(KRW)', '02-6347-0163';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024120', 'K', 'KB오토시스', '33003', '자동차 신품 부품 제조업', 11500000, 5750000000, 500, '원(KRW)', '041-537-5345';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '021320', 'K', 'KCC건설', '64101', '건물 건설업', 21400000, 107000000000, 5000, '원(KRW)', '02-513-5500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036670', 'K', 'KCI', '32004', '기타 화학제품 제조업', 11270000, 5635000000, 500, '원(KRW)', '031 -497 -6411';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '044180', 'K', 'KD건설', '64101', '건물 건설업', 355691714, 35569171400, 100, '원(KRW)', '031-491-8577';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '151860', 'K', 'KG ETS', '53802', '폐기물 처리업', 36000000, 20051860000, 500, '원(KRW)', '031-488-1122';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046440', 'K', 'KG모빌리언스', '105802', '소프트웨어 개발 및 공급업', 29906957, 14953478500, 500, '원(KRW)', '(02)2192-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035600', 'K', 'KG이니시스', '105802', '소프트웨어 개발 및 공급업', 27904434, 13952217000, 500, '원(KRW)', '(02)3430-5913';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060720', 'K', 'KH바텍', '32602', '전자부품 제조업', 20000000, 10000000000, 500, '원(KRW)', '054-465-0630';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '083470', 'K', 'KJ프리텍', '32202', '플라스틱제품 제조업', 21997148, 10998574000, 500, '원(KRW)', '031-230-6903';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '122450', 'K', 'KMH', '106002', '텔레비전 방송업', 21428410, 10714205000, 500, '원(KRW)', '02-2647-1255';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052900', 'K', 'KMH하이텍', '32202', '플라스틱제품 제조업', 46885499, 23442749500, 500, '원(KRW)', '(041)539-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058400', 'K', 'KNN', '106002', '텔레비전 방송업', 132429720, 66214860000, 500, '원(KRW)', '051-850-9214';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '114450', 'K', 'KPX생명과학', '32101', '기초 의약물질 및 생물학적 제제 제조업', 15000000, 7500000000, 500, '원(KRW)', '061-688-4600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036030', 'K', 'KTH', '74601', '상품 중개업', 35715022, 35715022000, 1000, '원(KRW)', '02-1588-5668';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060370', 'K', 'KT서브마린', '64203', '전기 및 통신 공사업', 21900000, 21900000000, 1000, '원(KRW)', '(051)704-0004';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065150', 'K', 'MP그룹', '74603', '음·식료품 및 담배 도매업', 80808407, 8080840700, 100, '원(KRW)', '02-596-3300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '219550', 'K', 'MP한강', '74604', '생활용품 도매업', 56831270, 5683127000, 100, '원(KRW)', '02-3773-8373';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '160550', 'K', 'NEW', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 27406106, 13703053000, 500, '원(KRW)', '02-3490-9300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053290', 'K', 'NE능률', '105801', '서적, 잡지 및 기타 인쇄물 출판업', 13497842, 6748921000, 500, '원(KRW)', '02-2014-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '104200', 'K', 'NHN벅스', '105802', '소프트웨어 개발 및 공급업', 14827550, 7413775000, 500, '원(KRW)', '031-8038-4186';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060250', 'K', 'NHN한국사이버결제', '106309', '기타 정보 서비스업', 21597493, 10798746500, 500, '원(KRW)', '(02)2108-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030190', 'K', 'NICE평가정보', '106309', '기타 정보 서비스업', 60714820, 30357410000, 500, '원(KRW)', '02-2122-4000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024940', 'K', 'PN풍년', '32509', '기타 금속 가공제품 제조업', 10000000, 5000000000, 500, '원(KRW)', '02-2008-1030';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '218410', 'K', 'RFHIC', '32604', '통신 및 방송 장비 제조업', 22248959, 11124479500, 500, '원(KRW)', '031-8069-3016';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '091340', 'K', 'S&K폴리텍', '32602', '전자부품 제조업', 11703721, 5851860500, 500, '원(KRW)', '031-432-8061';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019550', 'K', 'SBI인베스트먼트', '116402', '신탁업 및 집합투자업', 162066575, 83533287500, 500, '원(KRW)', '02-2139-9200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '950110', 'K', 'SBI핀테크솔루션즈', '105802', '소프트웨어 개발 및 공급업', 24656540, 0, 0, '일본엔(JPY)', '81-3-3498-5011';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046140', 'K', 'SBS콘텐츠허브', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 21463555, 10731777500, 500, '원(KRW)', '02-2001-0631';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036120', 'K', 'SCI평가정보', '147509', '기타 사업지원 서비스업', 35500000, 17750000000, 500, '원(KRW)', '02  -3445-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099220', 'K', 'SDN', '74605', '기계장비 및 관련 물품 도매업', 37327567, 18663783500, 500, '원(KRW)', '02-446-6691';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036540', 'K', 'SFA반도체', '32601', '반도체 제조업', 141121631, 70818115500, 500, '원(KRW)', '041 -529 -0708';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '255220', 'K', 'SG', '32309', '기타 비금속 광물제품 제조업', 12506024, 1250602400, 100, '원(KRW)', '032-574-6525';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '040610', 'K', 'SG&G', '33003', '자동차 신품 부품 제조업', 34087196, 17043598000, 500, '원(KRW)', '02-2105-6315';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049470', 'K', 'SGA', '105802', '소프트웨어 개발 및 공급업', 96558937, 48279468500, 500, '원(KRW)', '070-7308-9319';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '184230', 'K', 'SGA솔루션즈', '105802', '소프트웨어 개발 및 공급업', 33905098, 3390509800, 100, '원(KRW)', '02-574-6856';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '090730', 'K', 'SIMPAC Metal', '32401', '1차 철강 제조업', 13000000, 6500000000, 500, '원(KRW)', '054-271-8700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '232330', 'K', 'SK3호스팩', '116601', '금융 지원 서비스업', 3600000, 360000000, 100, '원(KRW)', '02-3773-8373';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '057500', 'K', 'SKC 솔믹스', '32602', '전자부품 제조업', 61494040, 30747020000, 500, '원(KRW)', '(031)660-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '178920', 'K', 'SKC코오롱PI', '32202', '플라스틱제품 제조업', 29366322, 14683161000, 500, '원(KRW)', '031-436-8600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036490', 'K', 'SK머티리얼즈', '32001', '기초 화학물질 제조업', 10547673, 5273836500, 500, '원(KRW)', '054-630-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052260', 'K', 'SK바이오랜드', '32004', '기타 화학제품 제조업', 15000000, 7500000000, 500, '원(KRW)', '041-550-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048550', 'K', 'SM C&C', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 94061026, 47030513000, 500, '원(KRW)', '02-3788-0000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '063440', 'K', 'SM Life Design', '31802', '기록매체 복제업', 44190228, 22455114000, 500, '원(KRW)', '031-955-7171';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123260', 'K', 'STC', '32601', '반도체 제조업', 23547769, 11773884500, 500, '원(KRW)', '031-297-3551';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '089230', 'K', 'THE E&M', '106309', '기타 정보 서비스업', 91860980, 9186098000, 100, '원(KRW)', '02-2088-8222';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032540', 'K', 'TJ미디어', '32605', '영상 및 음향기기 제조업', 13931609, 6965804500, 500, '원(KRW)', '02  -3663-4700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048770', 'K', 'TPC', '32901', '일반 목적용 기계 제조업', 12900000, 6450000000, 500, '원(KRW)', '032 -572 -1700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038340', 'K', 'UCI', '168505', '일반 교습 학원', 13434453, 6767226500, 500, '원(KRW)', '(02)3438-6900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052300', 'K', 'W홀딩컴퍼니', '85209', '기타 운송관련 서비스업', 127517483, 12751748300, 100, '원(KRW)', '02-6237-9786';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '040300', 'K', 'YTN', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 42000000, 42000000000, 1000, '원(KRW)', '(02) 398-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051390', 'K', 'YW', '74608', '상품 종합 도매업', 11355368, 5677684000, 500, '원(KRW)', '(031)703-7118';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052220', 'K', 'iMBC', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 23000000, 11500000000, 500, '원(KRW)', '(02)2105-1100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079940', 'K', '가비아', '105802', '소프트웨어 개발 및 공급업', 13535684, 6767842000, 500, '원(KRW)', '1544-4370';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078890', 'K', '가온미디어', '32604', '통신 및 방송 장비 제조업', 14395881, 7197940500, 500, '원(KRW)', '031-724-8500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '192410', 'K', '감마누', '32604', '통신 및 방송 장비 제조업', 24435800, 12217900000, 500, '원(KRW)', '031-831-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024840', 'K', '갑을메탈', '32402', '1차 비철금속 제조업', 31241496, 15620748000, 500, '원(KRW)', '053 -615 -1161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '217730', 'K', '강스템바이오텍', '32101', '기초 의약물질 및 생물학적 제제 제조업', 16594937, 8297468500, 500, '원(KRW)', '02-888-1590';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094480', 'K', '갤럭시아컴즈', '105802', '소프트웨어 개발 및 공급업', 39229838, 19614919000, 500, '원(KRW)', '02-3484-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '063080', 'K', '게임빌', '116409', '기타 금융업', 6595192, 3297596000, 500, '원(KRW)', '02-876-5252';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039240', 'K', '경남스틸', '32401', '1차 철강 제조업', 25000000, 2500000000, 100, '원(KRW)', '055 -252 -9208';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053950', 'K', '경남제약', '32102', '의약품 제조업', 11248376, 5624188000, 500, '원(KRW)', '02-3490-5105';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019010', 'K', '그랜드백화점', '74701', '종합 소매업', 4820000, 24100000000, 5000, '원(KRW)', '02-3665-0101';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900070', 'K', '글로벌에스엠', '116409', '기타 금융업', 53743968, 26871984, 0.5, '미국달러(USD)', '031-932-9970';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '204620', 'K', '글로벌텍스프리', '116601', '금융 지원 서비스업', 19283377, 9641688500, 500, '원(KRW)', '02-518-0837';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019660', 'K', '글로본', '74608', '상품 종합 도매업', 28001047, 14000523500, 500, '원(KRW)', '031-698-7300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053260', 'K', '금강철강', '32401', '1차 철강 제조업', 18720000, 9860000000, 500, '원(KRW)', '(02)3471-0001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036190', 'K', '금화피에스시', '64203', '전기 및 통신 공사업', 6000000, 3000000000, 500, '원(KRW)', '02  -2186-6220';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049080', 'K', '기가레인', '32902', '특수 목적용 기계 제조업', 50327715, 25163857500, 500, '원(KRW)', '031-233-7325';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035460', 'K', '기산텔레콤', '32604', '통신 및 방송 장비 제조업', 14577340, 7288670000, 500, '원(KRW)', '02  -3431-8700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '187790', 'K', '나노', '32001', '기초 화학물질 제조업', 15705238, 7852619000, 500, '원(KRW)', '054-533-5887';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '151910', 'K', '나노스', '32602', '전자부품 제조업', 490837980, 49083798000, 100, '원(KRW)', '031-240-3900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '121600', 'K', '나노신소재', '32004', '기타 화학제품 제조업', 10848333, 5424166500, 500, '원(KRW)', '044-275-6966';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039860', 'K', '나노엔텍', '32701', '의료용 기기 제조업', 25652586, 12826293000, 500, '원(KRW)', '02-6220-7728';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '091970', 'K', '나노캠텍', '32202', '플라스틱제품 제조업', 19998251, 9999125500, 500, '원(KRW)', '031-671-9466';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051490', 'K', '나라엠앤디', '32902', '특수 목적용 기계 제조업', 14200000, 7230000000, 500, '원(KRW)', '055-239-3600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '190510', 'K', '나무가', '32602', '전자부품 제조업', 3430020, 1912749500, 500, '원(KRW)', '070-7012-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '089600', 'K', '나스미디어', '137103', '광고업', 8754691, 4557703000, 500, '원(KRW)', '02-2188-7300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '138610', 'K', '나이벡', '32103', '의료용품 및 기타 의약 관련제품 제조업', 6367958, 3183979000, 500, '원(KRW)', '043-532-7458';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '130580', 'K', '나이스디앤비', '147509', '기타 사업지원 서비스업', 15400000, 7700000000, 500, '원(KRW)', '02-2122-2370';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036800', 'K', '나이스정보통신', '106102', '전기 통신업', 10000000, 5000000000, 500, '원(KRW)', '02  -2187-2700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '091590', 'K', '남화토건', '64101', '건물 건설업', 11740000, 5870000000, 500, '원(KRW)', '062-520-1072';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '168330', 'K', '내츄럴엔도텍', '137001', '자연과학 및 공학 연구개발업', 20231040, 10115520000, 500, '원(KRW)', '070-4601-3139';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '072770', 'K', '네오디안테크놀로지', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 35433958, 17716979000, 500, '원(KRW)', '02-2082-2800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '212560', 'K', '네오오토', '33003', '자동차 신품 부품 제조업', 7874963, 3937481500, 500, '원(KRW)', '02-732-2871';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '095660', 'K', '네오위즈', '105802', '소프트웨어 개발 및 공급업', 21915008, 10957504000, 500, '원(KRW)', '031-8023-6600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042420', 'K', '네오위즈홀딩스', '116409', '기타 금융업', 8856866, 4653433000, 500, '원(KRW)', '031-8023-6503';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '085910', 'K', '네오티스', '33003', '자동차 신품 부품 제조업', 11013678, 5506839000, 500, '원(KRW)', '031-671-0170';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092730', 'K', '네오팜', '32004', '기타 화학제품 제조업', 7461237, 3730618500, 500, '원(KRW)', '042-864-0038';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '153460', 'K', '네이블커뮤니케이션즈', '105802', '소프트웨어 개발 및 공급업', 6530014, 3265007000, 500, '원(KRW)', '070-7780-9910';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007390', 'K', '네이처셀', '31102', '비알코올음료 및 얼음 제조업', 53056399, 26528199500, 500, '원(KRW)', '02-3472-1681';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033640', 'K', '네패스', '32601', '반도체 제조업', 22753266, 11476633000, 500, '원(KRW)', '02-3470-2700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '087730', 'K', '네패스신소재', '32002', '합성고무 및 플라스틱 물질 제조업', 3515737, 1757868500, 500, '원(KRW)', '063-900-7200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '081970', 'K', '넥스지', '105802', '소프트웨어 개발 및 공급업', 8070924, 4035462000, 500, '원(KRW)', '02-569-0873';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '089140', 'K', '넥스턴', '32301', '유리 및 유리제품 제조업', 11846520, 5923260000, 500, '원(KRW)', '031-288-2088';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065170', 'K', '넥스트BT', '74603', '음·식료품 및 담배 도매업', 61587062, 30793531000, 500, '원(KRW)', '02-3401-4490';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '139670', 'K', '넥스트리밍', '105802', '소프트웨어 개발 및 공급업', 7016911, 3508455500, 500, '원(KRW)', '02-2194-5300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '137940', 'K', '넥스트아이', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 68480595, 7063799500, 100, '원(KRW)', '031-478-2700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092600', 'K', '넥스트칩', '32601', '반도체 제조업', 13447500, 6723750000, 500, '원(KRW)', '02-3460-4700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '041140', 'K', '넥슨지티', '105802', '소프트웨어 개발 및 공급업', 35373322, 17686661000, 500, '원(KRW)', '02-525-6603';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '217270', 'K', '넵튠', '105802', '소프트웨어 개발 및 공급업', 19522052, 9761026000, 500, '원(KRW)', '031-698-3498';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '225570', 'K', '넷게임즈', '105802', '소프트웨어 개발 및 공급업', 23949262, 11974631000, 500, '원(KRW)', '02-750-5644';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '144510', 'K', '녹십자랩셀', '137309', '그외 기타 전문, 과학 및 기술 서비스업', 10554054, 5277027000, 500, '원(KRW)', '031-260-9300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '031390', 'K', '녹십자셀', '32101', '기초 의약물질 및 생물학적 제제 제조업', 11695939, 5847969500, 500, '원(KRW)', '02-2101-0635';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '142280', 'K', '녹십자엠에스', '32103', '의료용품 및 기타 의약 관련제품 제조업', 9560000, 4780000000, 500, '원(KRW)', '031-260-9300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065560', 'K', '녹원씨엔아이', '74607', '기타 전문 도매업', 11357883, 5678941500, 500, '원(KRW)', '02-2025-6500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054050', 'K', '농우바이오', '10101', '작물 재배업', 16030561, 8015280500, 500, '원(KRW)', '031-213-4321';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '040160', 'K', '누리텔레콤', '105802', '소프트웨어 개발 및 공급업', 12055535, 6027767500, 500, '원(KRW)', '02-781-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '069140', 'K', '누리플랜', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 4751401, 2375700500, 500, '원(KRW)', '031-997-9097';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '126870', 'K', '뉴로스', '32901', '일반 목적용 기계 제조업', 19152272, 9576136000, 500, '원(KRW)', '042-865-7300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060260', 'K', '뉴보텍', '32202', '플라스틱제품 제조업', 24613919, 12306959500, 500, '원(KRW)', '033-734-6001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012340', 'K', '뉴인텍', '32602', '전자부품 제조업', 49125160, 24562580000, 500, '원(KRW)', '041 -541 -8100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '222040', 'K', '뉴트리바이오텍', '31007', '기타 식품 제조업', 20628000, 10314000000, 500, '원(KRW)', '02-3474-8527';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '144960', 'K', '뉴파워프라즈마', '32902', '특수 목적용 기계 제조업', 8250337, 4125168500, 500, '원(KRW)', '031-612-7600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900100', 'K', '뉴프라이드', '74502', '자동차 부품 및 내장품 판매업', 79475293, 238423, 0.003, '미국달러(USD)', '1-310-631-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '085670', 'K', '뉴프렉스', '32602', '전자부품 제조업', 21156039, 10578019500, 500, '원(KRW)', '031-494-9325';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '119860', 'K', '다나와', '105802', '소프트웨어 개발 및 공급업', 13074822, 6537411000, 500, '원(KRW)', '1688-2450';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064260', 'K', '다날', '105802', '소프트웨어 개발 및 공급업', 54216498, 27108249000, 500, '원(KRW)', '031-697-1004';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '093640', 'K', '다믈멀티미디어', '32601', '반도체 제조업', 7404345, 3702172500, 500, '원(KRW)', '031-380-6950';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039560', 'K', '다산네트웍스', '32604', '통신 및 방송 장비 제조업', 28395322, 15426123500, 500, '원(KRW)', '070-7010-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032190', 'K', '다우데이타', '74605', '기계장비 및 관련 물품 도매업', 38300000, 19150000000, 500, '원(KRW)', '02-3410-5100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068240', 'K', '다원시스', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 25855500, 12927750000, 500, '원(KRW)', '031-8085-3010';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '020400', 'K', '대동금속', '32403', '금속 주조업', 480000, 2400000000, 5000, '원(KRW)', '053 -610 -5030';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008830', 'K', '대동기어', '32902', '특수 목적용 기계 제조업', 898752, 4493760000, 5000, '원(KRW)', '055 -851 -2311';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048470', 'K', '대동스틸', '32401', '1차 철강 제조업', 10000000, 5000000000, 500, '원(KRW)', '(02)780-4448';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004780', 'K', '대륙제관', '32509', '기타 금속 가공제품 제조업', 15903199, 7951599500, 500, '원(KRW)', '02-6003-0600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017650', 'K', '대림제지', '31709', '기타 종이 및 판지 제품 제조업', 45000000, 4500000000, 100, '원(KRW)', '031 -373 -7670';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007720', 'K', '대명코퍼레이션', '74608', '상품 종합 도매업', 100800450, 50400225000, 500, '원(KRW)', '02-2222-7500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078140', 'K', '대봉엘에스', '32102', '의약품 제조업', 11086579, 5543289500, 500, '원(KRW)', '032-817-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036480', 'K', '대성미생물', '32102', '의약품 제조업', 3800000, 1900000000, 500, '원(KRW)', '02-553-1104';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025440', 'K', '대성엘텍', '32605', '영상 및 음향기기 제조업', 99661343, 49830671500, 500, '원(KRW)', '02-867-0061';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '027830', 'K', '대성창투', '116402', '신탁업 및 집합투자업', 40000000, 20000000000, 500, '원(KRW)', '02-3700-1800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '104040', 'K', '대성파인텍', '33003', '자동차 신품 부품 제조업', 31301281, 3130128100, 100, '원(KRW)', '055-289-4883';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '253590', 'K', '대신밸런스제3호스팩', '116601', '금융 지원 서비스업', 5510000, 551000000, 100, '원(KRW)', '02-769-3921';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '262830', 'K', '대신밸런스제4호스팩', '116601', '금융 지원 서비스업', 5010000, 501000000, 100, '원(KRW)', '02-769-3921';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '020180', 'K', '대신정보통신', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 38428915, 19214457500, 500, '원(KRW)', '02  -2107-5009';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '045390', 'K', '대아티아이', '32809', '기타 전기장비 제조업', 71151522, 7115152200, 100, '원(KRW)', '032-680-0800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '108380', 'K', '대양전기공업', '33101', '선박 및 보트 건조업', 9567333, 4783666500, 500, '원(KRW)', '051-200-5331';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006580', 'K', '대양제지', '31701', '펄프, 종이 및 판지 제조업', 26850000, 13425000000, 500, '원(KRW)', '031-490-9302';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007680', 'K', '대원', '64101', '건물 건설업', 11050000, 5525000000, 500, '원(KRW)', '043-264-1115';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048910', 'K', '대원미디어', '74607', '기타 전문 도매업', 12578946, 6319473000, 500, '원(KRW)', '02-6373-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005710', 'K', '대원산업', '33003', '자동차 신품 부품 제조업', 20037600, 10018800000, 500, '원(KRW)', '031 -495 -2301';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '071460', 'K', '대유위니아', '32805', '가정용 기기 제조업', 35967295, 31872532500, 500, '원(KRW)', '041-530-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '120240', 'K', '대정화금', '32001', '기초 화학물질 제조업', 6537847, 3268923500, 500, '원(KRW)', '031-488-8822';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003310', 'K', '대주산업', '31008', '동물용 사료 및 조제식품 제조업', 35392350, 18696175000, 500, '원(KRW)', '02  -2201-8107';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078600', 'K', '대주전자재료', '32602', '전자부품 제조업', 14551225, 7275612500, 500, '원(KRW)', '(031)498-2901';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065690', 'K', '대진디엠피', '32201', '고무제품 제조업', 13864500, 6932250000, 500, '원(KRW)', '02-3443-5360';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096350', 'K', '대창솔루션', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 18608163, 9304081500, 500, '원(KRW)', '052-711-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '140520', 'K', '대창스틸', '32401', '1차 철강 제조업', 20000000, 10000000000, 500, '원(KRW)', '032-816-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131220', 'K', '대한과학', '74605', '기계장비 및 관련 물품 도매업', 7454490, 3727245000, 500, '원(KRW)', '033-737-7500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010170', 'K', '대한광통신', '32803', '절연선 및 케이블 제조업', 73741625, 36870812500, 500, '원(KRW)', '031  -494 -1011';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054670', 'K', '대한뉴팜', '32102', '의약품 제조업', 14354920, 7177460000, 500, '원(KRW)', '02-3415-7804';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023910', 'K', '대한약품', '32102', '의약품 제조업', 6000000, 3000000000, 500, '원(KRW)', '02-2678-8443';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '021040', 'K', '대호피앤씨', '32401', '1차 철강 제조업', 73112826, 38677646000, 500, '원(KRW)', '055 -388 -4001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067080', 'K', '대화제약', '32102', '의약품 제조업', 18224974, 9112487000, 500, '원(KRW)', '02-586-6451';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '192080', 'K', '더블유게임즈', '105802', '소프트웨어 개발 및 공급업', 18160276, 9080138000, 500, '원(KRW)', '02-501-7216';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035290', 'K', '더블유에프엠', '105801', '서적, 잡지 및 기타 인쇄물 출판업', 22173875, 11086937500, 500, '원(KRW)', '02-565-4874';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '213420', 'K', '덕산네오룩스', '32602', '전자부품 제조업', 24010012, 4802002400, 200, '원(KRW)', '041-590-5400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '077360', 'K', '덕산하이메탈', '116409', '기타 금융업', 22718501, 4543700200, 200, '원(KRW)', '052-289-0443';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '228850', 'K', '레이언스', '32701', '의료용 기기 제조업', 16591014, 8295507000, 500, '원(KRW)', '031-8015-6420';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047440', 'K', '레이젠', '32602', '전자부품 제조업', 29146629, 14573314500, 500, '원(KRW)', '031-650-1300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '238120', 'K', '로고스바이오', '32703', '사진장비 및 광학기기 제조업', 3594724, 1797362000, 500, '원(KRW)', '031-478-4185';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '215100', 'K', '로보로보', '32809', '기타 전기장비 제조업', 17798454, 1779845400, 100, '원(KRW)', '02-909-5050';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '090360', 'K', '로보스타', '32902', '특수 목적용 기계 제조업', 7800000, 3900000000, 500, '원(KRW)', '031-400-3600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900260', 'K', '로스웰', '116409', '기타 금융업', 90781250, 675265221, 0, '중국위안(CNY)', 'nan';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067730', 'K', '로지시스', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 9340922, 4670461000, 500, '원(KRW)', '02-2125-6300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '071280', 'K', '로체시스템즈', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 15296603, 7648301500, 500, '원(KRW)', '(031)335-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038060', 'K', '루멘스', '32601', '반도체 제조업', 47276784, 23638392000, 500, '원(KRW)', '031-8033-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '082800', 'K', '루미마이크로', '32601', '반도체 제조업', 42875858, 21437929000, 500, '원(KRW)', '031-213-9200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '085370', 'K', '루트로닉', '32701', '의료용 기기 제조업', 25124556, 13103440500, 500, '원(KRW)', '031-926-7114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060240', 'K', '룽투코리아', '105802', '소프트웨어 개발 및 공급업', 24176133, 12438066500, 500, '원(KRW)', '02-2640-3530';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058470', 'K', '리노공업', '32602', '전자부품 제조업', 15242370, 7621185000, 500, '원(KRW)', '051-831-3232';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039980', 'K', '리노스', '74704', '섬유, 의복, 신발 및 가죽제품 소매업', 37754994, 18877497000, 500, '원(KRW)', '(02)3489-6800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016100', 'K', '리더스코스메틱', '32004', '기타 화학제품 제조업', 17939517, 8969758500, 500, '원(KRW)', '02-3453-8768';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '197210', 'K', '리드', '32902', '특수 목적용 기계 제조업', 71125392, 7112539200, 100, '원(KRW)', '031-324-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012700', 'K', '리드코프', '74607', '기타 전문 도매업', 26749230, 13777741000, 500, '원(KRW)', '02  -2126-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131100', 'K', '리켐', '32001', '기초 화학물질 제조업', 3867103, 1933551500, 500, '원(KRW)', '042-825-8630';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '277070', 'K', '린드먼아시아', '116402', '신탁업 및 집합투자업', 13500000, 6750000000, 500, '원(KRW)', '070-7019-4006';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042500', 'K', '링네트', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 14936878, 7468439000, 500, '원(KRW)', '02-6675-1251';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '219420', 'K', '링크제니시스', '105802', '소프트웨어 개발 및 공급업', 10000000, 1000000000, 100, '원(KRW)', '031-422-3581';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '098120', 'K', '마이크로컨텍솔', '32602', '전자부품 제조업', 8312766, 4156383000, 500, '원(KRW)', '041-621-4331';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '147760', 'K', '마이크로프랜드', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 10819866, 5409933000, 500, '원(KRW)', '02-944-6400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035480', 'K', '마제스타', '189102', '유원지 및 기타 오락관련 서비스업', 45529070, 22764535000, 500, '원(KRW)', '02-3011-9700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038290', 'K', '마크로젠', '137309', '그외 기타 전문, 과학 및 기술 서비스업', 10605454, 5302727000, 500, '원(KRW)', '02-2113-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '267980', 'K', '매일유업', '31005', '낙농제품 및 식용빙과류 제조업', 7843638, 3921819000, 500, '원(KRW)', '02-2117-2113';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005990', 'K', '매일홀딩스', '116409', '기타 금융업', 13718304, 6859152000, 500, '원(KRW)', '02-2127-2113';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '127160', 'K', '매직마이크로', '32602', '전자부품 제조업', 48737822, 4873782200, 100, '원(KRW)', '070-8680-3792';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '093520', 'K', '매커스', '74605', '기계장비 및 관련 물품 도매업', 16163092, 8081546000, 500, '원(KRW)', '02-3490-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '141070', 'K', '맥스로텍', '32902', '특수 목적용 기계 제조업', 24866457, 12433228500, 500, '원(KRW)', '053-584-6540';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067280', 'K', '멀티캠퍼스', '168506', '기타 교육기관', 5926779, 2963389500, 500, '원(KRW)', '02-6262-9114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '072870', 'K', '메가스터디', '105801', '서적, 잡지 및 기타 인쇄물 출판업', 4016291, 2008145500, 500, '원(KRW)', '02-6350-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '215200', 'K', '메가스터디교육', '168505', '일반 교습 학원', 2324376, 1162188000, 500, '원(KRW)', '02-3489-8200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '133750', 'K', '메가엠디', '168505', '일반 교습 학원', 22368593, 11184296500, 500, '원(KRW)', '02-3489-8346';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '041920', 'K', '메디아나', '32701', '의료용 기기 제조업', 8650496, 4325248000, 500, '원(KRW)', '033-742-5400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086900', 'K', '메디톡스', '32101', '기초 의약물질 및 생물학적 제제 제조업', 5656535, 2828267500, 500, '원(KRW)', '043-217-1555';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078160', 'K', '메디포스트', '32101', '기초 의약물질 및 생물학적 제제 제조업', 7868421, 3934210500, 500, '원(KRW)', '02-3465-6677';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065650', 'K', '메디프론', '74605', '기계장비 및 관련 물품 도매업', 29439113, 14719556500, 500, '원(KRW)', '02-545-9277';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '021880', 'K', '메이슨캐피탈', '116409', '기타 금융업', 97204408, 48602204000, 500, '원(KRW)', '02-2125-3200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '140410', 'K', '메지온', '137001', '자연과학 및 공학 연구개발업', 8589650, 4294825000, 500, '원(KRW)', '02-560-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '241770', 'K', '메카로', '32004', '기타 화학제품 제조업', 9981140, 5240570000, 500, '원(KRW)', '031-646-4400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '059210', 'K', '메타바이오메드', '32103', '의료용품 및 기타 의약 관련제품 제조업', 23862351, 11931175500, 500, '원(KRW)', '043-218-1981';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058110', 'K', '멕아이씨에스', '32701', '의료용 기기 제조업', 5361500, 2680750000, 500, '원(KRW)', '070) 7119-2520';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096640', 'K', '멜파스', '32602', '전자부품 제조업', 21257151, 10628575500, 500, '원(KRW)', '031-707-2280';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '149940', 'K', '모다', '32604', '통신 및 방송 장비 제조업', 21160409, 10580204500, 500, '원(KRW)', '02-523-7677';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '080420', 'K', '모다이노칩', '74704', '섬유, 의복, 신발 및 가죽제품 소매업', 39860811, 19930405500, 500, '원(KRW)', '031-315-7250';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '080160', 'K', '모두투어', '147502', '여행사 및 기타 여행보조 서비스업', 18900000, 9450000000, 500, '원(KRW)', '02-728-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '100030', 'K', '모바일리더', '105802', '소프트웨어 개발 및 공급업', 3283714, 1641857000, 500, '원(KRW)', '02-2051-4151';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '087260', 'K', '모바일어플라이언스', '105802', '소프트웨어 개발 및 공급업', 15000000, 7500000000, 500, '원(KRW)', '031-421-8071';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101330', 'K', '모베이스', '32604', '통신 및 방송 장비 제조업', 23958188, 11979094000, 500, '원(KRW)', '032-529-4200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '250060', 'K', '모비스', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 32171314, 3217131400, 100, '원(KRW)', '02-3771-3423';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033200', 'K', '모아텍', '32602', '전자부품 제조업', 14331185, 7665592500, 500, '원(KRW)', '032-810-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '118990', 'K', '모트렉스', '33003', '자동차 신품 부품 제조업', 5450109, 2725054500, 500, '원(KRW)', '070-4862-6100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006920', 'K', '모헨즈', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 10920000, 5460000000, 500, '원(KRW)', '02  -571 -3011';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001810', 'K', '무림SP', '31701', '펄프, 종이 및 판지 제조업', 22137500, 11068750000, 500, '원(KRW)', '02  -3485-1603';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '161570', 'K', '미동앤씨네마', '32605', '영상 및 음향기기 제조업', 13791786, 6895893000, 500, '원(KRW)', '070-7425-0614';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '028040', 'K', '미래SCI', '32309', '기타 비금속 광물제품 제조업', 29822166, 14911083000, 500, '원(KRW)', '043-710-0112';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '095500', 'K', '미래나노텍', '32202', '플라스틱제품 제조업', 23289533, 11644766500, 500, '원(KRW)', '043-710-1100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '218150', 'K', '미래생명자원', '31008', '동물용 사료 및 조제식품 제조업', 18671428, 1867142800, 100, '원(KRW)', '02-2203-7397';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '265480', 'K', '미래에셋대우스팩1호', '116601', '금융 지원 서비스업', 4840000, 484000000, 100, '원(KRW)', '02-3774-7171';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '239340', 'K', '미래에셋제5호스팩', '116601', '금융 지원 서비스업', 4800000, 480000000, 100, '원(KRW)', '02-3774-1736';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049950', 'K', '미래컴퍼니', '32902', '특수 목적용 기계 제조업', 7864540, 3932270000, 500, '원(KRW)', '(031)350-9801';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '213090', 'K', '미래테크놀로지', '105802', '소프트웨어 개발 및 공급업', 6120788, 3060394000, 500, '원(KRW)', '070-8890-1537';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '207760', 'K', '미스터블루', '106309', '기타 정보 서비스업', 24338741, 2433874100, 100, '원(KRW)', '02-337-0610';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '059090', 'K', '미코', '32601', '반도체 제조업', 31316603, 15658301500, 500, '원(KRW)', '031-670-5800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '201490', 'K', '미투온', '105802', '소프트웨어 개발 및 공급업', 31172770, 15586385000, 500, '원(KRW)', '02-515-2864';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214180', 'K', '민앤지', '106309', '기타 정보 서비스업', 11886628, 5943314000, 500, '원(KRW)', '02-929-4463';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '206640', 'K', '바디텍메드', '32103', '의료용품 및 기타 의약 관련제품 제조업', 23325311, 23325311000, 1000, '원(KRW)', '02-2004-4938';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018700', 'K', '바른손', '95601', '음식점업', 13903900, 13903900000, 1000, '원(KRW)', '02  -596-4411';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035620', 'K', '바른손이앤에이', '105802', '소프트웨어 개발 및 공급업', 67895702, 33947851000, 500, '원(KRW)', '070-7609-1404';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064520', 'K', '바른전자', '32601', '반도체 제조업', 66419511, 33209755500, 500, '원(KRW)', '031-8020-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '029480', 'K', '바른테크놀로지', '32604', '통신 및 방송 장비 제조업', 32795285, 16397642500, 500, '원(KRW)', '02  -3459-0620';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053030', 'K', '바이넥스', '32102', '의약품 제조업', 31731048, 15865524000, 500, '원(KRW)', '(051)261-6611';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '084990', 'K', '바이로메드', '137001', '자연과학 및 공학 연구개발업', 15956260, 7978130000, 500, '원(KRW)', '(02)873-8330';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064550', 'K', '바이오니아', '32103', '의료용품 및 기타 의약 관련제품 제조업', 20624568, 10312284000, 500, '원(KRW)', '042-936-8500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '222810', 'K', '바이오닉스진', '105802', '소프트웨어 개발 및 공급업', 15993536, 1599353600, 100, '원(KRW)', '02-3497-8900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '208710', 'K', '바이오로그디바이스', '32602', '전자부품 제조업', 27402512, 2740251200, 100, '원(KRW)', '031-831-3696';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '142760', 'K', '바이오리더스', '137001', '자연과학 및 공학 연구개발업', 15930310, 7965155000, 500, '원(KRW)', '042-934-7671';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065940', 'K', '바이오빌', '32001', '기초 화학물질 제조업', 33330498, 16665249000, 500, '원(KRW)', '(055)385-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038460', 'K', '바이오스마트', '32602', '전자부품 제조업', 19173735, 9586867500, 500, '원(KRW)', '02-3218-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '044480', 'K', '바이오제네틱스', '32201', '고무제품 제조업', 10954777, 5477388500, 500, '원(KRW)', '02-2203-3835';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086040', 'K', '바이오톡스텍', '137001', '자연과학 및 공학 연구개발업', 14564623, 7282311500, 500, '원(KRW)', '043-210-7777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032980', 'K', '바이온', '74603', '음·식료품 및 담배 도매업', 44119874, 22059937000, 500, '원(KRW)', '02-516-0720';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043150', 'K', '바텍', '32701', '의료용 기기 제조업', 14854256, 7427128000, 500, '원(KRW)', '031-679-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '267790', 'K', '배럴', '31401', '봉제의복 제조업', 7215846, 3607923000, 500, '원(KRW)', '02-335-3176';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046310', 'K', '백금T&A', '32604', '통신 및 방송 장비 제조업', 15168604, 7584302000, 500, '원(KRW)', '031-488-7900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036620', 'K', '버추얼텍', '74607', '기타 전문 도매업', 28933505, 14466752500, 500, '원(KRW)', '02  -333 -3012';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '177350', 'K', '베셀', '32902', '특수 목적용 기계 제조업', 11192368, 5596184000, 500, '원(KRW)', '031-683-3953';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '225530', 'K', '보광산업', '20702', '기타 비금속광물 광업', 34470000, 17235000000, 500, '원(KRW)', '053-384-0881';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '250000', 'K', '보라티알', '74603', '음·식료품 및 담배 도매업', 6750733, 3375366500, 500, '원(KRW)', '02-538-3373';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014100', 'K', '보령메디앙스', '32004', '기타 화학제품 제조업', 11800000, 5900000000, 500, '원(KRW)', '02  -708 -8365';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006910', 'K', '보성파워텍', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 45854719, 22927359500, 500, '원(KRW)', '031 -491 -0311';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014470', 'K', '부방', '116409', '기타 금융업', 47293490, 23646745000, 500, '원(KRW)', '02-2008-7272';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008470', 'K', '부스타', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 8404800, 4202400000, 500, '원(KRW)', '043-536-9107';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '100120', 'K', '뷰웍스', '32701', '의료용 기기 제조업', 10001865, 5000932500, 500, '원(KRW)', '070-7011-6190';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066980', 'K', '브레인콘텐츠', '106309', '기타 정보 서비스업', 156258454, 78129227000, 500, '원(KRW)', '02-2017-7933';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046390', 'K', '삼화네트웍스', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 42857933, 8571586600, 200, '원(KRW)', '02-3454-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '027580', 'K', '상보', '32602', '전자부품 제조업', 28312361, 14156180500, 500, '원(KRW)', '031-987-9900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038540', 'K', '상상인', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 47748397, 47748397000, 1000, '원(KRW)', '02-2167-8500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '091580', 'K', '상신이디피', '32802', '일차전지 및 축전지 제조업', 11295050, 5647525000, 500, '원(KRW)', '031-205-9242';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '263810', 'K', '상신전자', '32602', '전자부품 제조업', 3921000, 1960500000, 500, '원(KRW)', '055-343-3826';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '089980', 'K', '상아프론테크', '32202', '플라스틱제품 제조업', 14263536, 7131768000, 500, '원(KRW)', '032-451-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042940', 'K', '상지카일룸', '64203', '전기 및 통신 공사업', 36840456, 18420228000, 500, '원(KRW)', '02-517-5174';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042600', 'K', '새로닉스', '32602', '전자부품 제조업', 12423574, 6211787000, 500, '원(KRW)', '054-463-7945';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '263540', 'K', '샘코', '33103', '항공기,우주선 및 부품 제조업', 7936681, 3968340500, 500, '원(KRW)', '055-850-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038070', 'K', '서린바이오', '74607', '기타 전문 도매업', 6900516, 3450258000, 500, '원(KRW)', '031-628-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006730', 'K', '서부T&D', '74608', '상품 종합 도매업', 51871207, 25935603500, 500, '원(KRW)', '02  -2689 -0035';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079650', 'K', '서산', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 20000000, 2000000000, 100, '원(KRW)', '(062)950-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '100660', 'K', '서암기계공업', '32901', '일반 목적용 기계 제조업', 12600000, 6300000000, 500, '원(KRW)', '062-960-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012860', 'K', '서연전자', '33003', '자동차 신품 부품 제조업', 27000000, 13500000000, 500, '원(KRW)', '031-5174-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019770', 'K', '서연탑메탈', '32902', '특수 목적용 기계 제조업', 11650000, 5825000000, 500, '원(KRW)', '032-820-3216';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043710', 'K', '서울리거', '137103', '광고업', 21115308, 10557654000, 500, '원(KRW)', '02-2138-5281';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046890', 'K', '서울반도체', '32601', '반도체 제조업', 58305400, 29152700000, 500, '원(KRW)', '02-1566-2771';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '063170', 'K', '서울옥션', '74601', '상품 중개업', 16917500, 8458750000, 500, '원(KRW)', '02-395-0330~4';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '027040', 'K', '서울전자통신', '33309', '그외 기타 제품 제조업', 64764286, 32382143000, 500, '원(KRW)', '032-723-4111';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018680', 'K', '서울제약', '32102', '의약품 제조업', 8485499, 4242749500, 500, '원(KRW)', '02-3470-2300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '093920', 'K', '서원인텍', '32604', '통신 및 방송 장비 제조업', 18600000, 9300000000, 500, '원(KRW)', '031-428-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '189860', 'K', '서전기전', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 4849390, 2424695000, 500, '원(KRW)', '031-426-5506';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '178320', 'K', '서진시스템', '32604', '통신 및 방송 장비 제조업', 6388737, 3194368500, 500, '원(KRW)', '032-506-2760';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '122690', 'K', '서진오토모티브', '33003', '자동차 신품 부품 제조업', 19541246, 9770623000, 500, '원(KRW)', '031-496-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '140070', 'K', '서플러스글로벌', '74605', '기계장비 및 관련 물품 도매업', 36988000, 3698800000, 100, '원(KRW)', '031-615-6800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011370', 'K', '서한', '64101', '건물 건설업', 100894865, 50447432500, 500, '원(KRW)', '053 -741 -9980';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065710', 'K', '서호전기', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 5150000, 2575000000, 500, '원(KRW)', '(031)463-6612';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035890', 'K', '서희건설', '64101', '건물 건설업', 173467745, 86733872500, 500, '원(KRW)', '02  -3416-6644';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003100', 'K', '선광', '85209', '기타 운송관련 서비스업', 6600000, 6600000000, 1000, '원(KRW)', '032 -8806-562';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123420', 'K', '선데이토즈', '105802', '소프트웨어 개발 및 공급업', 9569842, 4784921000, 500, '원(KRW)', '031-1833-9782';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '171090', 'K', '선익시스템', '32902', '특수 목적용 기계 제조업', 6000000, 3000000000, 500, '원(KRW)', '02-8012-1600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014620', 'K', '성광벤드', '32401', '1차 철강 제조업', 28600000, 14300000000, 500, '원(KRW)', '051-3300-200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037350', 'K', '성도이엔지', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 15470000, 7735000000, 500, '원(KRW)', '02  -6244-5200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '081580', 'K', '성우전자', '32604', '통신 및 방송 장비 제조업', 15508143, 7754071500, 500, '원(KRW)', '031-362-3100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '045300', 'K', '성우테크론', '32602', '전자부품 제조업', 9054055, 4527027500, 500, '원(KRW)', '055-279-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '015750', 'K', '성우하이텍', '33003', '자동차 신품 부품 제조업', 60000000, 30000000000, 500, '원(KRW)', '070-7477-5450';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '080470', 'K', '성창오토텍', '33003', '자동차 신품 부품 제조업', 7300000, 3650000000, 500, '원(KRW)', '031-650-5400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043260', 'K', '성호전자', '32602', '전자부품 제조업', 29506142, 14753071000, 500, '원(KRW)', '(02)855-5931';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053060', 'K', '세동', '33003', '자동차 신품 부품 제조업', 19668840, 9834420000, 500, '원(KRW)', '051-796-7161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017510', 'K', '세명전기', '32509', '기타 금속 가공제품 제조업', 15246000, 7623000000, 500, '원(KRW)', '051 -316 -6887';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214310', 'K', '세미콘라이트', '32601', '반도체 제조업', 62050302, 6205030200, 100, '원(KRW)', '031-282-6425';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011560', 'K', '세보엠이씨', '64202', '건물설비 설치 공사업', 10530000, 5265000000, 500, '원(KRW)', '02 - 2046 - 7922';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '100700', 'K', '세운메디칼', '32103', '의료용품 및 기타 의약 관련제품 제조업', 43800000, 4380000000, 100, '원(KRW)', '041-584-2903';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '234100', 'K', '세원', '33003', '자동차 신품 부품 제조업', 4476597, 2238298500, 500, '원(KRW)', '031-615-6710';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024830', 'K', '세원물산', '33003', '자동차 신품 부품 제조업', 8350000, 4175000000, 500, '원(KRW)', '053 -582 -5161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '258830', 'K', '세종메디칼', '32701', '의료용 기기 제조업', 6777741, 3388870500, 500, '원(KRW)', '031-945-8191';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036630', 'K', '세종텔레콤', '106102', '전기 통신업', 600326126, 300163063000, 500, '원(KRW)', '02-3415-4935';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039310', 'K', '세중', '147502', '여행사 및 기타 여행보조 서비스업', 18121667, 9060833500, 500, '원(KRW)', '02-2126-7777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067770', 'K', '세진티에스', '32602', '전자부품 제조업', 8396593, 4198296500, 500, '원(KRW)', '(031)650-3700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053450', 'K', '세코닉스', '32703', '사진장비 및 광학기기 제조업', 11248911, 5624455500, 500, '원(KRW)', '031-860-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '252500', 'K', '세화피앤씨', '32004', '기타 화학제품 제조업', 20743195, 2074319500, 100, '원(KRW)', '02-555-4019';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049180', 'K', '셀루메드', '32101', '기초 의약물질 및 생물학적 제제 제조업', 20309901, 10154950500, 500, '원(KRW)', '02-3281-0471';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '108860', 'K', '셀바스AI', '105802', '소프트웨어 개발 및 공급업', 22055945, 11027972500, 500, '원(KRW)', '02-6190-7500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '208370', 'K', '셀바스헬스케어', '32701', '의료용 기기 제조업', 13147071, 6573535500, 500, '원(KRW)', '042-864-4460';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068760', 'K', '셀트리온제약', '32102', '의약품 제조업', 34044492, 17022246000, 500, '원(KRW)', '02-2216-3611';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '091990', 'K', '셀트리온헬스케어', '74607', '기타 전문 도매업', 140516224, 140516224000, 1000, '원(KRW)', '032-850-6400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053110', 'K', '소리바다', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 56357072, 28178536000, 500, '원(KRW)', '02-562-7188';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032680', 'K', '소프트센', '74605', '기계장비 및 관련 물품 도매업', 31173753, 15658305000, 500, '원(KRW)', '02-2027-3800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066910', 'K', '손오공', '33304', '인형,장난감 및 오락용품 제조업', 21896161, 10948080500, 500, '원(KRW)', '02-2610-8750';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043100', 'K', '솔고바이오', '32701', '의료용 기기 제조업', 119725785, 59862892500, 500, '원(KRW)', '031-610-4052';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '154040', 'K', '솔루에타', '32602', '전자부품 제조업', 12086586, 6043293000, 500, '원(KRW)', '031-508-2655';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035610', 'K', '솔본', '137105', '회사 본부 및 경영 컨설팅 서비스업', 27345997, 13672998500, 500, '원(KRW)', '02-580-2999';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036830', 'K', '솔브레인', '32004', '기타 화학제품 제조업', 17398271, 8699135500, 500, '원(KRW)', '031 -719 -0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '230980', 'K', '솔트웍스', '105802', '소프트웨어 개발 및 공급업', 10311829, 1031182900, 100, '원(KRW)', '02-6915-5342';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086980', 'K', '쇼박스', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 62600000, 31300000000, 500, '원(KRW)', '02-3218-5500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '050960', 'K', '수산아이앤티', '105802', '소프트웨어 개발 및 공급업', 6751000, 3375500000, 500, '원(KRW)', '02)541-0073';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '084180', 'K', '수성', '32901', '일반 목적용 기계 제조업', 9424760, 4712380000, 500, '원(KRW)', '032-818-5160';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058530', 'K', '슈펙스비앤피', '74604', '생활용품 도매업', 58787316, 29393658000, 500, '원(KRW)', '031-628-2603';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '236200', 'K', '슈프리마', '32604', '통신 및 방송 장비 제조업', 7080273, 3540136500, 500, '원(KRW)', '031-783-4505';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094840', 'K', '슈프리마에이치큐', '116409', '기타 금융업', 10471840, 5235920000, 500, '원(KRW)', '031-783-4505';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '192440', 'K', '슈피겐코리아', '33309', '그외 기타 제품 제조업', 6216363, 3108181500, 500, '원(KRW)', '02-6713-6010';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099440', 'K', '스맥', '32902', '특수 목적용 기계 제조업', 27220484, 13610242000, 500, '원(KRW)', '055-340-4800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033790', 'K', '스카이문스테크놀로지', '32604', '통신 및 방송 장비 제조업', 17117100, 8558550000, 500, '원(KRW)', '031-345-5100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '159910', 'K', '스킨앤스킨', '32004', '기타 화학제품 제조업', 102746035, 10274603500, 100, '원(KRW)', '070-5073-4918';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115570', 'K', '스타플렉스', '32202', '플라스틱제품 제조업', 6453734, 3226867000, 500, '원(KRW)', '043-881-1361';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '253450', 'K', '스튜디오드래곤', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 28037240, 14018620000, 500, '원(KRW)', '02-371-7076';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013810', 'K', '스페코', '32902', '특수 목적용 기계 제조업', 14655470, 7327735000, 500, '원(KRW)', '02-3498-3243';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039670', 'K', '스포츠서울', '105801', '서적, 잡지 및 기타 인쇄물 출판업', 31382617, 15691308500, 500, '원(KRW)', '(02)2001-0072';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049830', 'K', '승일', '32509', '기타 금속 가공제품 제조업', 6132112, 3066056000, 500, '원(KRW)', '032 -578 -1811';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '020710', 'K', '시공테크', '137302', '전문디자인업', 20047970, 10023985000, 500, '원(KRW)', '02-3438-0077';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033170', 'K', '시그네틱스', '32601', '반도체 제조업', 85728319, 42864159500, 500, '원(KRW)', '031-940-7400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048870', 'K', '시너지이노베이션', '32701', '의료용 기기 제조업', 56813951, 28406975500, 500, '원(KRW)', '02-2191-0716';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025320', 'K', '시노펙스', '32602', '전자부품 제조업', 65517274, 33191693500, 500, '원(KRW)', '054 -289 -4021';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '269620', 'K', '시스웍', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 18000000, 1800000000, 100, '원(KRW)', '042-932-4850';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131090', 'K', '시큐브', '105802', '소프트웨어 개발 및 공급업', 36000000, 3600000000, 100, '원(KRW)', '02-2028-1200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001000', 'K', '신라섬유', '126801', '부동산 임대 및 공급업', 24277540, 2427754000, 100, '원(KRW)', '053-960-1246';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025870', 'K', '신라에스지', '74603', '음·식료품 및 담배 도매업', 4000000, 2000000000, 500, '원(KRW)', '02-416-0771';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '215600', 'K', '신라젠', '137001', '자연과학 및 공학 연구개발업', 69422033, 34711016500, 500, '원(KRW)', '02-368-2600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065350', 'K', '신성델타테크', '32805', '가정용 기기 제조업', 22088547, 11044273500, 500, '원(KRW)', '055-260-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '056000', 'K', '신스타임즈', '105802', '소프트웨어 개발 및 공급업', 14016600, 7008300000, 500, '원(KRW)', '02-557-9482';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002800', 'K', '신신제약', '32102', '의약품 제조업', 15170500, 7585250000, 500, '원(KRW)', '031-776-1111';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '017000', 'K', '신원종합개발', '64101', '건물 건설업', 10068027, 52989616000, 5000, '원(KRW)', '02-6908-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012790', 'K', '신일제약', '32102', '의약품 제조업', 7900000, 3950000000, 500, '원(KRW)', '02-2211-6711';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '138070', 'K', '신진에스엠', '32509', '기타 금속 가공제품 제조업', 8972183, 4486091500, 500, '원(KRW)', '031-369-7400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099660', 'K', '신텍', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 63987602, 31993801000, 500, '원(KRW)', '055-210-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '257730', 'K', '신한제3호스팩', '116601', '금융 지원 서비스업', 3505000, 350500000, 100, '원(KRW)', '02-3772-4073';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '160980', 'K', '싸이맥스', '32902', '특수 목적용 기계 제조업', 10576294, 5288147000, 500, '원(KRW)', '070-7732-5300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010280', 'K', '쌍용정보통신', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 40464034, 40464034000, 1000, '원(KRW)', '02-2262-8114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '122800', 'K', '썬텍', '32403', '금속 주조업', 33153085, 3315308500, 100, '원(KRW)', '02-2055-4051';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '208640', 'K', '썸에이지', '105802', '소프트웨어 개발 및 공급업', 76020529, 7602052900, 100, '원(KRW)', '070-4349-1330';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '222420', 'K', '쎄노텍', '32309', '기타 비금속 광물제품 제조업', 39183915, 3918391500, 100, '원(KRW)', '055-584-9183';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037760', 'K', '쎄니트', '32401', '1차 철강 제조업', 33832921, 16916460500, 500, '원(KRW)', '02-598-1250';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '136510', 'K', '쎄미시스코', '32902', '특수 목적용 기계 제조업', 5400000, 2700000000, 500, '원(KRW)', '031-237-3425';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099320', 'K', '쎄트렉아이', '33103', '항공기,우주선 및 부품 제조업', 3659990, 1829995000, 500, '원(KRW)', '042-365-7500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049960', 'K', '쎌바이오텍', '32101', '기초 의약물질 및 생물학적 제제 제조업', 9400000, 4700000000, 500, '원(KRW)', '031-987-6205-7';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '050890', 'K', '쏠리드', '32604', '통신 및 방송 장비 제조업', 38397659, 19198829500, 500, '원(KRW)', '031-627-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066790', 'K', '씨씨에스', '106002', '텔레비전 방송업', 85564335, 42782167500, 500, '원(KRW)', '043-850-7104';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '222080', 'K', '씨아이에스', '32902', '특수 목적용 기계 제조업', 53624705, 5362470500, 100, '원(KRW)', '053-593-1552';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '264660', 'K', '씨앤지하이테크', '32902', '특수 목적용 기계 제조업', 4202740, 2101370000, 500, '원(KRW)', '031-659-9803';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115530', 'K', '씨엔플러스', '32602', '전자부품 제조업', 36226748, 3622674800, 100, '원(KRW)', '032-813-0970';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '225330', 'K', '씨엠에스에듀', '168505', '일반 교습 학원', 18634768, 9317384000, 500, '원(KRW)', '02-552-8500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115480', 'K', '씨유메디칼', '32701', '의료용 기기 제조업', 15890979, 7945489500, 500, '원(KRW)', '033-747-7657';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096530', 'K', '씨젠', '32103', '의료용품 및 기타 의약 관련제품 제조업', 26234020, 13117010000, 500, '원(KRW)', '02-2240-4036';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900120', 'K', '씨케이에이치', '116409', '기타 금융업', 110404457, 5520223, 0.05, '미국달러(USD)', '86-1395-0486-047';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101240', 'K', '씨큐브', '32001', '기초 화학물질 제조업', 8050441, 4025220500, 500, '원(KRW)', '043-531-2500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047920', 'K', '씨트리', '137001', '자연과학 및 공학 연구개발업', 13848373, 6924186500, 500, '원(KRW)', '031-557-0001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060590', 'K', '씨티씨바이오', '74604', '생활용품 도매업', 17625133, 8812566500, 500, '원(KRW)', '070-4033-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036170', 'K', '씨티젠', '32601', '반도체 제조업', 26254825, 26254825000, 1000, '원(KRW)', '031 -205 -5300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '260930', 'K', '씨티케이코스메틱스', '32004', '기타 화학제품 제조업', 10122151, 5061075500, 500, '원(KRW)', '031-698-4297';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013990', 'K', '아가방컴퍼니', '74604', '생활용품 도매업', 32887536, 16443768000, 500, '원(KRW)', '02-527-1300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123860', 'K', '아나패스', '32601', '반도체 제조업', 10127700, 5063850000, 500, '원(KRW)', '02-6922-7400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025980', 'K', '아난티', '189101', '스포츠 서비스업', 82320915, 8232091500, 100, '원(KRW)', '02-6742-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058220', 'K', '아리온', '32604', '통신 및 방송 장비 제조업', 84916388, 16983277600, 200, '원(KRW)', '031-361-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052710', 'K', '아모텍', '32602', '전자부품 제조업', 9743406, 4871703000, 500, '원(KRW)', '(031)989-0506';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '074430', 'K', '아미노로직스', '74607', '기타 전문 도매업', 87826844, 8782684400, 100, '원(KRW)', '02-761-4570';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092040', 'K', '아미코젠', '31007', '기타 식품 제조업', 19191510, 9595755000, 500, '원(KRW)', '055-759-6161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '083930', 'K', '아바코', '32902', '특수 목적용 기계 제조업', 15996505, 7998252500, 500, '원(KRW)', '053-583-8150';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '149950', 'K', '아바텍', '32602', '전자부품 제조업', 15607500, 8153750000, 500, '원(KRW)', '053-592-4060';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036010', 'K', '아비코전자', '32602', '전자부품 제조업', 13292934, 6896467000, 500, '원(KRW)', '031-730-5114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '050860', 'K', '아세아텍', '32902', '특수 목적용 기계 제조업', 17500000, 8750000000, 500, '원(KRW)', '0535807777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '246720', 'K', '아스타', '32103', '의료용품 및 기타 의약 관련제품 제조업', 9442523, 4721261500, 500, '원(KRW)', '031-888-9596';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067390', 'K', '아스트', '33103', '항공기,우주선 및 부품 제조업', 15715097, 8109548500, 500, '원(KRW)', '055-851-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '127710', 'K', '아시아경제', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 25244030, 12622015000, 500, '원(KRW)', '02-2200-2197';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '154030', 'K', '아시아종묘', '10101', '작물 재배업', 9215539, 4607769500, 500, '원(KRW)', '02-449-9161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '227610', 'K', '아우딘퓨쳐스', '32004', '기타 화학제품 제조업', 10000000, 5000000000, 500, '원(KRW)', '02-571-2432';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '143160', 'K', '아이디스', '32604', '통신 및 방송 장비 제조업', 10716390, 5358195000, 500, '원(KRW)', '031-723-5425';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054800', 'K', '아이디스홀딩스', '137106', '기타 전문 서비스업', 10347756, 5173878000, 500, '원(KRW)', '042-933-9677';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060570', 'K', '아이리버', '32605', '영상 및 음향기기 제조업', 47567412, 23783706000, 500, '원(KRW)', '(02)3019-1700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '099190', 'K', '아이센스', '32701', '의료용 기기 제조업', 13737238, 6868619000, 500, '원(KRW)', '02-916-6191';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214430', 'K', '아이쓰리시스템', '32602', '전자부품 제조업', 7106760, 3580660000, 500, '원(KRW)', '070-4162-0781';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '040910', 'K', '아이씨디', '32902', '특수 목적용 기계 제조업', 16666497, 8333248500, 500, '원(KRW)', '031-678-3333';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068940', 'K', '아이씨케이', '32602', '전자부품 제조업', 31179722, 6235944400, 200, '원(KRW)', '053-592-3433';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052860', 'K', '아이앤씨', '32601', '반도체 제조업', 15789538, 7894769000, 500, '원(KRW)', '031-696-3300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '069920', 'K', '아이에스이커머스', '74709', '무점포 소매업', 25514093, 12757046500, 500, '원(KRW)', '02-2191-3500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038880', 'K', '아이에이', '32602', '전자부품 제조업', 41288060, 20644030000, 500, '원(KRW)', '02  -3015-1300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101390', 'K', '아이엠', '32602', '전자부품 제조업', 22572009, 11286004500, 500, '원(KRW)', '031-231-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '226350', 'K', '아이엠텍', '32602', '전자부품 제조업', 20475026, 10237513000, 500, '원(KRW)', '031-8071-2581';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078860', 'K', '아이오케이', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 26574014, 13287007000, 500, '원(KRW)', '02-2204-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '114810', 'K', '아이원스', '32902', '특수 목적용 기계 제조업', 13415919, 6707959500, 500, '원(KRW)', '031-238-7785';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '031310', 'K', '아이즈비전', '106102', '전기 통신업', 15772574, 7886287000, 500, '원(KRW)', '02-6330-5051';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '185490', 'K', '아이진', '137001', '자연과학 및 공학 연구개발업', 10992092, 5496046000, 500, '원(KRW)', '02-322-1687';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '059100', 'K', '아이컴포넌트', '32602', '전자부품 제조업', 7070860, 3535430000, 500, '원(KRW)', '031-719-4316';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052460', 'K', '아이크래프트', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 8053968, 4026984000, 500, '원(KRW)', '(02)541-0474';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '119830', 'K', '아이텍반도체', '137309', '그외 기타 전문, 과학 및 기술 서비스업', 5317546, 2658773000, 500, '원(KRW)', '031-436-2302';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '124500', 'K', '아이티센', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 15700682, 7850341000, 500, '원(KRW)', '02-3497-8300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032080', 'K', '아즈텍WB', '31304', '섬유제품 염색, 정리 및 마무리 가공업', 20916684, 10458342000, 500, '원(KRW)', '051 -202 -3101';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013310', 'K', '아진산업', '33003', '자동차 신품 부품 제조업', 29732585, 14866292500, 500, '원(KRW)', '053-856-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '059120', 'K', '아진엑스텍', '32601', '반도체 제조업', 6805761, 3402880500, 500, '원(KRW)', '053-593-3700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023890', 'K', '아트라스BX', '32802', '일차전지 및 축전지 제조업', 9150000, 9150000000, 1000, '원(KRW)', '042-620-4262';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067160', 'K', '아프리카TV', '105802', '소프트웨어 개발 및 공급업', 11305067, 5652533500, 500, '원(KRW)', '031-622-8380';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '001540', 'K', '안국약품', '32102', '의약품 제조업', 13042420, 6521210000, 500, '원(KRW)', '02  -3289-4221';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053800', 'K', '안랩', '105802', '소프트웨어 개발 및 공급업', 10013855, 5182644500, 500, '원(KRW)', '031-722-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065660', 'K', '안트로젠', '32101', '기초 의약물질 및 생물학적 제제 제조업', 7953631, 3976815500, 500, '원(KRW)', '02-2104-0391';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '260660', 'K', '알리코제약', '32103', '의료용품 및 기타 의약 관련제품 제조업', 9595575, 4797787500, 500, '원(KRW)', '02-585-0004';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '106080', 'K', '알비케이이엠디', '32602', '전자부품 제조업', 90825312, 18165062400, 200, '원(KRW)', '031-8040-0500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131370', 'K', '알서포트', '105802', '소프트웨어 개발 및 공급업', 53267083, 5326708300, 100, '원(KRW)', '070-7011-3900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '140670', 'K', '알에스오토메이션', '32602', '전자부품 제조업', 9103140, 4551570000, 500, '원(KRW)', '031-685-9300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096610', 'K', '알에프세미', '32601', '반도체 제조업', 8120970, 4060485000, 500, '원(KRW)', '042-823-9682';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '061040', 'K', '알에프텍', '32604', '통신 및 방송 장비 제조업', 19050000, 9525000000, 500, '원(KRW)', '031-322-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '148250', 'K', '알엔투테크놀로지', '32602', '전자부품 제조업', 6328942, 3164471000, 500, '원(KRW)', '031-376-5400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '196170', 'K', '알테오젠', '137001', '자연과학 및 공학 연구개발업', 12643230, 6321615000, 500, '원(KRW)', '042-384-8780';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123750', 'K', '알톤스포츠', '33109', '그외 기타 운송장비 제조업', 12746297, 6373148500, 500, '원(KRW)', '02-422-0574';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '085810', 'K', '알티캐스트', '105802', '소프트웨어 개발 및 공급업', 21223160, 10987352000, 500, '원(KRW)', '02-2007-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '117670', 'K', '알파홀딩스', '32601', '반도체 제조업', 13144440, 6572220000, 500, '원(KRW)', '070-4600-0000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '196300', 'K', '애니젠', '32101', '기초 의약물질 및 생물학적 제제 제조업', 5016165, 2508082500, 500, '원(KRW)', '062-714-1166';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '205500', 'K', '액션스퀘어', '105802', '소프트웨어 개발 및 공급업', 26481942, 13240971000, 500, '원(KRW)', '031-781-7161';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052790', 'K', '액토즈소프트', '105802', '소프트웨어 개발 및 공급업', 11330638, 5665319000, 500, '원(KRW)', '(02)747-8260';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131400', 'K', '액트', '32602', '전자부품 제조업', 17366763, 8683381500, 500, '원(KRW)', '053-593-8560';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '238090', 'K', '앤디포스', '32202', '플라스틱제품 제조업', 15068965, 7534482500, 500, '원(KRW)', '070-7662-2121';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '174900', 'K', '앱클론', '32103', '의료용품 및 기타 의약 관련제품 제조업', 6800000, 3400000000, 500, '원(KRW)', '02-2109-1294';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '255440', 'K', '야스', '32902', '특수 목적용 기계 제조업', 12930000, 6505000000, 500, '원(KRW)', '031-904-8591';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030960', 'K', '양지사', '31801', '인쇄 및 인쇄관련 산업', 15980000, 7990000000, 500, '원(KRW)', '02  -865 -0041';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '102120', 'K', '어보브반도체', '32601', '반도체 제조업', 17459653, 8729826500, 500, '원(KRW)', '02-2193-2200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '041590', 'K', '에너전트', '32602', '전자부품 제조업', 44411076, 22205538000, 500, '원(KRW)', '02-6005-0555';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019990', 'K', '에너토크', '32901', '일반 목적용 기계 제조업', 9756088, 4878044000, 500, '원(KRW)', '02-555-0883';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '041440', 'K', '에버다임', '32902', '특수 목적용 기계 제조업', 17915944, 8957972000, 500, '원(KRW)', '(043)530-3300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038680', 'K', '에스넷', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 16075215, 8037607500, 500, '원(KRW)', '02  -3469-2939';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '217480', 'K', '에스디생명공학', '32004', '기타 화학제품 제조업', 22415066, 11207533000, 500, '원(KRW)', '02-583-1846';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '121890', 'K', '에스디시스템', '32602', '전자부품 제조업', 8762678, 4381339000, 500, '원(KRW)', '070-8299-5926';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030270', 'K', '에스마크', '31301', '방적 및 가공사 제조업', 137654026, 68827013000, 500, '원(KRW)', '02  -757 -9171';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '097780', 'K', '에스맥', '32604', '통신 및 방송 장비 제조업', 213245967, 42649193400, 200, '원(KRW)', '031-895-2100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '073070', 'K', '에스모', '33003', '자동차 신품 부품 제조업', 87508375, 8750837500, 100, '원(KRW)', '052-259-8331';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042110', 'K', '에스씨디', '32805', '가정용 기기 제조업', 48329564, 24164782000, 500, '원(KRW)', '031 -329 -5555';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '273060', 'K', '엔에이치스팩12호', '116601', '금융 지원 서비스업', 7510000, 751000000, 100, '원(KRW)', '02-750-5519';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '208860', 'K', '엔지스테크널러지', '105802', '소프트웨어 개발 및 공급업', 3127180, 1563590000, 500, '원(KRW)', '02-1522-9060';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '183490', 'K', '엔지켐생명과학', '32101', '기초 의약물질 및 생물학적 제제 제조업', 7674232, 3837116000, 500, '원(KRW)', '043-652-2845';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '206400', 'K', '엔터메이트', '105802', '소프트웨어 개발 및 공급업', 44197443, 4419744300, 100, '원(KRW)', '02-3461-2150';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '069410', 'K', '엔텔스', '105802', '소프트웨어 개발 및 공급업', 6899227, 3449613500, 500, '원(KRW)', '02-3218-1200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048830', 'K', '엔피케이', '32002', '합성고무 및 플라스틱 물질 제조업', 18723923, 9361961500, 500, '원(KRW)', '031-730-0650';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096870', 'K', '엘디티', '32601', '반도체 제조업', 6678400, 3339200000, 500, '원(KRW)', '041-520-7300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '061970', 'K', '엘비세미콘', '32601', '반도체 제조업', 43784592, 21892296000, 500, '원(KRW)', '031-680-1600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '138690', 'K', '엘아이에스', '32902', '특수 목적용 기계 제조업', 14773091, 7386545500, 500, '원(KRW)', '070-7162-7205';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066970', 'K', '엘앤에프', '32802', '일차전지 및 축전지 제조업', 24742675, 12371337500, 500, '원(KRW)', '(053)592-7300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '156100', 'K', '엘앤케이바이오', '32701', '의료용 기기 제조업', 10070366, 5035183000, 500, '원(KRW)', '02-6717-1911';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '073110', 'K', '엘엠에스', '32703', '사진장비 및 광학기기 제조업', 8895755, 4522877500, 500, '원(KRW)', '031-421-2345';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '083310', 'K', '엘오티베큠', '32902', '특수 목적용 기계 제조업', 13258256, 6629128000, 500, '원(KRW)', '031-677-4431';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037950', 'K', '엘컴텍', '32602', '전자부품 제조업', 84447519, 42223759500, 500, '원(KRW)', '031-379-5258';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '170920', 'K', '엘티씨', '32001', '기초 화학물질 제조업', 7519943, 3759971500, 500, '원(KRW)', '031-383-6525';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058630', 'K', '엠게임', '105802', '소프트웨어 개발 및 공급업', 19543877, 9771938500, 500, '원(KRW)', '02-523-5854';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019590', 'K', '엠벤처투자', '116402', '신탁업 및 집합투자업', 118480095, 59240047500, 500, '원(KRW)', '02  -6000-5537';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '097520', 'K', '엠씨넥스', '32605', '영상 및 음향기기 제조업', 9196390, 4598195000, 500, '원(KRW)', '02-2025-3600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009780', 'K', '엠에스씨', '31007', '기타 식품 제조업', 17600000, 8800000000, 500, '원(KRW)', '055 -389 -1001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123040', 'K', '엠에스오토텍', '33003', '자동차 신품 부품 제조업', 27205022, 13602511000, 500, '원(KRW)', '054-7701810';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032790', 'K', '엠젠플러스', '74605', '기계장비 및 관련 물품 도매업', 14571042, 7285521000, 500, '원(KRW)', '02-3412-8777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033160', 'K', '엠케이전자', '32602', '전자부품 제조업', 21807689, 10903844500, 500, '원(KRW)', '031-330-1900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '259630', 'K', '엠플러스', '32902', '특수 목적용 기계 제조업', 5111890, 2555945000, 500, '원(KRW)', '043-272-7079';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115960', 'K', '연우', '32202', '플라스틱제품 제조업', 12398000, 6199000000, 500, '원(KRW)', '032-575-8811';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '090740', 'K', '연이정보통신', '32602', '전자부품 제조업', 16000000, 8000000000, 500, '원(KRW)', '041-620-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007530', 'K', '영신금속', '32509', '기타 금속 가공제품 제조업', 12832968, 6416484000, 500, '원(KRW)', '02  -855 -6960';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '143540', 'K', '영우디에스피', '32902', '특수 목적용 기계 제조업', 12184466, 6092233000, 500, '원(KRW)', '041-418-4871';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036180', 'K', '영인프런티어', '74605', '기계장비 및 관련 물품 도매업', 17600341, 8800170500, 500, '원(KRW)', '02-2140-3300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036560', 'K', '영풍정밀', '32901', '일반 목적용 기계 제조업', 15750000, 7875000000, 500, '원(KRW)', '02-519-3523';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '265560', 'K', '영화테크', '33003', '자동차 신품 부품 제조업', 5345090, 2672545000, 500, '원(KRW)', '041-585-2685';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036000', 'K', '예림당', '105801', '서적, 잡지 및 기타 인쇄물 출판업', 23034277, 11617138500, 500, '원(KRW)', '02-566-1004';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053280', 'K', '예스24', '74709', '무점포 소매업', 17200000, 8600000000, 500, '원(KRW)', '02-3215-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '122640', 'K', '예스티', '32902', '특수 목적용 기계 제조업', 10902073, 5451036500, 500, '원(KRW)', '031-612-3337';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900300', 'K', '오가닉티코스메틱', '116409', '기타 금융업', 56925000, 346362612, 0, '중국위안(CNY)', '86-599-8508611';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '045060', 'K', '오공', '32004', '기타 화학제품 제조업', 11521974, 5760987000, 500, '원(KRW)', '032 -822 -5050';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '080520', 'K', '오디텍', '32601', '반도체 제조업', 11746609, 5873304500, 500, '원(KRW)', '063-263-7626';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039830', 'K', '오로라', '137302', '전문디자인업', 10762890, 5381445000, 500, '원(KRW)', '02  -3420-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046120', 'K', '오르비텍', '137209', '기타 과학기술 서비스업', 23790573, 11895286500, 500, '원(KRW)', '02-852-2223';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014940', 'K', '오리엔탈정공', '33101', '선박 및 보트 건조업', 40545960, 20272980000, 500, '원(KRW)', '(051)202-0101';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065500', 'K', '오리엔트정공', '33003', '자동차 신품 부품 제조업', 67214562, 33607281000, 500, '원(KRW)', '031-730-6707';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010470', 'K', '오리콤', '137103', '광고업', 11498750, 11498750000, 1000, '원(KRW)', '02-510-4077';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053980', 'K', '오상자이엘', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 17747882, 8873941000, 500, '원(KRW)', '032-524-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052420', 'K', '오성첨단소재', '32202', '플라스틱제품 제조업', 49717899, 24920233500, 500, '원(KRW)', '041-583-8780';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '241790', 'K', '오션브릿지', '32004', '기타 화학제품 제조업', 9124980, 4562490000, 500, '원(KRW)', '031-8052-9030';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039200', 'K', '오스코텍', '32102', '의약품 제조업', 27250787, 13625393500, 500, '원(KRW)', '031-628-7613';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '226400', 'K', '오스테오닉', '32701', '의료용 기기 제조업', 8458466, 4229233000, 500, '원(KRW)', '02-6902-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '031510', 'K', '오스템', '33003', '자동차 신품 부품 제조업', 26000000, 13000000000, 500, '원(KRW)', '041 -559 -2340';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048260', 'K', '오스템임플란트', '32701', '의료용 기기 제조업', 14285717, 7142858500, 500, '원(KRW)', '02-2016-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '138080', 'K', '오이솔루션', '32604', '통신 및 방송 장비 제조업', 7739532, 3869766000, 500, '원(KRW)', '062-602-7631';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '080580', 'K', '오킨스전자', '32602', '전자부품 제조업', 6200000, 3100000000, 500, '원(KRW)', '031-460-3500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067170', 'K', '오텍', '33004', '자동차 재제조 부품 제조업', 15391605, 7695802500, 500, '원(KRW)', '02-2628-0660';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049480', 'K', '오픈베이스', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 31422383, 15711191500, 500, '원(KRW)', '02  -3404-5601';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '057540', 'K', '옴니시스템', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 40679015, 20339507500, 500, '원(KRW)', '031-883-5400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '057680', 'K', '옴니텔', '105802', '소프트웨어 개발 및 공급업', 21698640, 10849320000, 500, '원(KRW)', '02-2181-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123010', 'K', '옵토팩', '32602', '전자부품 제조업', 4987409, 2493704500, 500, '원(KRW)', '043-218-7866';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '082210', 'K', '옵트론텍', '32703', '사진장비 및 광학기기 제조업', 22560627, 11280313500, 500, '원(KRW)', '(042)360-1510';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '109080', 'K', '옵티시스', '32604', '통신 및 방송 장비 제조업', 5636000, 2818000000, 500, '원(KRW)', '031-719-8033';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052770', 'K', '와이디온라인', '105802', '소프트웨어 개발 및 공급업', 30684264, 15342132000, 500, '원(KRW)', '02-3475-2900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '057030', 'K', '와이비엠넷', '168507', '교육지원 서비스업', 16312697, 8156348500, 500, '원(KRW)', '(02) 2008-5200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '122990', 'K', '와이솔', '32602', '전자부품 제조업', 24096941, 12048470500, 500, '원(KRW)', '070-7837-6240';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '232140', 'K', '와이아이케이', '32902', '특수 목적용 기계 제조업', 61788456, 6178845600, 100, '원(KRW)', '031-8038-8200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067900', 'K', '와이엔텍', '53802', '폐기물 처리업', 18199659, 9099829500, 500, '원(KRW)', '061-690-6933';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '155650', 'K', '와이엠씨', '32602', '전자부품 제조업', 9865093, 4932546500, 500, '원(KRW)', '041-538-5200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '251370', 'K', '와이엠티', '32001', '기초 화학물질 제조업', 7405200, 3702600000, 500, '원(KRW)', '032-821-8277';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066430', 'K', '와이오엠', '74607', '기타 전문 도매업', 11563534, 5781767000, 500, '원(KRW)', '051-972-7175';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '193250', 'K', '와이제이엠게임즈', '32602', '전자부품 제조업', 45636595, 4563659500, 100, '원(KRW)', '02-591-1310';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019210', 'K', '와이지-원', '32509', '기타 금속 가공제품 제조업', 30506398, 15253199000, 500, '원(KRW)', '032 -526 -0909';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '122870', 'K', '와이지엔터테인먼트', '105902', '오디오물 출판 및 원판 녹음업', 18185709, 9092854500, 500, '원(KRW)', '02-3142-1104';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079000', 'K', '와토스코리아', '32202', '플라스틱제품 제조업', 7200000, 3600000000, 500, '원(KRW)', '061-392-3685';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '114630', 'K', '우노앤컴퍼니', '32005', '화학섬유 제조업', 13573965, 6886982500, 500, '원(KRW)', '063-261-7555';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032820', 'K', '우리기술', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 85399992, 42699996000, 500, '원(KRW)', '02  -2102-5100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '041190', 'K', '우리기술투자', '116409', '기타 금융업', 84000000, 42000000000, 500, '원(KRW)', '02-2008-3100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115440', 'K', '우리넷', '32604', '통신 및 방송 장비 제조업', 6365710, 3182855000, 500, '원(KRW)', '031-276-5101';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046970', 'K', '우리로', '32604', '통신 및 방송 장비 제조업', 24791119, 12395559500, 500, '원(KRW)', '062-602-8100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '215360', 'K', '우리산업', '33003', '자동차 신품 부품 제조업', 9132163, 4566081500, 500, '원(KRW)', '031-201-6522';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '072470', 'K', '우리산업홀딩스', '116409', '기타 금융업', 18887341, 9443670500, 500, '원(KRW)', '031)201-6522';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '073560', 'K', '우리손에프앤지', '31001', '도축, 육류 가공 및 저장 처리업', 69237643, 34618821500, 500, '원(KRW)', '041-563-1055';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '153490', 'K', '우리이앤엘', '32601', '반도체 제조업', 49900000, 24950000000, 500, '원(KRW)', '031-599-3143';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '082850', 'K', '우리이티아이', '32804', '전구 및 조명장치 제조업', 41518621, 20759310500, 500, '원(KRW)', '031-494-8828';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037400', 'K', '우리조명', '32804', '전구 및 조명장치 제조업', 24923346, 12461673000, 500, '원(KRW)', '031 -492 -1012';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101170', 'K', '우림기계', '32901', '일반 목적용 기계 제조업', 13500000, 6750000000, 500, '원(KRW)', '055-260-0300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '194610', 'K', '우성아이비', '33309', '그외 기타 제품 제조업', 20720000, 2072000000, 100, '원(KRW)', '032-550-1000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066590', 'K', '우수AMS', '33003', '자동차 신품 부품 제조업', 24694303, 12347151500, 500, '원(KRW)', '(055)2745011';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046940', 'K', '우원개발', '64201', '기반조성 및 시설물 축조관련 전문공사업', 15748267, 7874133500, 500, '원(KRW)', '02-3490-1996';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '215380', 'K', '우정바이오', '137001', '자연과학 및 공학 연구개발업', 25109711, 2510971100, 100, '원(KRW)', '031-888-9369';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065680', 'K', '우주일렉트로', '32602', '전자부품 제조업', 9934220, 4967110000, 500, '원(KRW)', '031-371-3700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018620', 'K', '우진비앤지', '32102', '의약품 제조업', 16217013, 8108506500, 500, '원(KRW)', '02)795-2361';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032940', 'K', '원익', '74605', '기계장비 및 관련 물품 도매업', 17934432, 8967216000, 500, '원(KRW)', '02  -555 -4939';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '240810', 'K', '원익IPS', '32902', '특수 목적용 기계 제조업', 41273436, 20636718000, 500, '원(KRW)', '031-8047-7222';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '074600', 'K', '원익QnC', '32301', '유리 및 유리제품 제조업', 26288000, 13144000000, 500, '원(KRW)', '054-472-6138';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '104830', 'K', '원익머트리얼즈', '32001', '기초 화학물질 제조업', 6304000, 3152000000, 500, '원(KRW)', '043-210-4600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '014190', 'K', '원익큐브', '74607', '기타 전문 도매업', 35399906, 17699953000, 500, '원(KRW)', '02-530-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123100', 'K', '원익테라세미콘', '32902', '특수 목적용 기계 제조업', 11303840, 5651920000, 500, '원(KRW)', '031-831-2500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '012620', 'K', '원일특강', '32401', '1차 철강 제조업', 4400000, 2200000000, 500, '원(KRW)', '031-434-1221';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008370', 'K', '원풍', '32202', '플라스틱제품 제조업', 12000000, 6000000000, 500, '원(KRW)', '02-3665-5321';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008290', 'K', '원풍물산', '31401', '봉제의복 제조업', 38391781, 19195890500, 500, '원(KRW)', '02-569-0433(#310)';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101160', 'K', '월덱스', '32602', '전자부품 제조업', 16510993, 8255496500, 500, '원(KRW)', '054-456-9980';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078940', 'K', '일경산업개발', '64203', '전기 및 통신 공사업', 42481962, 21240981000, 500, '원(KRW)', '02-820-2616';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068330', 'K', '일신바이오', '32901', '일반 목적용 기계 제조업', 44216140, 4421614000, 100, '원(KRW)', '031-867-1384';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058450', 'K', '일야', '32604', '통신 및 방송 장비 제조업', 9780000, 4890000000, 500, '원(KRW)', '032-815-3500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019540', 'K', '일지테크', '33003', '자동차 신품 부품 제조업', 13513500, 6756750000, 500, '원(KRW)', '053 -856 -8080';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094820', 'K', '일진파워', '64203', '전기 및 통신 공사업', 15078709, 7539354500, 500, '원(KRW)', '052-237-5330';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '950140', 'K', '잉글우드랩', '32004', '기타 화학제품 제조업', 19867866, 0, 0, '미국달러(USD)', '+1-201-567-2267';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049550', 'K', '잉크테크', '32004', '기타 화학제품 제조업', 16019932, 8310957500, 500, '원(KRW)', '031-496-5400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043910', 'K', '자연과환경', '53901', '환경 정화 및 복원업', 33949357, 16974678500, 500, '원(KRW)', '041-852-3355';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '234920', 'K', '자이글', '32805', '가정용 기기 제조업', 13530910, 6765455000, 500, '원(KRW)', '02-3665-9192';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '174880', 'K', '장원테크', '32604', '통신 및 방송 장비 제조업', 6045000, 3022500000, 500, '원(KRW)', '070-4016-3509';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049630', 'K', '재영솔루텍', '32703', '사진장비 및 광학기기 제조업', 45695556, 22847778000, 500, '원(KRW)', '(032)820-0522';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065530', 'K', '전파기지국', '106102', '전기 통신업', 52860000, 26430000000, 500, '원(KRW)', '(02)2077-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '208140', 'K', '정다운', '31001', '도축, 육류 가공 및 저장 처리업', 20529824, 2052982400, 100, '원(KRW)', '02-6923-7426';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '022220', 'K', '정산애강', '32202', '플라스틱제품 제조업', 51794579, 25897289500, 500, '원(KRW)', '041-544-6711';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '040420', 'K', '정상제이엘에스', '168505', '일반 교습 학원', 15677552, 8478776000, 500, '원(KRW)', '02-3413-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '045510', 'K', '정원엔시스', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 32209292, 16104646000, 500, '원(KRW)', '02  -5147-007(';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065620', 'K', '제낙스', '32401', '1차 철강 제조업', 22486744, 11243372000, 500, '원(KRW)', '051-804-6500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '217190', 'K', '제너셈', '32902', '특수 목적용 기계 제조업', 8769174, 4384587000, 500, '원(KRW)', '032-810-8400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '095700', 'K', '제넥신', '137001', '자연과학 및 공학 연구개발업', 20409084, 10204542000, 500, '원(KRW)', '031-628-3243';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '122310', 'K', '제노레이', '32701', '의료용 기기 제조업', 4177256, 2088628000, 500, '원(KRW)', '031-740-4117';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '187420', 'K', '제노포커스', '32101', '기초 의약물질 및 생물학적 제제 제조업', 20999085, 10499542500, 500, '원(KRW)', '042-862-4483';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123330', 'K', '제닉', '32004', '기타 화학제품 제조업', 7000000, 3500000000, 500, '원(KRW)', '02-579-0833';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '159580', 'K', '제로투세븐', '74604', '생활용품 도매업', 12290000, 6145000000, 500, '원(KRW)', '02-740-3188';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '147830', 'K', '제룡산업', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 10000000, 5000000000, 500, '원(KRW)', '02-2204-3700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033100', 'K', '제룡전기', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 16062409, 8031204500, 500, '원(KRW)', '02-2204-6300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '019570', 'K', '제미니투자', '116402', '신탁업 및 집합투자업', 40000000, 20000000000, 500, '원(KRW)', '02-2051-9640';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079370', 'K', '제우스', '32902', '특수 목적용 기계 제조업', 10384000, 5192000000, 500, '원(KRW)', '031-377-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054950', 'K', '제이브이엠', '32901', '일반 목적용 기계 제조업', 6330908, 3165454000, 500, '원(KRW)', '053-584-9999';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096690', 'K', '제이스테판', '32603', '컴퓨터 및 주변장치 제조업', 260769929, 26076992900, 100, '원(KRW)', '070-5147-1886';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '090470', 'K', '제이스텍', '32902', '특수 목적용 기계 제조업', 14597808, 7298904000, 500, '원(KRW)', '032-510-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '137950', 'K', '제이씨케미칼', '32004', '기타 화학제품 제조업', 19343000, 9671500000, 500, '원(KRW)', '02-6321-1333';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033320', 'K', '제이씨현시스템', '74605', '기계장비 및 관련 물품 도매업', 19114432, 9557216000, 500, '원(KRW)', '02-2105-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '026040', 'K', '제이에스티나', '33301', '귀금속 및 장신용품 제조업', 16503790, 8684795000, 500, '원(KRW)', '02-2190-7085';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '126880', 'K', '제이엔케이히터', '32901', '일반 목적용 기계 제조업', 16505372, 8252686000, 500, '원(KRW)', '02-2026-4250';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033050', 'K', '제이엠아이', '31802', '기록매체 복제업', 32579342, 32579342000, 1000, '원(KRW)', '031 -376 -9494';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094970', 'K', '제이엠티', '32602', '전자부품 제조업', 16748240, 8374120000, 500, '원(KRW)', '070-7500-4320';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058420', 'K', '제이웨이', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 15064210, 7532105000, 500, '원(KRW)', '02-3400-8500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036420', 'K', '제이콘텐트리', '116409', '기타 금융업', 114068982, 57034491000, 500, '원(KRW)', '02-3015-0540';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '089790', 'K', '제이티', '32902', '특수 목적용 기계 제조업', 10016829, 5008414500, 500, '원(KRW)', '070-4172-0100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052670', 'K', '제일바이오', '32102', '의약품 제조업', 15000000, 7500000000, 500, '원(KRW)', '031-494-8226';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023440', 'K', '제일제강', '32401', '1차 철강 제조업', 26032185, 13016092500, 500, '원(KRW)', '031-499-0776';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038010', 'K', '제일테크노스', '32501', '구조용 금속제품, 탱크 및 증기발생기 제조업', 9000000, 4500000000, 500, '원(KRW)', '054 -278 -2841';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003380', 'K', '제일홀딩스', '116409', '기타 금융업', 70718000, 7071800000, 100, '원(KRW)', '02-2085-4634';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '080220', 'K', '제주반도체', '32601', '반도체 제조업', 28560538, 14430269000, 500, '원(KRW)', '(064)740-1700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '082270', 'K', '젬백스', '32902', '특수 목적용 기계 제조업', 32448528, 16224264000, 500, '원(KRW)', '042-931-6287';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '044060', 'K', '조광ILI', '32901', '일반 목적용 기계 제조업', 9885656, 4942828000, 500, '원(KRW)', '055-360-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034940', 'K', '조아제약', '32102', '의약품 제조업', 28310231, 14155115500, 500, '원(KRW)', '02-6670-9200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101730', 'K', '조이맥스', '105802', '소프트웨어 개발 및 공급업', 8505234, 4252617000, 500, '원(KRW)', '02-420-8854';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067000', 'K', '조이시티', '105802', '소프트웨어 개발 및 공급업', 11783395, 5891697500, 500, '원(KRW)', '031-789-6500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033340', 'K', '좋은사람들', '31401', '봉제의복 제조업', 26412536, 13206268000, 500, '원(KRW)', '02-320-6600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036930', 'K', '주성엔지니어링', '32902', '특수 목적용 기계 제조업', 48249212, 24124606000, 500, '원(KRW)', '031 -760 -7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051980', 'K', '중앙리빙테크', '32202', '플라스틱제품 제조업', 22596091, 11548045500, 500, '원(KRW)', '070-5153-3200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '072020', 'K', '중앙백신', '32101', '기초 의약물질 및 생물학적 제제 제조업', 7320000, 3660000000, 500, '원(KRW)', '(042)863-9322';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '000440', 'K', '중앙에너비스', '74607', '기타 전문 도매업', 1245426, 3113565000, 2500, '원(KRW)', '070-8707-4500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054180', 'K', '중앙오션', '33101', '선박 및 보트 건조업', 22882712, 11441356000, 500, '원(KRW)', '02-3218-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043610', 'K', '지니뮤직', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 49192753, 24596376500, 500, '원(KRW)', '02-3282-2600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '263860', 'K', '지니언스', '105802', '소프트웨어 개발 및 공급업', 4854900, 2427450000, 500, '원(KRW)', '031-422-3823';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '155960', 'K', '지디', '32602', '전자부품 제조업', 18709617, 9354808500, 500, '원(KRW)', '070-7435-3721';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '208350', 'K', '지란지교시큐리티', '105802', '소프트웨어 개발 및 공급업', 36210188, 3621018800, 100, '원(KRW)', '02-786-7551';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '114570', 'K', '지스마트글로벌', '32601', '반도체 제조업', 20810121, 10405060500, 500, '원(KRW)', '031-708-4412';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051160', 'K', '지어소프트', '105802', '소프트웨어 개발 및 공급업', 13781805, 6890902500, 500, '원(KRW)', '02-2155-5100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053050', 'K', '지에스이', '43502', '연료용 가스 제조 및 배관공급업', 29987597, 15304357500, 500, '원(KRW)', '055-855-0102';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '119850', 'K', '지엔씨에너지', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 16295828, 8428349000, 500, '원(KRW)', '02-2164-9200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065060', 'K', '지엔코', '31401', '봉제의복 제조업', 98008044, 49004022000, 500, '원(KRW)', '(02)2185-8510';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '204840', 'K', '지엘팜텍', '137001', '자연과학 및 공학 연구개발업', 32244133, 3224413300, 100, '원(KRW)', '031-739-5220';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018290', 'K', '지엠피', '32603', '컴퓨터 및 주변장치 제조업', 25894503, 12947251500, 500, '원(KRW)', '031 -943 -4600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '111820', 'K', '지와이커머스', '106309', '기타 정보 서비스업', 20154595, 10077297500, 500, '원(KRW)', '02-6950-9500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115450', 'K', '지트리비앤티', '32602', '전자부품 제조업', 23229432, 11614716000, 500, '원(KRW)', '031-786-7800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '018120', 'K', '진로발효', '31101', '알코올음료 제조업', 7524000, 3984450000, 500, '원(KRW)', '031 -491 -2675';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '109820', 'K', '진매트릭스', '137001', '자연과학 및 공학 연구개발업', 10215273, 5107636500, 500, '원(KRW)', '031-628-2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086060', 'K', '진바이오텍', '31008', '동물용 사료 및 조제식품 제조업', 8610587, 4305293500, 500, '원(KRW)', '041-853-9961';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '036890', 'K', '진성티이씨', '32902', '특수 목적용 기계 제조업', 22482268, 11241134000, 500, '원(KRW)', '031 -658 -0100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007370', 'K', '진양제약', '32102', '의약품 제조업', 12000000, 6000000000, 500, '원(KRW)', '02-3470-0300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '085660', 'K', '차바이오텍', '32101', '기초 의약물질 및 생물학적 제제 제조업', 52793135, 26396567500, 500, '원(KRW)', '031-881-7400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900040', 'K', '차이나그레이트', '116409', '기타 금융업', 125866557, 12586656, 0.1, '미국달러(USD)', '86-595-8673-2222';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900090', 'K', '차이나하오란', '116409', '기타 금융업', 94000000, 526573176, 0, '중국위안(CNY)', '86-510-8611-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094850', 'K', '참좋은여행', '147502', '여행사 및 기타 여행보조 서비스업', 14000000, 7000000000, 500, '원(KRW)', '02-2188-4137';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '004650', 'K', '창해에탄올', '31101', '알코올음료 제조업', 9190885, 4595442500, 500, '원(KRW)', '063-214-7800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '096240', 'K', '청담러닝', '168505', '일반 교습 학원', 7659651, 3829825500, 500, '원(KRW)', '02-3429-9407';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013720', 'K', '청보산업', '33003', '자동차 신품 부품 제조업', 8178771, 4089385500, 500, '원(KRW)', '032 -816 -3550';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066360', 'K', '체리부로', '31001', '도축, 육류 가공 및 저장 처리업', 27872369, 13936184500, 500, '원(KRW)', '043-530-3200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047820', 'K', '초록뱀', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 65858190, 32929095000, 500, '원(KRW)', '02-6925-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094360', 'K', '칩스앤미디어', '105802', '소프트웨어 개발 및 공급업', 7411627, 3849313500, 500, '원(KRW)', '02-568-3767';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016920', 'K', '카스', '74605', '기계장비 및 관련 물품 도매업', 21474112, 10737056000, 500, '원(KRW)', '02-2225-3526';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016170', 'K', '카카오M', '31802', '기록매체 복제업', 25291705, 12645852500, 500, '원(KRW)', '02-2280-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042000', 'K', '카페24', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 8948157, 4474078500, 500, '원(KRW)', '02-3284-0300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '071850', 'K', '캐스텍코리아', '33003', '자동차 신품 부품 제조업', 13877837, 6938918500, 500, '원(KRW)', '051-974-4222';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '180400', 'K', '캔서롭', '137209', '기타 과학기술 서비스업', 18788144, 9394072000, 500, '원(KRW)', '02-890-8700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '050110', 'K', '캠시스', '32602', '전자부품 제조업', 57806604, 28903302000, 500, '원(KRW)', '070-4680-2500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900310', 'K', '컬러레이', '137105', '회사 본부 및 경영 컨설팅 서비스업', 54000000, 336160634, 0, '중국위안(CNY)', '+86-572-8832188';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078340', 'K', '컴투스', '105802', '소프트웨어 개발 및 공급업', 12866420, 6433210000, 500, '원(KRW)', '02-6292-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '263700', 'K', '케어랩스', '105802', '소프트웨어 개발 및 공급업', 5977430, 2988715000, 500, '원(KRW)', '02-6929-2340';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214370', 'K', '케어젠', '32101', '기초 의약물질 및 생물학적 제제 제조업', 10743000, 5371500000, 500, '원(KRW)', '031-420-9242';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '072520', 'K', '케이디 네이쳐 엔 바이오', '32602', '전자부품 제조업', 54415529, 5441552900, 100, '원(KRW)', '053-665-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '221980', 'K', '케이디켐', '32004', '기타 화학제품 제조업', 4034800, 2017400000, 500, '원(KRW)', '043-543-8430';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043290', 'K', '케이맥', '32902', '특수 목적용 기계 제조업', 7034196, 3517098000, 500, '원(KRW)', '0429303800';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066410', 'K', '투윈글로벌', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 61670933, 30835466500, 500, '원(KRW)', '(02)3452-5079';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052290', 'K', '트레이스', '32602', '전자부품 제조업', 54822175, 27411087500, 500, '원(KRW)', '031-499-8960';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '105550', 'K', '트루윈', '32602', '전자부품 제조업', 10038714, 5019357000, 500, '원(KRW)', '042-612-5000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '026150', 'K', '특수건설', '64102', '토목 건설업', 9994814, 4997407000, 500, '원(KRW)', '02-590-6400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033830', 'K', '티비씨', '106002', '텔레비전 방송업', 100000000, 50000000000, 500, '원(KRW)', '537601900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064760', 'K', '티씨케이', '32309', '기타 비금속 광물제품 제조업', 11675000, 5837500000, 500, '원(KRW)', '(031)677-0277';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131290', 'K', '티에스이', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 11061429, 5530714500, 500, '원(KRW)', '041-581-9955';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '246690', 'K', '티에스인베스트먼트', '116402', '신탁업 및 집합투자업', 22421004, 11210502000, 500, '원(KRW)', '02-6250-5700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '062860', 'K', '티엘아이', '32601', '반도체 제조업', 9872720, 4936360000, 500, '원(KRW)', '031-784-6800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select ' 8층', 'K', ' 9층 10층 ', '1272', 'nan', nan, nan, nan, 'nan', 'nan';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '104480', 'K', '티케이케미칼', '32005', '화학섬유 제조업', 90895434, 45447717000, 500, '원(KRW)', '02-2001-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '081150', 'K', '티플랙스', '32509', '기타 금속 가공제품 제조업', 24268402, 12134201000, 500, '원(KRW)', '031-488 -8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '130740', 'K', '티피씨글로벌', '33003', '자동차 신품 부품 제조업', 9450000, 4725000000, 500, '원(KRW)', '053-854-7500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '084730', 'K', '팅크웨어', '32604', '통신 및 방송 장비 제조업', 10425682, 5212841000, 500, '원(KRW)', '02-589-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046210', 'K', '파나진', '32103', '의료용품 및 기타 의약 관련제품 제조업', 32034160, 16017080000, 500, '원(KRW)', '042-861-9295';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034230', 'K', '파라다이스', '189102', '유원지 및 기타 오락관련 서비스업', 90942672, 47032355000, 500, '원(KRW)', '02-2277-0190';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '033540', 'K', '파라텍', '32902', '특수 목적용 기계 제조업', 16840552, 8420276000, 500, '원(KRW)', '02-3780-8704';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043200', 'K', '파루', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 29667567, 14833783500, 500, '원(KRW)', '061 -759 -5190';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214450', 'K', '파마리서치프로덕트', '74604', '생활용품 도매업', 9466217, 4733108500, 500, '원(KRW)', '033-645-7640';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '177830', 'K', '파버나인', '32602', '전자부품 제조업', 10711272, 5355636000, 500, '원(KRW)', '032-814-6900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037070', 'K', '파세코', '32805', '가정용 기기 제조업', 14000000, 7000000000, 500, '원(KRW)', '031 -491 -4032';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '150900', 'K', '파수닷컴', '105802', '소프트웨어 개발 및 공급업', 9212237, 4606118500, 500, '원(KRW)', '02-300-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037030', 'K', '파워넷', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 12009614, 12009614000, 1000, '원(KRW)', '02-3282-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047310', 'K', '파워로직스', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 34286030, 17375240000, 500, '원(KRW)', '043-219-5600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '170790', 'K', '파이오링크', '32604', '통신 및 방송 장비 제조업', 6856330, 3428165000, 500, '원(KRW)', '02-2025-6900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '049120', 'K', '파인디앤씨', '32602', '전자부품 제조업', 24068137, 12034068500, 500, '원(KRW)', '031-463-8813';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038950', 'K', '파인디지털', '32604', '통신 및 방송 장비 제조업', 10210765, 5105382500, 500, '원(KRW)', '031-788-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '106240', 'K', '파인테크닉스', '32604', '통신 및 방송 장비 제조업', 35512680, 17756340000, 500, '원(KRW)', '031-463-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131760', 'K', '파인텍', '32602', '전자부품 제조업', 10236407, 5118203500, 500, '원(KRW)', '031-900-9700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '140860', 'K', '파크시스템스', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 6635055, 3317527500, 500, '원(KRW)', '031-546-6900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '091700', 'K', '파트론', '32602', '전자부품 제조업', 54156410, 27078205000, 500, '원(KRW)', '031-201-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '194510', 'K', '파티게임즈', '105802', '소프트웨어 개발 및 공급업', 24229954, 12114977000, 500, '원(KRW)', '02)6005-0985';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '038160', 'K', '팍스넷', '106309', '기타 정보 서비스업', 11077521, 5538760500, 500, '원(KRW)', '02-2638-1801';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032800', 'K', '판타지오', '189001', '창작 및 예술관련 서비스업', 72703943, 36351971500, 500, '원(KRW)', '02-3452-6100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043090', 'K', '팜스웰바이오', '74607', '기타 전문 도매업', 26727391, 13363695500, 500, '원(KRW)', '02-569-7610';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '027710', 'K', '팜스토리', '31008', '동물용 사료 및 조제식품 제조업', 88347431, 45974044500, 500, '원(KRW)', '02-501-1648';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '225590', 'K', '패션플랫폼', '31401', '봉제의복 제조업', 22706300, 2270630000, 100, '원(KRW)', '02-573-1292';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054300', 'K', '팬스타엔터프라이즈', '32901', '일반 목적용 기계 제조업', 41124943, 20562471500, 500, '원(KRW)', '000-1577-3520';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '068050', 'K', '팬엔터테인먼트', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 13742997, 6871498500, 500, '원(KRW)', '02-380-2100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '222110', 'K', '팬젠', '32102', '의약품 제조업', 9615781, 4807890500, 500, '원(KRW)', '031-733-9165';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060900', 'K', '퍼시픽바이오', '31902', '석유 정제품 제조업', 47410004, 4741000400, 100, '원(KRW)', '02-6917-5300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '263750', 'K', '펄어비스', '105802', '소프트웨어 개발 및 공급업', 12733500, 6366750000, 500, '원(KRW)', '031-476-8583';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '087010', 'K', '펩트론', '32101', '기초 의약물질 및 생물학적 제제 제조업', 7663250, 3831625000, 500, '원(KRW)', '042-360-8880';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '043370', 'K', '평화정공', '33003', '자동차 신품 부품 제조업', 21000000, 10500000000, 500, '원(KRW)', '(053)350-6311';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '119500', 'K', '포메탈', '32509', '기타 금속 가공제품 제조업', 11847232, 6012340000, 500, '원(KRW)', '041-670-6200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016670', 'K', '포비스티앤씨', '74607', '기타 전문 도매업', 40078058, 20039029000, 500, '원(KRW)', '02-2046-9375';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '056730', 'K', '포스링크', '74607', '기타 전문 도매업', 43875539, 21937769500, 500, '원(KRW)', '031-724-2222';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '022100', 'K', '포스코 ICT', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 152034729, 76017364500, 500, '원(KRW)', '054-280-1114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '009520', 'K', '포스코엠텍', '32401', '1차 철강 제조업', 41642703, 20821351500, 500, '원(KRW)', '054-280-8206';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003670', 'K', '포스코켐텍', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 59070000, 29535000000, 500, '원(KRW)', '(054) 290-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '189690', 'K', '포시에스', '105802', '소프트웨어 개발 및 공급업', 7168563, 3584281500, 500, '원(KRW)', '02-828-1400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '141020', 'K', '포티스', '74709', '무점포 소매업', 44874782, 22437391000, 500, '원(KRW)', '031-709-1407';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005670', 'K', '푸드웰', '31003', '과실, 채소 가공 및 저장 처리업', 8000000, 4000000000, 500, '원(KRW)', '053-980-3320';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '094940', 'K', '푸른기술', '32603', '컴퓨터 및 주변장치 제조업', 6574202, 3287101000, 500, '원(KRW)', '02-6959-4700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007330', 'K', '푸른저축은행', '116401', '은행 및 저축기관', 15082800, 15082800000, 1000, '원(KRW)', '02  -545 -9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '093380', 'K', '풍강', '32509', '기타 금속 가공제품 제조업', 9879313, 4939656500, 500, '원(KRW)', '031-359-3600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023900', 'K', '풍국주정', '31101', '알코올음료 제조업', 12600000, 6300000000, 500, '원(KRW)', '053 -583 -2071';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '195440', 'K', '퓨전데이타', '105802', '소프트웨어 개발 및 공급업', 8408250, 4204125000, 500, '원(KRW)', '02-547-7688';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214270', 'K', '퓨쳐스트림네트웍스', '105802', '소프트웨어 개발 및 공급업', 86921313, 8692131300, 100, '원(KRW)', '070-5020-9306';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '220100', 'K', '퓨쳐켐', '32102', '의약품 제조업', 5622139, 2811069500, 500, '원(KRW)', '02-497-3114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '035200', 'K', '프럼파스트', '32202', '플라스틱제품 제조업', 8846117, 4423058500, 500, '원(KRW)', '044-865-9681';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '203690', 'K', '프로스테믹스', '32101', '기초 의약물질 및 생물학적 제제 제조업', 45374817, 4537481700, 100, '원(KRW)', '02-545-2520';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053610', 'K', '프로텍', '32902', '특수 목적용 기계 제조업', 9460203, 4730101500, 500, '원(KRW)', '031-470-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053160', 'K', '프리엠스', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 6000000, 3000000000, 500, '원(KRW)', '032-679-1477';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '075130', 'K', '플랜티넷', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 8960000, 4480000000, 500, '원(KRW)', '070-4489-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023770', 'K', '플레이위드', '105802', '소프트웨어 개발 및 공급업', 3460850, 1730425000, 500, '원(KRW)', '031-724-2400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '032580', 'K', '피델릭스', '32601', '반도체 제조업', 20567273, 10283636500, 500, '원(KRW)', '031-785-3500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '051380', 'K', '피씨디렉트', '74605', '기계장비 및 관련 물품 도매업', 7540136, 3770068000, 500, '원(KRW)', '(02)785-3001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '241820', 'K', '피씨엘', '32103', '의료용품 및 기타 의약 관련제품 제조업', 8941164, 4470582000, 500, '원(KRW)', '070-4673-3433';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '237750', 'K', '피앤씨테크', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 6496600, 3248300000, 500, '원(KRW)', '031-452-5791';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '131390', 'K', '피앤이솔루션', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 14280000, 7140000000, 500, '원(KRW)', '031-299-0100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054340', 'K', '피앤텔', '32604', '통신 및 방송 장비 제조업', 30472126, 15236063000, 500, '원(KRW)', '054-979-3320';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024850', 'K', '피에스엠씨', '32602', '전자부품 제조업', 38726201, 19363100500, 500, '원(KRW)', '031-522-3700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '031980', 'K', '피에스케이', '32902', '특수 목적용 기계 제조업', 20331604, 10165802000, 500, '원(KRW)', '031)660-8700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002230', 'K', '피에스텍', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 19669243, 9834621500, 500, '원(KRW)', '031-3408-1790';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '137400', 'K', '피엔티', '32902', '특수 목적용 기계 제조업', 8572904, 4286452000, 500, '원(KRW)', '054-469-6950';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '128660', 'K', '피제이메탈', '32402', '1차 비철금속 제조업', 24803369, 12401684500, 500, '원(KRW)', '02-555-4451';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '006140', 'K', '피제이전자', '32701', '의료용 기기 제조업', 10000000, 5000000000, 500, '원(KRW)', '032 -326 -7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '087600', 'K', '픽셀플러스', '32602', '전자부품 제조업', 8166558, 4083279000, 500, '원(KRW)', '031-888-5300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064800', 'K', '필링크', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 61282764, 6128276400, 100, '원(KRW)', '02-2102-7313';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '161580', 'K', '필옵틱스', '32902', '특수 목적용 기계 제조업', 17272398, 8636199000, 500, '원(KRW)', '031-292-8321';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '270520', 'K', '하나금융10호스팩', '116601', '금융 지원 서비스업', 4602000, 460200000, 100, '원(KRW)', '02-3771-3423';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '284620', 'K', '하나금융11호스팩', '116601', '금융 지원 서비스업', 5401000, 540100000, 100, '원(KRW)', '02-3771-3423';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '230240', 'K', '하나금융7호SPAC', '116601', '금융 지원 서비스업', 8000000, 800000000, 100, '원(KRW)', '02-3771-3630';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '261200', 'K', '하나금융9호스팩', '116601', '금융 지원 서비스업', 4260000, 426000000, 100, '원(KRW)', '02-3771-3339';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067310', 'K', '하나마이크론', '32601', '반도체 제조업', 22727078, 11363539000, 500, '원(KRW)', '041-539-1011';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '166090', 'K', '하나머티리얼즈', '32601', '반도체 제조업', 9605737, 4802868500, 500, '원(KRW)', '041-410-1029';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '136480', 'K', '하림', '31001', '도축, 육류 가공 및 저장 처리업', 86945938, 43472969000, 500, '원(KRW)', '063-860-2114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024660', 'K', '하림홀딩스', '116409', '기타 금융업', 89157190, 44578595000, 500, '원(KRW)', '02-6296-2934';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '149980', 'K', '하이로닉', '32701', '의료용 기기 제조업', 14094745, 1409474500, 100, '원(KRW)', '031-698-4900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '013030', 'K', '하이록코리아', '32401', '1차 철강 제조업', 13613232, 6806616000, 500, '원(KRW)', '051 -970-0801';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '126700', 'K', '하이비젼시스템', '32703', '사진장비 및 광학기기 제조업', 14942112, 7471056000, 500, '원(KRW)', '031-735-1573';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '200470', 'K', '하이셈', '137309', '그외 기타 전문, 과학 및 기술 서비스업', 17553680, 8776840000, 500, '원(KRW)', '031-8046-1700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '235010', 'K', '하이에이아이1호스팩', '116601', '금융 지원 서비스업', 4950000, 495000000, 100, '원(KRW)', '02-2122-9690';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '221840', 'K', '하이즈항공', '33103', '항공기,우주선 및 부품 제조업', 17696167, 8848083500, 500, '원(KRW)', '055-850-8800';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '106190', 'K', '하이텍팜', '74607', '기타 전문 도매업', 7088782, 3544391000, 500, '원(KRW)', '043-883-0012';

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '101680', 'K', '한국정밀기계', '32902', '특수 목적용 기계 제조업', 8404000, 4202000000, 500, '원(KRW)', '070-7019-6514';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039740', 'K', '한국정보공학', '74607', '기타 전문 도매업', 8018397, 4009198500, 500, '원(KRW)', '031-789-8600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053300', 'K', '한국정보인증', '105802', '소프트웨어 개발 및 공급업', 31165000, 15582500000, 500, '원(KRW)', '02-360-3010';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '025770', 'K', '한국정보통신', '106102', '전기 통신업', 38812743, 19406371500, 500, '원(KRW)', '02-368-0700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '271740', 'K', '한국제5호스팩', '116601', '금융 지원 서비스업', 4000000, 400000000, 100, '원(KRW)', '02-3276-5766';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '281410', 'K', '한국제6호스팩', '116601', '금융 지원 서비스업', 4510000, 451000000, 100, '원(KRW)', '02-3276-5918';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '291210', 'K', '한국제7호스팩', '116601', '금융 지원 서비스업', 5060000, 506000000, 100, '원(KRW)', '02-3276-6681';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '023760', 'K', '한국캐피탈', '116409', '기타 금융업', 168209576, 84104788000, 500, '원(KRW)', '042 -480 -8032';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054040', 'K', '한국컴퓨터', '32602', '전자부품 제조업', 16071290, 8035645000, 500, '원(KRW)', '041-589-3320';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '050540', 'K', '한국코퍼레이션', '147509', '기타 사업지원 서비스업', 26312841, 13156420500, 500, '원(KRW)', '02-3401-4114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '021650', 'K', '한국큐빅', '32202', '플라스틱제품 제조업', 16350563, 8175281500, 500, '원(KRW)', '(031)491-5325';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053590', 'K', '한국테크놀로지', '32902', '특수 목적용 기계 제조업', 66979149, 33489574500, 500, '원(KRW)', '02-2106-7500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037230', 'K', '한국팩키지', '31702', '골판지, 종이 상자 및 종이용기 제조업', 25000000, 12500000000, 500, '원(KRW)', '02-565-8600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '030520', 'K', '한글과컴퓨터', '105802', '소프트웨어 개발 및 공급업', 23082211, 12202162500, 500, '원(KRW)', '031-627-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '052600', 'K', '한네트', '106102', '전기 통신업', 11563700, 5781850000, 500, '원(KRW)', '02-2125-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092460', 'K', '한라IMS', '33101', '선박 및 보트 건조업', 11459502, 5729751000, 500, '원(KRW)', '051-601-7000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '047080', 'K', '한빛소프트', '105802', '소프트웨어 개발 및 공급업', 24779836, 12389918000, 500, '원(KRW)', '070-4050-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '070300', 'K', '한솔시큐어', '105802', '소프트웨어 개발 및 공급업', 7366074, 3683037000, 500, '원(KRW)', '02-2082-0777';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '221610', 'K', '한솔씨앤피', '32004', '기타 화학제품 제조업', 3993673, 1996836500, 500, '원(KRW)', '031-364-7400';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '070590', 'K', '한솔인티큐브', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 13879521, 6939760500, 500, '원(KRW)', '02)6005-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '042520', 'K', '한스바이오메드', '32103', '의료용품 및 기타 의약 관련제품 제조업', 9857857, 4928928500, 500, '원(KRW)', '02-466-2266';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '078350', 'K', '한양디지텍', '32601', '반도체 제조업', 10000000, 5000000000, 500, '원(KRW)', '031-273-8600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '045100', 'K', '한양이엔지', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 18000000, 9000000000, 500, '원(KRW)', '031-695-0000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '046110', 'K', '한일네트웍스', '106301', '자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 11954227, 5977113500, 500, '원(KRW)', '02-3466-9100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024740', 'K', '한일단조', '33003', '자동차 신품 부품 제조업', 29891328, 14945664000, 500, '원(KRW)', '055-282-3201';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '005860', 'K', '한일사료', '31008', '동물용 사료 및 조제식품 제조업', 39403685, 19701842500, 500, '원(KRW)', '031 -280 -4025';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '123840', 'K', '한일진공', '32902', '특수 목적용 기계 제조업', 54977886, 5497788600, 100, '원(KRW)', '032-821-9300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '007770', 'K', '한일화학', '32001', '기초 화학물질 제조업', 3510000, 1755000000, 500, '원(KRW)', '02  -3448-4253';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '079170', 'K', '한창산업', '32402', '1차 비철금속 제조업', 5200000, 2600000000, 500, '원(KRW)', '(031)353-2970';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086960', 'K', '한컴MDS', '105802', '소프트웨어 개발 및 공급업', 8828608, 4844725000, 500, '원(KRW)', '031-627-3000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '054920', 'K', '한컴시큐어', '105802', '소프트웨어 개발 및 공급업', 14136552, 7068276000, 500, '원(KRW)', '031-622-6300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '215090', 'K', '한컴유니맥스', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 18152087, 1815208700, 100, '원(KRW)', '02-368-6298';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '077280', 'K', '한컴지엠디', '105802', '소프트웨어 개발 및 공급업', 11766339, 5883169500, 500, '원(KRW)', '031-622-6111';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '002680', 'K', '한탑', '31006', '곡물가공품, 전분 및 전분제품 제조업', 20800000, 10400000000, 500, '원(KRW)', '051 -626 -2841';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '066110', 'K', '한프', '32603', '컴퓨터 및 주변장치 제조업', 35444407, 17722203500, 500, '원(KRW)', '043-536-7561';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '265920', 'K', '한화수성스팩', '116601', '금융 지원 서비스업', 4440000, 444000000, 100, '원(KRW)', '02-3772-7318';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '264290', 'K', '한화에이스스팩3호', '116601', '금융 지원 서비스업', 3080000, 308000000, 100, '원(KRW)', '02-3772-7762';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '279410', 'K', '한화에이스스팩4호', '116601', '금융 지원 서비스업', 3495000, 349500000, 100, '원(KRW)', '02-3772-7762';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '102210', 'K', '해덕파워웨이', '33101', '선박 및 보트 건조업', 11355218, 5677609000, 500, '원(KRW)', '051-831-0101';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '220630', 'K', '해마로푸드서비스', '74603', '음·식료품 및 담배 도매업', 93897786, 9389778600, 100, '원(KRW)', '02-418-8884';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '034810', 'K', '해성산업', '126801', '부동산 임대 및 공급업', 9780000, 4890000000, 500, '원(KRW)', '02  -528 -1246';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '076610', 'K', '해성옵틱스', '32703', '사진장비 및 광학기기 제조업', 16675000, 8337500000, 500, '원(KRW)', '031-292-1555';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '220180', 'K', '핸디소프트', '105802', '소프트웨어 개발 및 공급업', 7463009, 3731504500, 500, '원(KRW)', '070-4483-9000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '008800', 'K', '행남사', '32302', '내화, 비내화 요업제품 제조업', 11386305, 5693152500, 500, '원(KRW)', '061 -280 -2000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '900270', 'K', '헝셩그룹', '116409', '기타 금융업', 80000000, 416446347, 0, '중국위안(CNY)', '86-595-85225128';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '170030', 'K', '현대공업', '33003', '자동차 신품 부품 제조업', 15340000, 7670000000, 500, '원(KRW)', '052-276-1900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '016790', 'K', '현대사료', '31008', '동물용 사료 및 조제식품 제조업', 6150486, 3075243000, 500, '원(KRW)', '041-563-8200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '048410', 'K', '현대아이비티', '32004', '기타 화학제품 제조업', 32574192, 16287096000, 500, '원(KRW)', '070-7008-0114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '026180', 'K', '현대정보기술', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 59537195, 59537195000, 1000, '원(KRW)', '02-2626-6000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039010', 'K', '현대통신', '32604', '통신 및 방송 장비 제조업', 8625000, 4312500000, 500, '원(KRW)', '02  -2240-9211';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '204990', 'K', '현성바이탈', '31007', '기타 식품 제조업', 31650123, 15825061500, 500, '원(KRW)', '02-2628-0550';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092300', 'K', '현우산업', '32602', '전자부품 제조업', 14317308, 7158654000, 500, '원(KRW)', '032-876-6105';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '053660', 'K', '현진소재', '32509', '기타 금속 가공제품 제조업', 12034034, 6017017000, 500, '원(KRW)', '(051)602-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '011080', 'K', '형지I&C', '31401', '봉제의복 제조업', 38955668, 19477834000, 500, '원(KRW)', '02 -2107 -6513';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '060560', 'K', '홈센타홀딩스', '116409', '기타 금융업', 84850378, 42425189000, 500, '원(KRW)', '053-210-5140';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064240', 'K', '홈캐스트', '32605', '영상 및 음향기기 제조업', 32220893, 16360488000, 500, '원(KRW)', '02-3400-8300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '039610', 'K', '화성밸브', '32901', '일반 목적용 기계 제조업', 7280000, 3640000000, 500, '원(KRW)', '053 -353 -5789';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '126640', 'K', '화신정공', '33003', '자동차 신품 부품 제조업', 36373887, 3637388700, 100, '원(KRW)', '054-330-5151';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086250', 'K', '화신테크', '32902', '특수 목적용 기계 제조업', 9700000, 4850000000, 500, '원(KRW)', '053-583-1171';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '204630', 'K', '화이브라더스코리아', '189001', '창작 및 예술관련 서비스업', 28613475, 2861347500, 100, '원(KRW)', '02-2299-8089';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '061250', 'K', '화일약품', '32102', '의약품 제조업', 14410958, 7205479000, 500, '원(KRW)', '031-628-3520';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '134780', 'K', '화진', '33003', '자동차 신품 부품 제조업', 24039448, 12019724000, 500, '원(KRW)', '054-335-9655';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '097870', 'K', '효성오앤비', '32003', '비료, 농약 및 살균, 살충제 제조업', 8490000, 4245000000, 500, '원(KRW)', '041-545-8116';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '050090', 'K', '휘닉스소재', '32602', '전자부품 제조업', 69138942, 34569471000, 500, '원(KRW)', '054-470-0885';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '205470', 'K', '휴마시스', '32103', '의료용품 및 기타 의약 관련제품 제조업', 27724009, 2772400900, 100, '원(KRW)', '031-478-8585';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '115160', 'K', '휴맥스', '32605', '영상 및 음향기기 제조업', 23911798, 11955899000, 500, '원(KRW)', '031-776-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '028080', 'K', '휴맥스홀딩스', '116409', '기타 금융업', 12577506, 6288753000, 500, '원(KRW)', '031-776-6114';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '200670', 'K', '휴메딕스', '32102', '의약품 제조업', 9347753, 4673876500, 500, '원(KRW)', '070-7492-5600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065510', 'K', '휴비츠', '32701', '의료용 기기 제조업', 11882871, 5941435500, 500, '원(KRW)', '(031)442-8868';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '243070', 'K', '휴온스', '32102', '의약품 제조업', 8168085, 4084042500, 500, '원(KRW)', '02-854-4700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '084110', 'K', '휴온스글로벌', '116409', '기타 금융업', 10404299, 5202149500, 500, '원(KRW)', '02-854-4700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '145020', 'K', '휴젤', '32101', '기초 의약물질 및 생물학적 제제 제조업', 4358205, 2179102500, 500, '원(KRW)', '02-6966-1600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '024060', 'K', '흥구석유', '74607', '기타 전문 도매업', 15000000, 1500000000, 100, '원(KRW)', '053 -424 -3395';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '010240', 'K', '흥국', '32902', '특수 목적용 기계 제조업', 12322696, 6161348000, 500, '원(KRW)', '041-546-7771';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '189980', 'K', '흥국에프엔비', '31102', '비알코올음료 및 얼음 제조업', 7341291, 3670645500, 500, '원(KRW)', '043-882-5666';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '037440', 'K', '희림', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 13922475, 6961237500, 500, '원(KRW)', '02-3410-9219';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '238490', 'K', '힘스', '32902', '특수 목적용 기계 제조업', 5261360, 2630680000, 500, '원(KRW)', '032-821-2511';

In [75]:
#konex
conn, cursor = setting_db()
for i in range(0, len(konex)):
    
    try:
        k = konex.loc[i]
        crp_cd = str(k[1])
        crp_cls = 'N'
        crp_nm = str(k[2])
        mrk_cd = str(int(k[3]))
        mrk_nm = str(k[4])
        listed = str(k[5]).replace(",","")
        capital = str(k[6]).replace(",","")
        par = str(k[7]).replace(",","")
    #    listed = int(k[5].replace(",","")) #int
    #    capital = float(k[6].replace(",","")) #decimal
    #    par = int(k[7].replace(",","")) #int
        currency = str(k[8])
        addr = str(k[9])
        sql = "insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"+crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '"+mrk_cd+"', '"+mrk_nm+"', "+listed+", "+capital+", "+par+", '"+currency+"', '"+addr+"';"
        print(sql)
        cursor.execute(sql)
    except:
        pass
conn.commit()

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '112190', 'N', 'KC산업', '32303', '시멘트, 석회, 플라스터 및 그 제품 제조업', 6627571, 3313785500, 500, '원(KRW)', '031-883-8684';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '224880', 'N', 'SGA임베디드', '105802', '소프트웨어 개발 및 공급업', 4418165, 2209082500, 500, '원(KRW)', '070-7410-9319';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '284610', 'N', 'TS트릴리온', '32004', '기타 화학제품 제조업', 18366500, 1836650000, 100, '원(KRW)', '02-785-8296';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '076340', 'N', '관악산업', '64201', '기반조성 및 시설물 축조관련 전문공사업', 4871460, 2435730000, 500, '원(KRW)', '02-2240-7900';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '223220', 'N', '구름게임즈앤컴퍼니', '105802', '소프트웨어 개발 및 공급업', 9589191, 4794595500, 500, '원(KRW)', '031-714-9909';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '243870', 'N', '굿센', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 1345951, 672975500, 500, '원(KRW)', '02-368-8055';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '186230', 'N', '그린플러스', '32402', '1차 비철금속 제조업', 2814304, 1407152000, 500, '원(KRW)', '041-332-6421';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '272420', 'N', '극동자동화', '64203', '전기 및 통신 공사업', 500000, 250000000, 500, '원(KRW)', '052-288-6208';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '244880', 'N', '나눔테크', '32701', '의료용 기기 제조업', 4000000, 2000000000, 500, '원(KRW)', '062-955-8588';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '167380', 'N', '나무기술', '105802', '소프트웨어 개발 및 공급업', 2312300, 1156150000, 500, '원(KRW)', '031-8060-0200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086220', 'N', '네추럴FNP', '31007', '기타 식품 제조업', 9332314, 4666157000, 500, '원(KRW)', '043-211-1056';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '229500', 'N', '노브메타파마', '137001', '자연과학 및 공학 연구개발업', 8655614, 4327807000, 500, '원(KRW)', '02-538-1893';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086080', 'N', '다이노나', '137001', '자연과학 및 공학 연구개발업', 15246481, 7623240500, 500, '원(KRW)', '02-578-0810';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '271850', 'N', '다이오진', '137001', '자연과학 및 공학 연구개발업', 3000000, 300000000, 100, '원(KRW)', '031-701-6488';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '178600', 'N', '대동고려삼', '31007', '기타 식품 제조업', 4400000, 2200000000, 500, '원(KRW)', '041-753-8803';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '114920', 'N', '대주이엔티', '32401', '1차 철강 제조업', 3469500, 1734750000, 500, '원(KRW)', '070-7015-1323';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '199150', 'N', '데이터스트림즈', '105802', '소프트웨어 개발 및 공급업', 4079598, 2039799000, 500, '원(KRW)', '02-3473-9077';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '183410', 'N', '데카시스템', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 10943255, 5471627500, 500, '원(KRW)', '1644-8481';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '270020', 'N', '두원석재', '20701', '토사석 광업', 2709811, 1354905500, 500, '원(KRW)', '033-761-8361';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '176750', 'N', '듀켐바이오', '32102', '의약품 제조업', 6870878, 3435439000, 500, '원(KRW)', '023324868';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '220110', 'N', '드림티엔터테인먼트', '137309', '그외 기타 전문, 과학 및 기술 서비스업', 7914262, 1582852400, 200, '원(KRW)', '02-3452-2525';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '197140', 'N', '디지캡', '105802', '소프트웨어 개발 및 공급업', 3153581, 1576790500, 500, '원(KRW)', '02-3477-2101';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '163430', 'N', '디피코', '137201', '건축기술, 엔지니어링 및 관련 기술 서비스업', 1837950, 918975000, 500, '원(KRW)', '031-688-1500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '232680', 'N', '라온테크', '32902', '특수 목적용 기계 제조업', 4259705, 2129852500, 500, '원(KRW)', '031-201-0005';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '285770', 'N', '라이프사이언스테크놀로지', '105802', '소프트웨어 개발 및 공급업', 3193000, 1596500000, 500, '원(KRW)', '070-8620-8020';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '200350', 'N', '래몽래인', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 1934674, 967337000, 500, '원(KRW)', '027619978';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '092590', 'N', '럭스피아', '32601', '반도체 제조업', 7291098, 3645549000, 500, '원(KRW)', '070-8671-2500';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '238500', 'N', '로보쓰리', '137309', '그외 기타 전문, 과학 및 기술 서비스업', 4682166, 2341083000, 500, '원(KRW)', '02-544-9145';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '162120', 'N', '루켄테크놀러지스', '32809', '기타 전기장비 제조업', 1600000, 800000000, 500, '원(KRW)', '070-8633-8009';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '200580', 'N', '메디쎄이', '32701', '의료용 기기 제조업', 3478159, 1739079500, 500, '원(KRW)', '031-879-0414';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '233250', 'N', '메디안디노스틱', '32103', '의료용품 및 기타 의약 관련제품 제조업', 1746534, 1083767000, 500, '원(KRW)', '033-244-0100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '236340', 'N', '메디젠휴먼케어', '137001', '자연과학 및 공학 연구개발업', 2304892, 1152446000, 500, '원(KRW)', '02-555-9808';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '267060', 'N', '명진홀딩스', '31002', '수산물 가공 및 저장 처리업', 7008926, 3504463000, 500, '원(KRW)', '070-7561-9468';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '279600', 'N', '미디어젠', '105802', '소프트웨어 개발 및 공급업', 2900000, 1450000000, 500, '원(KRW)', '02-6429-7100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '225850', 'N', '미애부', '74604', '생활용품 도매업', 3082333, 1541166500, 500, '원(KRW)', '1577-1401';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '214610', 'N', '미코바이오메드', '32701', '의료용 기기 제조업', 10863037, 5431518500, 500, '원(KRW)', '02-2025-3019';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '281310', 'N', '바이오시네틱스', '137001', '자연과학 및 공학 연구개발업', 2607190, 1303595000, 500, '원(KRW)', '02-2113-1285';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '216400', 'N', '바이오코아', '137001', '자연과학 및 공학 연구개발업', 6891676, 3445838000, 500, '원(KRW)', '02-2027-6200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '199290', 'N', '바이오프로테크', '32701', '의료용 기기 제조업', 3205690, 1602845000, 500, '원(KRW)', '033-735-7720';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '222160', 'N', '바이옵트로', '32702', '측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 5530184, 2765092000, 500, '원(KRW)', '031-8005-5155';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '242420', 'N', '본느', '32004', '기타 화학제품 제조업', 3242700, 1621350000, 500, '원(KRW)', '031-707-4111';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '206950', 'N', '볼빅', '33303', '운동 및 경기용구 제조업', 4183333, 2091666500, 500, '원(KRW)', 'nan';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '126340', 'N', '비나텍', '32602', '전자부품 제조업', 3542732, 1771366000, 500, '원(KRW)', '063-715-3020';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '215050', 'N', '비엔디생활건강', '32004', '기타 화학제품 제조업', 2121666, 212166600, 100, '원(KRW)', '02-552-8481';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '148780', 'N', '비플라이소프트', '105802', '소프트웨어 개발 및 공급업', 4745720, 2372860000, 500, '원(KRW)', '02-3487-0215';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '210120', 'N', '빅텐츠', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 1895000, 947500000, 500, '원(KRW)', '02-786-2245';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '266170', 'N', '뿌리깊은나무들', '105901', '영화, 비디오물, 방송프로그램 제작 및 배급업', 1958750, 979375000, 500, '원(KRW)', '02-565-1676';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '067370', 'N', '선바이오', '32102', '의약품 제조업', 7650940, 3825470000, 500, '원(KRW)', '031-423-5467';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '110660', 'N', '세신버팔로', '32509', '기타 금속 가공제품 제조업', 6000000, 3000000000, 500, '원(KRW)', '055-580-0600';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '135270', 'N', '세종머티리얼즈', '32402', '1차 비철금속 제조업', 5480263, 2740131500, 500, '원(KRW)', '031-491-1850';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '258250', 'N', '셀젠텍', '105802', '소프트웨어 개발 및 공급업', 3869548, 1934774000, 500, '원(KRW)', '042-822-9482';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '210610', 'N', '소프트캠프', '105802', '소프트웨어 개발 및 공급업', 1630000, 815000000, 500, '원(KRW)', '02-3420-4302';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '253840', 'N', '수젠텍', '32103', '의료용품 및 기타 의약 관련제품 제조업', 2774538, 1387269000, 500, '원(KRW)', '042-364-5001';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '185190', 'N', '수프로', '74602', '산업용 농·축산물 및 동·식물 도매업', 3325450, 1662725000, 500, '원(KRW)', '02-6300-2444';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '258540', 'N', '스템랩', '137001', '자연과학 및 공학 연구개발업', 1471047, 735523500, 500, '원(KRW)', '02-2070-1177';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '245030', 'N', '스페이스솔루션', '105802', '소프트웨어 개발 및 공급업', 1120000, 560000000, 500, '원(KRW)', '02-2027-5932';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '260870', 'N', '시그넷이브이', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 4757601, 2378800500, 500, '원(KRW)', '070-4618-6057';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '232830', 'N', '시큐센', '105802', '소프트웨어 개발 및 공급업', 1562746, 781373000, 500, '원(KRW)', '02-3497-6980';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '217320', 'N', '썬테크', '32801', '전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 1050000, 525000000, 500, '원(KRW)', '061-721-2222';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '236030', 'N', '씨알푸드', '31006', '곡물가공품, 전분 및 전분제품 제조업', 1980000, 990000000, 500, '원(KRW)', '043-645-4100';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '103660', 'N', '씨앗', '32004', '기타 화학제품 제조업', 3517480, 1758740000, 500, '원(KRW)', '062-940-7200';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '245450', 'N', '씨앤에스링크', '32604', '통신 및 방송 장비 제조업', 1039960, 519980000, 500, '원(KRW)', '070-8786-6458';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '189330', 'N', '씨이랩', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 2227520, 1113760000, 500, '원(KRW)', '02-2039-3147';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '189540', 'N', '씨티네트웍스', '32604', '통신 및 방송 장비 제조업', 2415990, 1207995000, 500, '원(KRW)', '041-742-0609';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '149010', 'N', '아이케이세미콘', '32601', '반도체 제조업', 3120000, 1560000000, 500, '원(KRW)', '02-3153-7090';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '251280', 'N', '안지오랩', '137001', '자연과학 및 공학 연구개발업', 1805914, 902957000, 500, '원(KRW)', '042-867-5785';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '271400', 'N', '알로이스', '32604', '통신 및 방송 장비 제조업', 2332000, 1166000000, 500, '원(KRW)', '07086805501';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '267810', 'N', '앙츠', '199501', '컴퓨터 및 통신장비 수리업', 1547000, 773500000, 500, '원(KRW)', '02-2677-9915';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '224810', 'N', '엄지하우스', '64204', '실내건축 및 건축마무리 공사업', 4200000, 2100000000, 500, '원(KRW)', '02-550-7840';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '208890', 'N', '에듀케이션파트너', '168507', '교육지원 서비스업', 1990820, 1990820000, 1000, '원(KRW)', '02-6337-5410';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '270660', 'N', '에브리봇', '32805', '가정용 기기 제조업', 1123380, 561690000, 500, '원(KRW)', '070-4913-8805';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '270210', 'N', '에스알바이오텍', '32004', '기타 화학제품 제조업', 462776, 231388000, 500, '원(KRW)', '031-726-3134';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '260970', 'N', '에스앤디', '31007', '기타 식품 제조업', 303642, 1518210000, 5000, '원(KRW)', '043-710-8000';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '158300', 'N', '에스에이티이엔지', '32902', '특수 목적용 기계 제조업', 3210000, 1605000000, 500, '원(KRW)', '031-433-4711';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '086460', 'N', '에스엔피제네틱스', '137001', '자연과학 및 공학 연구개발업', 1823850, 911925000, 500, '원(KRW)', '02-3273-1671';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '246250', 'N', '에스엘에스바이오', '137209', '기타 과학기술 서비스업', 6822103, 3411051500, 500, '원(KRW)', '031-275-5522';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '299670', 'N', '에스엠비나', '31401', '봉제의복 제조업', 1090000, 545000000, 500, '원(KRW)', '02-6953-7020';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '251540', 'N', '에스와이제이', '31401', '봉제의복 제조업', 5689382, 2844691000, 500, '원(KRW)', '070-8766-3228';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '217910', 'N', '에스제이켐', '32001', '기초 화학물질 제조업', 12990522, 1299052200, 100, '원(KRW)', '041-881-9454';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '224020', 'N', '에스케이씨에스', '32202', '플라스틱제품 제조업', 2700000, 1350000000, 500, '원(KRW)', 'nan';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '203400', 'N', '에이비온', '137001', '자연과학 및 공학 연구개발업', 12274528, 6137264000, 500, '원(KRW)', '02-6006-7610';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '234070', 'N', '에이원알폼', '147603', '산업용 기계 및 장비 임대업', 3533326, 1766663000, 500, '원(KRW)', '031-8017-5305';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '044990', 'N', '에이치엔에스하이텍', '32602', '전자부품 제조업', 7511064, 3755532000, 500, '원(KRW)', '042-866-1300';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '064850', 'N', '에프앤가이드', '116601', '금융 지원 서비스업', 6965000, 3482500000, 500, '원(KRW)', '02-769-7700';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '224760', 'N', '엔에스컴퍼니', '64102', '토목 건설업', 3939700, 1969850000, 500, '원(KRW)', '052-289-2888';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '276240', 'N', '엘리비젼', '32605', '영상 및 음향기기 제조업', 2340720, 1170360000, 500, '원(KRW)', '032-576-3050';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '183350', 'N', '엘피케이', '32902', '특수 목적용 기계 제조업', 4698324, 2349162000, 500, '원(KRW)', '032-341-1645';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '058970', 'N', '엠로', '105802', '소프트웨어 개발 및 공급업', 4815000, 2407500000, 500, '원(KRW)', '02-785-9848';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '225860', 'N', '엠앤씨생명과학', '32004', '기타 화학제품 제조업', 11358092, 1135809200, 100, '원(KRW)', '031-731-1401';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '251960', 'N', '엠에프엠코리아', '31403', '편조의복 제조업', 1040000, 5200000000, 5000, '원(KRW)', '02-531-5780';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '242850', 'N', '영현무역', '74601', '상품 중개업', 1620000, 810000000, 500, '원(KRW)', '02-851-1827';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '179720', 'N', '옐로페이', '105802', '소프트웨어 개발 및 공급업', 11250000, 5625000000, 500, '원(KRW)', '02-6354-9115';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '227420', 'N', '오백볼트', '137105', '회사 본부 및 경영 컨설팅 서비스업', 7587936, 3793968000, 500, '원(KRW)', '02-570-1905';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '173130', 'N', '오파스넷', '106201', '컴퓨터 프로그래밍, 시스템 통합 및 관리업', 2967502, 1483751000, 500, '원(KRW)', '1899-4507';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '216280', 'N', '원텍', '32701', '의료용 기기 제조업', 3990000, 1995000000, 500, '원(KRW)', '042-934-6802';
insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '065370', 'N', '위세아이텍', '105802', '소프트웨어 개발 및 공급업', 3400000, 1700000000, 500, '원(KRW)', '02-6246-1400';