start at July, 5th
- update issue manage

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import pymysql
from datetime import datetime

In [2]:
kospi = pd.read_csv('kospi(18.07.05).csv')
kosdaq = pd.read_csv('kosdaq(18.07.05).csv', error_bad_lines=False)
konex = pd.read_csv('konex(18.07.05).csv', error_bad_lines=False)

b'Skipping line 797: expected 12 fields, saw 14\n'
b'Skipping line 123: expected 13 fields, saw 16\n'

In [4]:
# MySQL Connection 연결 (DB 연결)
def setting_db():
    conn = pymysql.connect(host="localhost", 
                       port=3306, user="root", 
                       passwd="qlqtmajrwk",
                       db="yejinyDB",
                       charset="utf8")
    cursor = conn.cursor(pymysql.cursors.DictCursor) # 리스트로 받기(tuple은 conn.cursor())
    return conn, cursor

In [ ]:
# stockDB 만들기
conn, cursor = setting_db()
# 종목코드 crp_cd 법인구분 crp_cls 기업명 crp_nm 업종코드 mrk_cd 업종명 mrk_nm
# 상장주식수 listed(stocks) 자본금 capital 액면가 par(value) 통화 currency 주소 addr
sql = '''CREATE TABLE Corp (crp_cd nvarchar(45) NOT NULL,
                            crp_cls nvarchar(5) NOT NULL,
                            crp_nm nvarchar(150) NOT NULL,
                            mrk_cd nvarchar(45) NOT NULL,
                            mrk_nm nvarchar(150) NOT NULL,
                            listed bigint,
                            capital bigint,
                            par int,
                            currency nvarchar(20),
                            addr nvarchar(100),
                            PRIMARY KEY(crp_cd)
                            );
                            '''
cursor.execute(sql)
conn.commit()
conn.close()

In [42]:
kospi

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소,총카운트
0,1,095570,AJ네트웍스,147603.0,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)",779.0
1,2,068400,AJ렌터카,147601.0,운송장비 임대업,"22,146,300","11,073,150,000",500,원(KRW),1544-1600,서울특별시 구로구 서부샛길 822,779.0
2,3,006840,AK홀딩스,116409.0,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-6923-2921,서울특별시 구로구 구로중앙로 152(구로동),779.0
3,4,027410,BGF,74701.0,종합 소매업,"95,369,179","95,369,179,000","1,000",NaN,1577-3663,서울특별시 강남구 테헤란로 405,779.0
4,5,282330,BGF리테일,74701.0,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW),1577-3663,서울특별시 강남구 테헤란로 405 BGF사옥,779.0
5,6,138930,BNK금융지주,116409.0,기타 금융업,"325,935,246","1,629,676,230,000","5,000",원(KRW),051-620-3022,부산광역시 남구 문현금융로 30(문현동),779.0
6,7,001460,BYC,31401.0,봉제의복 제조업,"624,615","4,200,000,000","5,000",원(KRW),02-840-3175,서울특별시 영등포구 도림천로21길 3,779.0
7,8,001040,CJ,116409.0,기타 금융업,"29,176,998","157,914,810,000","5,000",원(KRW),02-726-8114,"서울특별시 중구 동호로 330 쌍림동, 씨제이제일제당센터",779.0
8,9,079160,CJ CGV,105901.0,"영화, 비디오물, 방송프로그램 제작 및 배급업","21,161,313","10,580,656,500",500,원(KRW),02-371-6660,서울특별시 용산구 한강대로23길 55 아이파크몰 6층(한강로동),779.0
9,10,000120,CJ대한통운,84903.0,도로 화물 운송업,"22,812,344","114,061,720,000","5,000",원(KRW),02-3782-0114,서울특별시 중구 세종대로9길 53,779.0
10,11,011150,CJ씨푸드,31007.0,기타 식품 제조업,"35,930,773","18,065,386,500",500,원(KRW),031-730-9114,경기도 성남시 중원구 둔촌대로388번길 32 (상대원동),779.0
11,12,097950,CJ제일제당,31007.0,기타 식품 제조업,"15,053,186","81,903,095,000","5,000",원(KRW),726-8114,서울특별시 중구 동호로 330,779.0
12,13,037560,CJ헬로,106002.0,텔레비전 방송업,"77,446,865","193,617,162,500","2,500",원(KRW),02-1855-1000,"서울특별시 마포구 월드컵북로56길 19 6층(상암동, 드림타워)",779.0
13,14,000590,CS홀딩스,116409.0,기타 금융업,"1,154,482","5,772,410,000","5,000",원(KRW),02-3459-9363,경상북도 포항시 남구 괴동로 43 (장흥동),779.0
14,15,012030,DB,106201.0,"컴퓨터 프로그래밍, 시스템 통합 및 관리업","201,173,933","100,586,966,500",500,원(KRW),02-2136-6000,서울특별시 강남구 삼성로96길 23 7층,779.0
15,16,016610,DB금융투자,116601.0,금융 지원 서비스업,"42,446,389","212,231,945,000","5,000",원(KRW),02-369-3000,서울특별시 영등포구 국제금융로8길 32 동부증권빌딩,779.0
16,17,005830,DB손해보험,116501.0,보험업,"70,800,000","35,400,000,000",500,원(KRW),02-1588-0100,서울특별시 강남구 테헤란로 432,779.0
17,18,000990,DB하이텍,32601.0,반도체 제조업,"44,398,588","222,554,520,000","5,000",원(KRW),02-3484-2888,서울특별시 강남구 테헤란로 432 (주)동부하이텍,779.0
18,19,139130,DGB금융지주,116409.0,기타 금융업,"169,145,833","845,729,165,000","5,000",원(KRW),0537407900,대구광역시 북구 옥산로 111 대구은행 제2본점 9층,779.0
19,20,004840,DRB동일,116409.0,기타 금융업,"19,480,000","9,740,000,000",500,원(KRW),051-520-9000,부산광역시 금정구 공단동로55번길 28,779.0
20,21,155660,DSR,32402.0,1차 비철금속 제조업,"16,000,000","8,000,000,000",500,원(KRW),02-3420-3591,부산광역시 강서구 녹산산업중로192번길 7,779.0
21,22,069730,DSR제강,32401.0,1차 철강 제조업,"14,400,000","7,200,000,000",500,원(KRW),061-752-0121,전라남도 순천시 서면 산단1길 15,779.0
22,23,017940,E1,74607.0,기타 전문 도매업,"6,860,000","34,300,000,000","5,000",원(KRW),02-3441-4114,"서울특별시 강남구 영동대로 517 아셈타워 13,14층",779.0
23,24,007700,F&F,31401.0,봉제의복 제조업,"15,400,000","7,700,000,000",500,원(KRW),02-520-0001,"서울특별시 강남구 언주로 541(역삼동,외 에프앤에프빌딩)",779.0
24,25,114090,GKL,189102.0,유원지 및 기타 오락관련 서비스업,"61,855,670","30,927,835,000",500,원(KRW),3466-6209,서울특별시 강남구 삼성로 610 삼성동,779.0
25,26,078930,GS,116409.0,기타 금융업,"92,915,378","473,501,020,000","5,000",원(KRW),-,서울특별시 강남구 논현로 508,779.0
26,27,006360,GS건설,64101.0,건물 건설업,"74,183,027","370,915,135,000","5,000",원(KRW),02-2154-1112,서울특별시 종로구 종로 33 그랑서울,779.0
27,28,001250,GS글로벌,74608.0,상품 종합 도매업,"82,533,764","206,334,410,000","2,500",원(KRW),02-2270-8114,서울특별시 강남구 논현로 508 GS강남타워,779.0
28,29,007070,GS리테일,74701.0,종합 소매업,"77,000,000","77,000,000,000","1,000",원(KRW),02-2005-1114,서울특별시 강남구 논현로 508GS타워(역삼동 679),779.0
29,30,012630,HDC,64101.0,건물 건설업,"31,445,960","157,229,800,000","5,000",원(KRW),02-2008-9114,서울특별시 강남구 영동대로 520 아이파크타워,779.0
...,...,...,...,...,...,...,...,...,...,...,...,...
751,750,009540,현대중공업,33101.0,선박 및 보트 건조업,"69,165,426","345,827,130,000","5,000",원(KRW),052-202-2114,울산광역시 동구 방어진순환도로 1000 현대중공업,779.0
752,751,267250,현대중공업지주,116409.0,기타 금융업,"16,286,617","81,433,085,000","5,000",원(KRW),053-670-7114,대구광역시 달성군 유가면 테크노순환로3길 50,779.0
753,752,001500,현대차투자증권,116601.0,금융 지원 서비스업,"29,337,111","146,685,555,000","5,000",원(KRW),02-3787-2114,서울특별시 영등포구 국제금융로2길 32,779.0
754,753,227840,현대코퍼레이션홀딩스,74603.0,음·식료품 및 담배 도매업,"9,100,836","45,504,180,000","5,000",원(KRW),02-390-1568,서울특별시 종로구 율곡로2길 25,779.0
755,754,001450,현대해상,116501.0,보험업,"89,400,000","44,700,000,000",500,원(KRW),02-1588-5656,서울 종로구 세종로 현대해상화재보험빌딩,779.0
756,755,057050,현대홈쇼핑,74709.0,무점포 소매업,"12,000,000","60,000,000,000","5,000",원(KRW),02-2143-2000,서울특별시 강동구 올림픽로70길 34,779.0
757,756,093240,형지엘리트,31401.0,봉제의복 제조업,"19,154,798","9,577,399,000",500,원(KRW),02-3279-8015,서울특별시 강남구 테헤란로38길 12 디앤와이빌딩,779.0
758,757,003010,혜인,74605.0,기계장비 및 관련 물품 도매업,"12,712,747","6,356,373,500",500,원(KRW),02-3498-4500,서울특별시 서초구 동산로 86 혜인빌딩,779.0
759,758,111110,호전실업,31401.0,봉제의복 제조업,"8,000,000","4,657,880,000",500,원(KRW),02-706-6613,"서울특별시 마포구 마포대로 19 신화빌딩, 11층, 12층",779.0
760,759,008770,호텔신라,74708.0,기타 상품 전문 소매업,"39,248,121","200,000,000,000","5,000",원(KRW),02-2233-3131,서울특별시 중구 동호로 249 (주) 호텔신라,779.0
761,760,002460,화성산업,64101.0,건물 건설업,"12,450,800","62,254,000,000","5,000",원(KRW),053-767-2111,대구광역시 수성구 동대구로 111,779.0
762,761,013520,화승알앤에이,33003.0,자동차 신품 부품 제조업,"64,561,210","32,280,605,000",500,원(KRW),055-370-3331-4,경상남도 양산시 충렬로 61,779.0
763,762,241590,화승엔터프라이즈,116409.0,기타 금융업,"60,536,670","30,268,335,000",500,원(KRW),02-588-8042,"부산광역시 연제구 중앙대로 1079 장천빌딩 6층 (연산동, 장천빌딩)",779.0
764,763,006060,화승인더스트리,32202.0,플라스틱제품 제조업,"55,320,000","27,660,000,000",500,원(KRW),051-311-0081,부산광역시 연제구 중앙대로 1079 장천빌딩 6층,779.0
765,764,010690,화신,33003.0,자동차 신품 부품 제조업,"34,920,410","17,460,205,000",500,원(KRW),054-330-5400,경상북도 영천시 도남공단길 94-2,779.0
766,765,133820,화인베스틸,32401.0,1차 철강 제조업,"29,550,000","16,050,000,000",500,원(KRW),055-259-2000,경상남도 창녕군 창녕읍 창밀로 259-33,779.0
767,766,010660,화천기계,32902.0,특수 목적용 기계 제조업,"2,200,000","11,000,000,000","5,000",원(KRW),02-523-7766,서울특별시 서초구 방배로 46,779.0
768,767,000850,화천기공,32902.0,특수 목적용 기계 제조업,"2,200,000","11,000,000,000","5,000",원(KRW),062-951-5111,광주광역시 광산구 하남산단4번로 123-17 (장덕동) 화천기공(주),779.0
769,768,016580,환인제약,32102.0,의약품 제조업,"18,600,070","9,700,035,000",500,원(KRW),02-405-3000,"서울특별시 송파구 법원로6길 11 (문정동, 환인빌딩)",779.0
770,769,032560,황금에스티,32402.0,1차 비철금속 제조업,"14,000,000","7,000,000,000",500,원(KRW),031-363-8000,경기도 안산시 단원구 엠티브이1로 25 (주)황금에스티,779.0
771,770,004800,효성,32005.0,화학섬유 제조업,"35,117,455","175,587,275,000","5,000",원(KRW),02-707-7000,서울특별시 마포구 마포대로 119 (공덕동),779.0
772,771,094280,효성 ITX,147509.0,기타 사업지원 서비스업,"11,558,200","5,779,100,000",500,원(KRW),02-2102-8400,서울특별시 영등포구 선유동2로 57 이레빌딩 15층,779.0
773,772,093370,후성,32001.0,기초 화학물질 제조업,"92,606,819","46,303,409,500",500,원(KRW),02-553-0097,경기도 화성시 팔탄면 현대기아로 72-37,779.0
774,773,081660,휠라코리아,74604.0,생활용품 도매업,"61,115,070","61,674,420,000","1,000",원(KRW),02-523-6100,"서울특별시 서초구 명달로 6 (서초동, 11호)",779.0
775,774,005870,휴니드테크놀러지스,32604.0,통신 및 방송 장비 제조업,"14,116,015","70,580,075,000","5,000",원(KRW),032-457-6000,인천광역시 연수구 벤처로 87,779.0
776,775,079980,휴비스,32005.0,화학섬유 제조업,"34,500,000","172,500,000,000","5,000",원(KRW),02-2189-4567,서울특별시 강남구 학동로 343,779.0
777,776,005010,휴스틸,32401.0,1차 철강 제조업,"7,534,848","37,674,240,000","5,000",원(KRW),02-828-9000,"서울특별시 강남구 테헤란로 512 (대치동, 신안빌딩 14층)",779.0
778,777,069260,휴켐스,32004.0,기타 화학제품 제조업,"40,878,588","40,878,588,000","1,000",원(KRW),02-2262-0600,서울특별시 중구 퇴계로 173 19층,779.0
779,778,000540,흥국화재,116501.0,보험업,"64,242,645","325,821,225,000","5,000",원(KRW),02-2002-6000,서울특별시 종로구 새문안로 68,779.0
780,779,003280,흥아해운,85001.0,해상 운송업,"175,643,430","87,821,715,000",500,원(KRW),02-3449-3000,서울특별시 송파구 새말로5길 21 흥아해운 빌딩,NaN

In [45]:
type(kospi)

pandas.core.frame.DataFrame

In [50]:
len(kospi)

781

In [7]:
conn.commit()

In [8]:
conn, cursor = setting_db()

for i in range(0, len(kospi)):
    k = kospi.loc[i]
    crp_cd = str(k[1])
    crp_cls = 'Y'
    crp_nm = k[2]
    mrk_cd = str(k[3])
    mrk_nm = k[4]
    listed = k[5].replace(",","")
    capital = k[6].replace(",","")
    par = k[7].replace(",","")
#    listed = int(k[5].replace(",","")) #int
#    capital = float(k[6].replace(",","")) #decimal
#    par = int(k[7].replace(",","")) #int
    currency = k[8]
    addr = k[9]
    sql = "insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"+crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '"+mrk_cd+"', '"+mrk_nm+"', "+listed+", "+capital+", "+par+", '"+currency+"', '"+addr+"';"
    cursor.execute(sql)
    
conn.commit()
conn.close()

IntegrityError: (1062, "Duplicate entry '095570' for key 'PRIMARY'")

In [90]:
k = kospi.loc[780] #각각 str
k

번호                                  779
종목코드                             003280
기업명                                흥아해운
업종코드                              85001
업종                               해상 운송업
상장주식수(주)                    175,643,430
자본금(원)                   87,821,715,000
액면가(원)                              500
통화구분                             원(KRW)
대표전화                       02-3449-3000
주소          서울특별시 송파구  새말로5길 21 흥아해운 빌딩
총카운트                                NaN
Name: 780, dtype: object

In [101]:
crp_cd = k[1]
crp_cls = 'Y'
crp_nm = k[2]
mrk_cd = k[3]
mrk_nm = k[4]
listed = k[5]
capital = k[6]
par = k[7]
currency = k[8]
addr = k[9]
print(addr+par)

02-3449-3000500

In [117]:
print(mrk_cd)
print(str(mrk_cd))

147603.0
147603.0

In [118]:
print(type(currency))

<class 'str'>

In [109]:
print("insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"
      +crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '")

insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '003280', 'Y', '흥아해운', '

In [100]:
print("insert into Corp(crp_cd, crp_cls, crp_nm, mrk_cd, mrk_nm, listed, capital, par, currency, addr) select '"+crp_cd+"', '"+crp_cls+"', '"+crp_nm+"', '"+mrk_cd+"', '"+mrk_nm+"', '"+listed+"', '"+capital+"', '"+par+"', '"+currency+"', '"+addr+"';")

TypeError: Can't convert 'numpy.float64' object to str implicitly