In [78]:
from datetime import datetime
from time import sleep
import pymysql
import pandas as pd

In [64]:
# MySQL Connection 연결 (DB 연결)
def setting_db():
    conn = pymysql.connect(host="localhost", 
                       port=3306, user="root", 
                       passwd="qlqtmajrwk",
                       db="yejinyDB",
                       charset="utf8")
    cursor = conn.cursor()# (pymysql.cursors.DictCursor) # 리스트로 받기(tuple은 conn.cursor())
    return conn, cursor

In [30]:
while True:
    today = datetime.today()
    if today.hour == 16:
        print(today.month, "월", today.day, "일", " Close data 가 기록되었습니다.")
        sleep(3600) #1시간 sleep
    else:
        sleep(3600) #10시간 sleep

KeyboardInterrupt:

In [39]:
# Close Table 만들기
conn, cursor = setting_db()
# 종목코드 crp_cd 법인구분 crp_cls 기업명 crp_nm 업종코드 mrk_cd 업종명 mrk_nm
# 상장주식수 listed(stocks) 자본금 capital 액면가 par(value) 통화 currency 주소 addr
sql = '''CREATE TABLE Close (
                            crp_cd nvarchar(45) NOT NULL,
                            today_dt datetime NOT NULL,
                            open bigint,
                            high bigint,
                            low bigint,
                            close bigint,
                            diff bigint,
                            volume bigint,
                            primary key (crp_cd, today_dt)
                    );
                    '''
cursor.execute(sql)
conn.commit()
conn.close()

In [65]:
#select crp_cd from Crp table
conn, cursor = setting_db()
sql = "select crp_cd from Corp where crp_cls = 'Y' or crp_cls = 'K';"
cursor.execute(sql)
rows = cursor.fetchall()
conn.commit()
conn.close()

In [69]:
len(rows)

2050

In [71]:
li = []
for i in range(0, len(rows)):
    li.append(rows[i][0])

In [73]:
len(li)

2050

In [74]:
def get_url(code):
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)
    print('요청 URL = {}'.format(url))
    return url

In [103]:
url = get_url(li[0])
df = pd.DataFrame()
for page in range(1, 11):
    pg_url = '{url}&page={page}'.format(url=url, page=page)
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)
df = df.dropna()
df = df.rename(columns= {'날짜': 'today_dt', '종가': 'close', '전일비': 'diff', '시가': 'open', '고가': 'high', '저가': 'low', '거래량': 'volume'})

요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000020

In [128]:
fail = []

In [ ]:
for i in range(i, len(li)):
    url = get_url(li[i])
    df = pd.DataFrame()
    for page in range(1, 11):
        pg_url = '{url}&page={page}'.format(url=url, page=page)
        df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)
    df = df.dropna()
    df = df.rename(columns= {'날짜': 'today_dt', '종가': 'close', '전일비': 'diff', '시가': 'open', '고가': 'high', '저가': 'low', '거래량': 'volume'})
    df['crp_cd'] = li[i]
    try:
        df.to_sql(name='Close', con=engine, if_exists='append')
    except:
        print("위의 요청이 실패함")
        fail.append(li[i])
        continue

요청 URL = http://finance.naver.com/item/sise_day.nhn?code=026260
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=026890
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=026910
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=026940
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=026960
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=027040

In [132]:
fail

['018250']

In [133]:
li[i]

'026260'

In [ ]:
http://finance.naver.com/item/sise_day.nhn?code=016790

In [123]:
df

       today_dt    close    diff     open     high      low     volume  crp_cd
1    2018.07.18  24150.0  1800.0  25650.0  26450.0  24100.0   151071.0  016790
2    2018.07.17  25950.0   950.0  26650.0  27050.0  25850.0   119713.0  016790
3    2018.07.16  26900.0   700.0  27900.0  27900.0  26800.0   120715.0  016790
4    2018.07.13  27600.0   200.0  28300.0  28700.0  27250.0   243111.0  016790
5    2018.07.12  27400.0  1100.0  28300.0  28950.0  27400.0   241891.0  016790
9    2018.07.11  28500.0  1050.0  27300.0  30450.0  26200.0   692967.0  016790
10   2018.07.10  27450.0   150.0  28500.0  28750.0  27300.0   161285.0  016790
11   2018.07.09  27600.0  2700.0  28500.0  29500.0  26800.0   329965.0  016790
12   2018.07.06  30300.0   450.0  31150.0  31550.0  28400.0   665941.0  016790
13   2018.07.05  29850.0  1450.0  31750.0  33050.0  29750.0   766990.0  016790
16   2018.07.04  31300.0   750.0  31150.0  32600.0  30800.0   712068.0  016790
17   2018.07.03  32050.0  3350.0  30350.0  32350.0  29300.0  1637771.0  016790
18   2018.07.02  28700.0  2700.0  29350.0  33250.0  28700.0  1251621.0  016790
19   2018.06.29  31400.0   800.0  35400.0  36250.0  30200.0  2773533.0  016790
20   2018.06.28  32200.0  7400.0  24750.0  32200.0  24550.0  2401475.0  016790
24   2018.06.27  24800.0  2700.0  27800.0  28500.0  23600.0   506095.0  016790
25   2018.06.26  27500.0  2600.0  29200.0  30000.0  27450.0   425901.0  016790
26   2018.06.25  30100.0  2100.0  31800.0  34100.0  30100.0   537883.0  016790
27   2018.06.22  32200.0  2000.0  36800.0  37500.0  30600.0  1076335.0  016790
28   2018.06.21  34200.0   500.0  35400.0  38450.0  33400.0  1582150.0  016790
31   2018.06.20  33700.0   500.0  35800.0  37000.0  33600.0   677335.0  016790
32   2018.06.19  34200.0   700.0  33350.0  39350.0  33250.0  2004043.0  016790
33   2018.06.18  33500.0  2950.0  29000.0  37850.0  28750.0  4757184.0  016790
34   2018.06.15  30550.0  7050.0  22900.0  30550.0  21800.0  2495153.0  016790
35   2018.06.14  23500.0  4750.0  26800.0  27000.0  22350.0   418751.0  016790
39   2018.06.12  28250.0  3250.0  30850.0  31000.0  28000.0   533335.0  016790
40   2018.06.11  31500.0   500.0  34350.0  34500.0  29250.0  1359270.0  016790
41   2018.06.08  32000.0  1000.0  31250.0  35450.0  31150.0  1491069.0  016790
42   2018.06.07  31000.0  2100.0  31300.0  36450.0  29150.0  3238345.0  016790
43   2018.06.05  28900.0  6650.0  27200.0  28900.0  26300.0  2449058.0  016790
46   2018.06.04  22250.0  5100.0  19950.0  22250.0  19900.0  1318127.0  016790
47   2018.06.01  17150.0  3950.0  13200.0  17150.0  13200.0   426760.0  016790
61   2018.06.04  22250.0  5100.0  19950.0  22250.0  19900.0  1318127.0  016790
62   2018.06.01  17150.0  3950.0  13200.0  17150.0  13200.0   426760.0  016790
76   2018.06.04  22250.0  5100.0  19950.0  22250.0  19900.0  1318127.0  016790
77   2018.06.01  17150.0  3950.0  13200.0  17150.0  13200.0   426760.0  016790
91   2018.06.04  22250.0  5100.0  19950.0  22250.0  19900.0  1318127.0  016790
92   2018.06.01  17150.0  3950.0  13200.0  17150.0  13200.0   426760.0  016790
106  2018.06.04  22250.0  5100.0  19950.0  22250.0  19900.0  1318127.0  016790
107  2018.06.01  17150.0  3950.0  13200.0  17150.0  13200.0   426760.0  016790
121  2018.06.04  22250.0  5100.0  19950.0  22250.0  19900.0  1318127.0  016790
122  2018.06.01  17150.0  3950.0  13200.0  17150.0  13200.0   426760.0  016790
136  2018.06.04  22250.0  5100.0  19950.0  22250.0  19900.0  1318127.0  016790
137  2018.06.01  17150.0  3950.0  13200.0  17150.0  13200.0   426760.0  016790

In [115]:
df['crp_cd'] = li[0]

In [97]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+"qlqtmajrwk"+"@localhost/yejinyDB", encoding='utf-8')
conn = engine.connect()

In [117]:
df.to_sql(name='Close', con=engine, if_exists='append')